<ion-view title="Credits" id="credits" hide-nav-bar="true">
    <ion-content class="has-header" scroll="false">
        <div class="logo">
            <svg class="praps-logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
                        <path fill="#FF6347" d="M231.385,293H68.682c-34.311,0-62.125-27.814-62.125-62.125V69.125C6.557,34.814,34.371,7,68.682,7h162.703
                            c34.311,0,62.125,27.814,62.125,62.125v161.75C293.51,265.186,265.696,293,231.385,293z"/>
                        <g>
                            <path fill="#FFFFFF" d="M253.215,267.862l-4.725-12.174h-0.641c-4.113,5.18-8.344,8.771-12.695,10.772s-10.024,3.003-17.019,3.003
                                c-8.597,0-15.364-2.455-20.303-7.368c-4.938-4.911-7.408-11.905-7.408-20.983c0-9.503,3.323-16.511,9.972-21.023
                                c6.646-4.512,16.67-7.008,30.073-7.488l15.537-0.48v-3.925c0-9.076-4.646-13.615-13.936-13.615c-7.155,0-15.565,2.162-25.228,6.487
                                l-8.09-16.498c10.305-5.393,21.73-8.09,34.278-8.09c12.014,0,21.224,2.617,27.632,7.85c6.406,5.232,9.609,13.188,9.609,23.866
                                v59.667H253.215z M206.363,155.336c0-3.47,1-6.139,3.003-8.009c2.002-1.869,4.712-2.803,8.129-2.803
                                c3.524,0,6.287,0.989,8.289,2.963c2.003,1.976,3.003,4.593,3.003,7.849c0,3.204-1.014,5.78-3.043,7.729
                                c-2.029,1.95-4.779,2.924-8.249,2.924c-3.417,0-6.127-0.934-8.129-2.804C207.363,161.316,206.363,158.7,206.363,155.336z
                                 M246.007,226.376l-9.45,0.32c-7.102,0.214-12.388,1.495-15.857,3.845c-3.473,2.35-5.207,5.926-5.207,10.731
                                c0,6.888,3.951,10.332,11.854,10.332c5.659,0,10.184-1.629,13.576-4.886c3.39-3.256,5.085-7.581,5.085-12.975V226.376z
                                 M238.639,155.336c0-3.736,1.081-6.474,3.244-8.209c2.162-1.734,4.845-2.603,8.049-2.603c3.47,0,6.232,0.961,8.289,2.883
                                c2.055,1.922,3.084,4.565,3.084,7.929c0,3.258-1.042,5.847-3.124,7.769c-2.083,1.923-4.833,2.884-8.249,2.884
                                c-3.204,0-5.887-0.867-8.049-2.604C239.72,161.65,238.639,158.968,238.639,155.336z"/>
                        </g>
                        </svg>
            <span class="app-version">Version {{ versionNumber }}</span>
        </div>
        <div class="content">

            <p class="text">
                <span class="praps">Präpp</span>
                is proudly brought to you by the Weinberg College of Arts and Sciences Multimedia Learning Center at
                <span class="nu">Northwestern University</span>.
                <a class="mmlc" ng-click="goToMMLC()">
                    <svg class="mmlc-logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 339.5 138" enable-background="new 0 0 339.5 138" xml:space="preserve">
                    <g>
                        <g>
                            <g>
                                <g>
                                    <path fill="#FFFFFF" d="M8.4,57.3c0-5.5-0.1-10.1-0.4-14.5h8.5l0.4,8.6h0.3c3-5.1,8-9.9,16.8-9.9c7.3,0,12.8,4.4,15.2,10.7h0.2
                                        c1.7-3,3.8-5.3,6-7c3.2-2.4,6.8-3.8,11.8-3.8c7.1,0,17.6,4.7,17.6,23.2v31.6h-9.5V66.1c0-10.3-3.8-16.5-11.6-16.5
                                        c-5.5,0-9.9,4.1-11.5,8.9c-0.4,1.3-0.8,3.1-0.8,4.9v33.1h-9.5V64.3c0-8.5-3.8-14.7-11.2-14.7c-6.1,0-10.5,4.9-12.1,9.7
                                        c-0.6,1.4-0.8,3.1-0.8,4.8v32.3H8.4V57.3z"/>
                                    <path fill="#FFFFFF" d="M100.7,57.3c0-5.5-0.1-10.1-0.4-14.5h8.5l0.4,8.6h0.3c3-5.1,8-9.9,16.8-9.9c7.3,0,12.8,4.4,15.2,10.7
                                        h0.2c1.7-3,3.8-5.3,6-7c3.2-2.4,6.8-3.8,11.8-3.8c7.1,0,17.6,4.7,17.6,23.2v31.6h-9.5V66.1c0-10.3-3.8-16.5-11.6-16.5
                                        c-5.5,0-9.9,4.1-11.5,8.9c-0.4,1.3-0.8,3.1-0.8,4.9v33.1h-9.5V64.3c0-8.5-3.8-14.7-11.2-14.7c-6.1,0-10.5,4.9-12.1,9.7
                                        c-0.6,1.4-0.8,3.1-0.8,4.8v32.3h-9.5V57.3z"/>
                                    <path fill="#FFFFFF" d="M193,17.8h9.7v78.6H193V17.8z"/>
                                    <path fill="#FFFFFF" d="M257.3,94.4c-2.5,1.3-8.2,3.1-15.4,3.1c-16.2,0-26.7-11-26.7-27.3c0-16.5,11.3-28.5,28.8-28.5
                                        c5.8,0,10.8,1.4,13.5,2.8l-2.2,7.5c-2.3-1.3-6-2.5-11.3-2.5c-12.3,0-18.9,9.1-18.9,20.3c0,12.4,8,20,18.6,20
                                        c5.5,0,9.2-1.4,12-2.7L257.3,94.4z"/>
                                </g>
                                <g>
                                    <path fill="#7D469A" d="M259.9,61c4.5,4.5,4.5,11.7,0,16.1l-8.1-8.1L259.9,61z"/>
                                    <path fill="#7D469A" d="M276,93.2c13.4-13.4,13.4-35,0-48.3l0,0l-8,8c8.9,8.9,8.9,23.3,0,32.2L276,93.2z"/>
                                    <path fill="#7D469A" d="M292.1,28.8l-8,8c17.8,17.8,17.8,46.6,0,64.4l8,8C314.4,87,314.4,51,292.1,28.8L292.1,28.8z"/>
                                    <path fill="#7D469A" d="M308.2,125.4c31.2-31.2,31.2-81.6,0-112.8l0,0l-8.1,8.1c26.7,26.7,26.7,69.9,0,96.6L308.2,125.4z"/>
                                </g>
                            </g>
                        </g>
                    </g>
                    </svg>
                </a>
                <!--<a class="nu" ng-click="goToNU()">at Northwestern University</a>-->
            </p>
            <!--<a class="mmlc" ng-click="go()">
                <img src="img/mmlc-i.png">
            </a>-->
            <!--<ul class="people">
                <li class="person">
                    <span class="dot one"></span>
                    <span class="name">Ruby Hash</span>
                    <span class="role">Code</span>
                </li>
                <li class="person">
                    <span class="dot two"></span>
                    <span class="name">Lua Function</span>
                    <span class="role">Design</span>
                </li>
                <li class="person">
                    <span class="dot three"></span>
                    <span class="name">Java Class</span>
                    <span class="role">Content</span>
                </li>
                <li class="person">
                    <span class="dot four"></span>
                    <span class="name">Python Tuple</span>
                    <span class="role">Mentor</span>
                </li>
            </ul>-->
        </div>
        <a class="praps-ok-button" nav-clear href="#/praps/dashboard"></a>
    </ion-content>
</ion-view>
