<ion-view title="Dashboard">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
   <ion-nav-buttons side="right">
           <a href="#/praps/credits" nav-clear class="button icon button-icon ion-ios-information-outline"></a>
    </ion-nav-buttons>
    <ion-content class="has-header" scroll="false" id="dashboard">
        <div class="praps-dashboard">
            <div class="" id="data-load-status-bar">
                <ion-spinner class=""></ion-spinner> <!--todo: figure out this -->
                <span class="icon ion-ios-cloud-download-outline"></span>
                <span class="message">try to download the newest set</span>
            </div>
            <div class="top-row-wrap">
                <section id="one">
                    <span class="upper">you played</span>
                    <a class="circle" href="#/praps/played" nav-transition="ios">{{ gamesPlayed }}</a>
                    <span class="lower">times</span>
                </section>
                <section id="two">
                    <span class="upper">you learned</span>
                    <a class="circle" href="#/praps/learned" nav-transition="ios">{{ rulesLearned }}</a>
                    <span class="lower">rules</span>
                </section>
            </div>
            <section id="three">
                <span class="triangle">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         viewBox="0 0 262 240" enable-background="new 0 0 262 240" xml:space="preserve">
                        <path fill="#59843D" d="M10.333,224.136v-0.08c0-1.127,0.307-2.232,0.888-3.197L127.87,27.149c2.413-4.007,8.225-3.999,10.627,0.014
                            l115.956,193.701c0.576,0.962,0.88,2.062,0.88,3.183v0.089c0,3.423-2.775,6.198-6.198,6.198H16.531
                            C13.108,230.333,10.333,227.559,10.333,224.136z"/>
                        <g>
                            <defs>
                                <polygon id="XMLID_1_" points="10.333,222.334 132.557,10.306 255.333,222.333 		"/>
                            </defs>
                            <use xlink:href="#XMLID_1_"  overflow="visible" fill="#78BA52"/>
                            <clipPath id="XMLID_3_">
                                <use xlink:href="#XMLID_1_"  overflow="visible"/>
                            </clipPath>
                            <rect class="grey-1" x="13.333" y="10.306" clip-path="url(#XMLID_3_)" fill="#888888" width="239" height="266.027"/>
                        </g>
                    </svg>
                    <span class="percent">{{ averagePerGame }}%</span>
                </span>
                <span class="lower">average per game</span>
            </section>
            <section id="four">
                <span class="triangle">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         viewBox="0 0 262 240" enable-background="new 0 0 262 240" xml:space="preserve">
                        <path fill="#64468c" d="M10.333,224.136v-0.08c0-1.127,0.307-2.232,0.888-3.197L127.87,27.149c2.413-4.007,8.225-3.999,10.627,0.014
                            l115.956,193.701c0.576,0.962,0.88,2.062,0.88,3.183v0.089c0,3.423-2.775,6.198-6.198,6.198H16.531
                            C13.108,230.333,10.333,227.559,10.333,224.136z"/>
                        <g>
                            <defs>
                                <polygon id="XMLID_1_" points="10.333,222.334 132.557,10.306 255.333,222.333 		"/>
                            </defs>
                            <use xlink:href="#XMLID_1_"  overflow="visible" fill="#9352c1"/>
                            <clipPath id="XMLID_3_">
                                <use xlink:href="#XMLID_1_"  overflow="visible"/>
                            </clipPath>
                            <rect class="grey-2" x="13.333" y="10.306" clip-path="url(#XMLID_3_)" fill="#888888" width="239" height="266.027"/>
                        </g>
                    </svg>
                    <span class="percent" id="overall-progress-percent">{{ progressPercentageText }}%</span>
                </span>
                <span class="lower">overall progress</span>
            </section>
            <section class="button-section">
                <!--<a class="dashboard-mega-button" ui-sref="game" ng-click="gamesPlayedPlusOne()">new game</a>-->
                <a class="dashboard-mega-button" ui-sref="praps.games">new game</a>
                <!--<a class="dashboard-mega-button" href="#/games">new game</a>-->
            </section>
        </div>
    </ion-content>
</ion-view>
