<ion-view title="Flash Cards">
    <ion-nav-bar class="praepp-nav-bar nav-title-slide-ios">
        <!--<ion-nav-buttons side="left">-->
            <!--<a href="#/praps/dashboard" class="button button-icon icon ion-navicon"></a>-->
        <!--</ion-nav-buttons>-->
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="has-header" id="flashcards" scroll="false">
        <div class="wrap">
            <p class="intro">Please select a deck to practice with</p>
            <ul class="decks">
                <li class="deck">
                    <!--<a class="enter regular" ui-sref="praps.flashcards.regular">-->
                    <a class="enter regular" href="#/praps/regularflashcards">
                        <i class="arrow ion-ios-arrow-forward"></i>
                        <h3>Prepositions</h3>
                        <!--<p>Formula & example vs translation</p>-->
                        <img src="./img/flashcards-regular.png">
                    </a>
                </li>

                <li class="deck">
                    <!--<a class="enter cases" href="#/praps/casesflashcards">-->
                    <a class="enter cases" href="#">
                        <i class="arrow ion-ios-arrow-forward"></i>
                        <h3>Cases (coming soon)</h3>
                        <!--<p>Verb vs. case</p>-->
                        <img src="./img/flashcards-cases-disabled.png">
                    </a>
                </li>
            </ul>

            <a class="praps-ok-button" href="#/praps/dashboard"></a>

        </div>
    </ion-content>
</ion-view>