<ion-view title="Pick a Game">
    <ion-nav-buttons side="left">
        <a href="#/praps/dashboard" class="button button-icon icon ion-ios-arrow-back"></a>
    </ion-nav-buttons>
    <ion-content class="has-header" id="games" scroll="false">
        <section id="two">
        <a class="badge bubbles" ng-click="gamesPlayedPlusOne('blizzard')" ui-sref="bubbles">
            <svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
<g id="Gameplay">
	<g>
		<defs>
			<path id="XMLID_2_" d="M288.561,101.719c0,0-1.823-1.882-3.014-3.075c-4.011-4.008-50.258-64.765-50.258-64.765l53.266,40.948
				L288.561,101.719z M236.87,112.845c0,0,32.715,42.981,35.552,45.815c2.825,2.834,7.429,2.834,10.269,0
				c2.834-2.834,2.834-7.432,0-10.265C279.851,145.554,236.87,112.845,236.87,112.845z M299.896,84.128
				c-4.011,4.013-4.017,10.508-0.006,14.516c4.014,4.014,10.518,4.014,14.52,0c4.017-4.004,50.255-64.769,50.255-64.769
				S303.903,80.12,299.896,84.128z M317.262,148.395c-2.834,2.834-2.834,7.425,0.006,10.269c2.83,2.831,7.435,2.831,10.272-0.003
				c2.84-2.834,35.546-45.815,35.546-45.815S320.105,145.554,317.262,148.395z M235.289,204.528c0,0,46.247,60.751,50.258,64.762
				c4.008,4.004,10.505,4.017,14.519,0.006c4.005-4.017,4.011-10.512-0.003-14.523C296.049,250.769,235.289,204.528,235.289,204.528
				z M299.896,254.771c-4.011,4.014-4.017,10.509-0.006,14.52c4.014,4.004,10.518,4.004,14.52,0
				c4.017-4.008,50.255-64.775,50.255-64.775S303.903,250.763,299.896,254.771z M311.379,66.547l-11.405-41.349l-11.411,41.349
				l-0.006,78.107l11.417,13.204l11.414-13.201L311.379,66.547z M299.975,165.757c-8.287-0.003-15.009,6.719-15.002,15.006
				c-0.006,8.284,15.002,70.278,15.002,70.278s15.002-61.985,15.002-70.278C314.977,172.476,308.262,165.757,299.975,165.757z
				 M66.069,157.584c0,0,75.662,10.253,81.333,10.256c5.671-0.003,10.272-4.592,10.272-10.262
				c-0.003-5.674-4.601-10.269-10.269-10.266C141.734,147.315,66.069,157.584,66.069,157.584z M123.03,212.298
				c0,0,53.521,7.261,57.532,7.258c4.004,0.006,7.258-3.247,7.258-7.258c0-4.014-3.251-7.261-7.258-7.261
				C176.545,205.037,123.03,212.298,123.03,212.298z M147.288,147.429c0,5.671,4.588,10.266,10.256,10.266
				c5.671,0,10.272-4.598,10.266-10.266c0.009-5.668-10.266-81.336-10.266-81.336S147.288,141.758,147.288,147.429z
				 M205.006,180.589c0,4.011,3.247,7.252,7.265,7.265c4.004,0,7.264-3.253,7.264-7.268c0-4.014-7.261-57.535-7.261-57.535
				S205.006,176.572,205.006,180.589z M186.735,278.243c0,0,75.659,10.259,81.326,10.262c5.674-0.003,10.275-4.592,10.278-10.266
				c-0.013-5.674-4.601-10.266-10.269-10.266C262.4,267.981,186.735,278.243,186.735,278.243z M267.944,268.091
				c0,5.671,4.592,10.272,10.269,10.265c5.668,0,10.266-4.598,10.259-10.265c0.01-5.665-10.259-81.336-10.259-81.336
				S267.944,262.426,267.944,268.091z M142.971,126.876L105.67,105.7l21.165,37.31l55.232,55.235l17.407,1.262l-1.259-17.407
				L142.971,126.876z M205.063,205.093c-5.863,5.857-5.866,15.362,0,21.216c5.848,5.866,60.303,39.087,60.303,39.087
				s-33.223-54.439-39.09-60.303C220.419,199.23,210.92,199.23,205.063,205.093z M33.884,364.71c0,0,60.754-46.254,64.765-50.258
				c4.005-4.011,4.017-10.512,0.003-14.52c-4.014-4.011-10.512-4.011-14.516,0.003C80.125,303.95,33.884,364.71,33.884,364.71z
				 M112.85,363.123c0,0,42.978-32.709,45.811-35.553c2.834-2.828,2.834-7.422,0-10.262c-2.834-2.834-7.428-2.834-10.265,0.003
				C145.559,320.148,112.85,363.123,112.85,363.123z M84.129,300.103c4.011,4.011,10.508,4.011,14.519,0
				c4.005-4.008,4.005-10.515,0-14.516c-4.004-4.014-64.771-50.255-64.771-50.255S80.121,296.092,84.129,300.103z M148.396,282.73
				c2.837,2.84,7.425,2.84,10.269,0c2.831-2.83,2.831-7.435-0.003-10.272c-2.834-2.837-45.811-35.549-45.811-35.549
				S145.559,279.893,148.396,282.73z M204.53,364.71c0,0,60.751-46.247,64.762-50.258c4.008-4.008,4.017-10.509,0.006-14.52
				c-4.017-4.005-10.515-4.011-14.526,0C250.771,303.95,204.53,364.71,204.53,364.71z M254.772,300.103
				c4.011,4.011,10.509,4.017,14.52,0c4.008-4.008,4.008-10.512,0-14.513c-4.005-4.02-64.768-50.258-64.768-50.258
				S250.768,296.095,254.772,300.103z M66.549,288.619L25.2,300.021l41.349,11.415l78.107,0.003l13.201-11.417l-13.194-11.417
				L66.549,288.619z M165.758,300.021c-0.003,8.29,6.719,15.012,15.006,15.006c8.284,0.006,70.278-15.006,70.278-15.006
				s-61.985-14.999-70.278-15.002C172.474,285.018,165.755,291.734,165.758,300.021z M157.585,533.932
				c0,0,10.253-75.674,10.259-81.336c-0.006-5.665-4.594-10.272-10.265-10.269s-10.269,4.601-10.266,10.262
				C147.32,458.265,157.585,533.932,157.585,533.932z M212.299,476.975c0,0,7.261-53.524,7.258-57.532
				c0.003-4.008-3.244-7.265-7.265-7.265c-4.004,0-7.255,3.247-7.255,7.265C205.038,423.454,212.299,476.975,212.299,476.975z
				 M147.433,452.717c5.668,0,10.266-4.598,10.266-10.269c0-5.668-4.604-10.265-10.266-10.262
				c-5.668-0.006-81.332,10.262-81.332,10.262S141.753,452.717,147.433,452.717z M180.591,394.989c4.011,0,7.255-3.244,7.264-7.264
				c0-3.998-3.253-7.258-7.271-7.258c-4.011-0.003-57.535,7.258-57.535,7.258S176.573,394.989,180.591,394.989z M278.244,413.264
				c0,0,10.262-75.659,10.262-81.326c0-5.677-4.592-10.275-10.266-10.275c-5.668,0.006-10.265,4.598-10.265,10.266
				C267.982,337.602,278.244,413.264,278.244,413.264z M268.096,332.054c5.668,0,10.269-4.595,10.262-10.265
				c0-5.671-4.594-10.272-10.262-10.262c-5.671-0.013-81.339,10.262-81.339,10.262S262.425,332.051,268.096,332.054z
				 M126.88,457.021l-21.175,37.31l37.31-21.175l55.235-55.222l1.256-17.407l-17.404,1.256L126.88,457.021z M205.095,394.935
				c5.857,5.863,15.368,5.87,21.216,0c5.866-5.854,39.09-60.303,39.09-60.303s-54.446,33.22-60.306,39.09
				C199.231,379.583,199.231,389.078,205.095,394.935z M364.714,566.118c0,0-46.257-60.763-50.261-64.765
				c-4.008-4.011-10.512-4.017-14.52-0.003c-4.011,4.011-4.011,10.512,0.003,14.513
				C303.951,519.874,364.714,566.118,364.714,566.118z M363.124,487.152c0,0-32.712-42.981-35.546-45.811
				c-2.837-2.837-7.435-2.843-10.272,0c-2.831,2.83-2.831,7.428,0.003,10.265C320.149,454.446,363.124,487.152,363.124,487.152z
				 M300.104,515.866c4.011-4.005,4.011-10.512,0-14.516c-4.008-4.008-10.512-4.008-14.516,0.003
				c-4.017,4.002-50.252,64.768-50.252,64.768S296.087,519.877,300.104,515.866z M282.732,451.606c2.84-2.837,2.84-7.432,0-10.272
				c-2.831-2.831-7.435-2.831-10.272,0.006c-2.84,2.83-35.553,45.811-35.553,45.811S279.895,454.446,282.732,451.606z
				 M364.705,395.472c0,0-46.241-60.757-50.249-64.765c-4.011-4.017-10.505-4.017-14.523-0.003c-4.005,4.011-4.011,10.512,0,14.523
				C303.951,349.221,364.705,395.472,364.705,395.472z M300.104,345.226c4.011-4.011,4.017-10.512,0-14.52
				c-4.008-4.004-10.512-4.017-14.513,0c-4.02,4.005-50.255,64.768-50.255,64.768S296.096,349.234,300.104,345.226z M288.62,533.45
				l11.405,41.352l11.411-41.356l0.006-78.104l-11.424-13.201l-11.411,13.197L288.62,533.45z M300.019,434.233
				c8.293,0.01,15.015-6.715,15.009-14.999c0.006-8.284-15.002-70.278-15.002-70.278s-15.002,61.988-15.002,70.278
				C285.023,427.518,291.738,434.237,300.019,434.233z M533.931,442.413c0,0-75.668-10.259-81.329-10.253
				c-5.674-0.006-10.278,4.585-10.272,10.256c0.003,5.68,4.598,10.272,10.262,10.269
				C458.266,452.685,533.931,442.413,533.931,442.413z M476.97,387.699c0,0-53.521-7.261-57.532-7.255
				c-4.005-0.006-7.258,3.241-7.258,7.258c0,4.008,3.25,7.261,7.258,7.261C423.455,394.964,476.97,387.699,476.97,387.699z
				 M452.712,452.565c0-5.668-4.595-10.269-10.262-10.266c-5.668,0-10.265,4.598-10.259,10.266
				c-0.009,5.671,10.259,81.336,10.259,81.336S452.712,458.242,452.712,452.565z M394.993,419.408c0-4.014-3.247-7.261-7.268-7.264
				c-4.002,0-7.255,3.257-7.255,7.271c-0.006,4.011,7.255,57.532,7.255,57.532S394.993,423.425,394.993,419.408z M413.265,321.751
				c0,0-75.659-10.259-81.326-10.259c-5.677-0.006-10.275,4.592-10.278,10.266c0.013,5.668,4.601,10.269,10.269,10.269
				C337.6,332.013,413.265,321.751,413.265,321.751z M332.056,331.909c0-5.677-4.592-10.275-10.265-10.272
				c-5.671,0-10.272,4.595-10.262,10.262c-0.009,5.674,10.262,81.336,10.262,81.336S332.056,337.574,332.056,331.909z
				 M457.029,473.122l37.307,21.172l-21.175-37.307l-55.229-55.234l-17.407-1.259l1.259,17.407L457.029,473.122z M394.937,394.904
				c5.863-5.857,5.867-15.368,0-21.216c-5.854-5.866-60.299-39.09-60.299-39.09s33.22,54.439,39.087,60.306
				C379.584,400.758,389.08,400.758,394.937,394.904z M566.113,235.284c0,0-60.757,46.254-64.762,50.261
				c-4.005,4.001-4.017,10.512-0.003,14.52c4.014,4.005,10.512,4.008,14.513-0.003C519.875,296.051,566.113,235.284,566.113,235.284
				z M487.15,236.875c0,0-42.978,32.712-45.812,35.553c-2.834,2.83-2.837,7.425,0,10.265c2.834,2.834,7.428,2.834,10.266-0.003
				C454.441,279.849,487.15,236.875,487.15,236.875z M515.87,299.891c-4.011-4.008-10.515-4.017-14.522,0
				c-4.002,4.011-4.002,10.508,0.003,14.52c4.004,4.017,64.771,50.251,64.771,50.251S519.878,303.909,515.87,299.891z
				 M451.604,317.267c-2.837-2.84-7.426-2.84-10.269,0c-2.831,2.834-2.831,7.435,0.003,10.272
				c2.834,2.84,45.812,35.552,45.812,35.552S454.441,320.104,451.604,317.267z M395.473,235.29c0,0-60.754,46.247-64.765,50.249
				c-4.017,4.008-4.017,10.512-0.003,14.526c4.014,4.002,10.512,4.005,14.522,0C349.229,296.051,395.473,235.29,395.473,235.29z
				 M345.228,299.891c-4.011-4.017-10.508-4.017-14.52,0c-4.004,4.011-4.017,10.508,0,14.516
				c4.005,4.02,64.771,50.255,64.771,50.255S349.232,303.902,345.228,299.891z M533.451,311.381l41.349-11.408l-41.356-11.411
				l-78.101-0.009l-13.201,11.427l13.194,11.417L533.451,311.381z M434.241,299.973c0.003-8.287-6.719-15.012-15.005-15.002
				c-8.284-0.003-70.278,15.002-70.278,15.002s61.985,14.999,70.278,15.002C427.523,314.973,434.241,308.254,434.241,299.973z
				 M442.411,66.063c0,0-10.256,75.67-10.256,81.34c0,5.658,4.588,10.272,10.266,10.266c5.677-0.003,10.269-4.595,10.259-10.266
				C452.68,141.733,442.411,66.063,442.411,66.063z M387.701,123.026c0,0-7.261,53.521-7.258,57.532
				c-0.003,4.004,3.247,7.261,7.264,7.261c4.005,0,7.255-3.251,7.255-7.265C394.962,176.54,387.701,123.026,387.701,123.026z
				 M452.567,147.284c-5.668,0-10.272,4.585-10.266,10.262c0,5.671,4.598,10.262,10.266,10.262
				c5.668,0.013,81.333-10.266,81.333-10.266S458.247,147.284,452.567,147.284z M419.412,205.005c-4.014,0-7.268,3.247-7.268,7.261
				c0,4.008,3.254,7.261,7.271,7.261c4.011,0.006,57.535-7.252,57.535-7.252S423.427,205.005,419.412,205.005z M321.755,186.736
				c0,0-10.262,75.655-10.262,81.323c-0.006,5.671,4.592,10.275,10.265,10.278c5.668-0.016,10.262-4.604,10.266-10.269
				C332.018,262.398,321.755,186.736,321.755,186.736z M331.904,267.943c-5.671-0.003-10.269,4.592-10.262,10.269
				c0,5.668,4.592,10.262,10.262,10.259c5.671,0.009,81.339-10.259,81.339-10.259S337.575,267.943,331.904,267.943z M473.12,142.97
				l21.175-37.307l-37.31,21.175l-55.235,55.225l-1.256,17.41l17.404-1.256L473.12,142.97z M394.905,205.055
				c-5.857-5.86-15.369-5.863-21.216,0.006c-5.866,5.844-39.09,60.297-39.09,60.297s54.443-33.227,60.306-39.084
				C400.759,220.408,400.759,210.906,394.905,205.055z"/>
		</defs>
		<use xlink:href="#XMLID_2_"  overflow="visible" fill="#ED844F"/>
		<clipPath id="XMLID_4_">
			<use xlink:href="#XMLID_2_"  overflow="visible"/>
		</clipPath>
		<polyline clip-path="url(#XMLID_4_)" fill="#D8774C" points="600,0 600,600 0,598.924 		"/>
	</g>
</g>
<g id="Gameplay_2">
</g>
<g id="Intro_image_1">
</g>
<g id="Intro_image_2">
</g>
<g id="Intro_image_3">
</g>
</svg>
        </a>
        <p class="label">
            Blizzard
        </p>
        </section>

        <section id="four">
        <a class="badge flappy" ng-click="gamesPlayedPlusOne('flappy')" ui-sref="flappy">
            <svg class="svg" version="1.1"
	 id="svg2" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:cc="http://creativecommons.org/ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" inkscape:version="0.47 r22583" sodipodi:docname="FatChick_v1.6_fit.svg"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-149.3 -178.9 600 600"
	 enable-background="new -149.3 -178.9 600 600" xml:space="preserve">
<defs>


		<inkscape:perspective  inkscape:vp_y="0 : 1000 : 0" inkscape:vp_x="0 : 526.18109 : 1" inkscape:vp_z="744.09448 : 526.18109 : 1" sodipodi:type="inkscape:persp3d" id="perspective10" inkscape:persp3d-origin="372.04724 : 350.78739 : 1">
		</inkscape:perspective>

		<inkscape:perspective  inkscape:vp_y="0 : 1000 : 0" inkscape:vp_x="0 : 0.5 : 1" inkscape:vp_z="1 : 0.5 : 1" sodipodi:type="inkscape:persp3d" id="perspective2824" inkscape:persp3d-origin="0.5 : 0.33333333 : 1">
		</inkscape:perspective>

		<inkscape:perspective  inkscape:vp_y="0 : 1000 : 0" inkscape:vp_x="0 : 0.5 : 1" inkscape:vp_z="1 : 0.5 : 1" sodipodi:type="inkscape:persp3d" id="perspective3658" inkscape:persp3d-origin="0.5 : 0.33333333 : 1">
		</inkscape:perspective>

		<inkscape:perspective  inkscape:vp_y="0 : 1000 : 0" inkscape:vp_x="0 : 0.5 : 1" inkscape:vp_z="1 : 0.5 : 1" sodipodi:type="inkscape:persp3d" id="perspective4142" inkscape:persp3d-origin="0.5 : 0.33333333 : 1">
		</inkscape:perspective>

		<inkscape:perspective  inkscape:vp_y="0 : 1000 : 0" inkscape:vp_x="0 : 0.5 : 1" inkscape:vp_z="1 : 0.5 : 1" sodipodi:type="inkscape:persp3d" id="perspective2836" inkscape:persp3d-origin="0.5 : 0.33333333 : 1">
		</inkscape:perspective>

		<inkscape:perspective  inkscape:vp_y="0 : 1000 : 0" inkscape:vp_x="0 : 0.5 : 1" inkscape:vp_z="1 : 0.5 : 1" sodipodi:type="inkscape:persp3d" id="perspective2838" inkscape:persp3d-origin="0.5 : 0.33333333 : 1">
		</inkscape:perspective>

		<inkscape:perspective  inkscape:vp_y="0 : 1000 : 0" inkscape:vp_x="0 : 0.5 : 1" inkscape:vp_z="1 : 0.5 : 1" sodipodi:type="inkscape:persp3d" id="perspective2836-7" inkscape:persp3d-origin="0.5 : 0.33333333 : 1">
		</inkscape:perspective>

		<inkscape:perspective  inkscape:vp_y="0 : 1000 : 0" inkscape:vp_x="0 : 0.5 : 1" inkscape:vp_z="1 : 0.5 : 1" sodipodi:type="inkscape:persp3d" id="perspective2890" inkscape:persp3d-origin="0.5 : 0.33333333 : 1">
		</inkscape:perspective>

		<inkscape:perspective  inkscape:vp_y="0 : 1000 : 0" inkscape:vp_x="0 : 0.5 : 1" inkscape:vp_z="1 : 0.5 : 1" sodipodi:type="inkscape:persp3d" id="perspective3084" inkscape:persp3d-origin="0.5 : 0.33333333 : 1">
		</inkscape:perspective>

		<inkscape:perspective  inkscape:vp_y="0 : 1000 : 0" inkscape:vp_x="0 : 0.5 : 1" inkscape:vp_z="1 : 0.5 : 1" sodipodi:type="inkscape:persp3d" id="perspective3161" inkscape:persp3d-origin="0.5 : 0.33333333 : 1">
		</inkscape:perspective>

		<inkscape:perspective  inkscape:vp_y="0 : 1000 : 0" inkscape:vp_x="0 : 0.5 : 1" inkscape:vp_z="1 : 0.5 : 1" sodipodi:type="inkscape:persp3d" id="perspective3189" inkscape:persp3d-origin="0.5 : 0.33333333 : 1">
		</inkscape:perspective>
</defs>
<sodipodi:namedview  bordercolor="#666666" pagecolor="#ffffff" inkscape:zoom="2.8" borderopacity="1.0" inkscape:cy="105.85031" inkscape:cx="190.18465" showguides="false" showgrid="false" id="base" inkscape:pageopacity="0.0" inkscape:window-maximized="1" inkscape:pageshadow="2" inkscape:snap-object-midpoints="true" inkscape:snap-nodes="true" inkscape:snap-center="true" inkscape:window-x="0" inkscape:window-y="24" inkscape:window-height="999" inkscape:snap-bbox-midpoints="true" inkscape:bbox-nodes="true" inkscape:window-width="1680" inkscape:snap-global="false" inkscape:object-paths="true" inkscape:object-nodes="true" inkscape:snap-smooth-nodes="true" inkscape:guide-bbox="true" inkscape:snap-midpoints="true" inkscape:bbox-paths="true" inkscape:document-units="px" inkscape:snap-bbox="false" inkscape:current-layer="layer2" inkscape:snap-bbox-edge-midpoints="true" inkscape:snap-intersection-paths="true">
	<sodipodi:guide  position="227.49536,206.27311" orientation="0,1" id="guide3139"></sodipodi:guide>
	<sodipodi:guide  position="257.3134,206.27311" orientation="1,0" id="guide3141"></sodipodi:guide>
	<sodipodi:guide  position="227.49536,206.27311" orientation="1,0" id="guide3143"></sodipodi:guide>
</sodipodi:namedview>
<g id="layer1" transform="translate(-215.44443,-359.85605)" inkscape:label="Layer 1" inkscape:groupmode="layer" display="none">
</g>
<path id="path2830-4" fill="#EFBC4D" d="M301.9-107.6c-37.5,0.6-79.8,20.1-112.5,68.5c0,0-174.4-25.8-223.9,41.6
	c0,0-182.2-3.9-65.3,59.5C-222.8,373,447,430.5,377.6,12.4C420.8-49.8,368.8-108.7,301.9-107.6z M331-68c2.5,0,5,0.5,7.4,1.3
	c13.1,4.3,20.2,18.4,15.9,31.5c-4.3,13.1-18.5,20.3-31.6,15.9c-13.1-4.3-20.2-18.5-15.9-31.6C310.3-61.5,320.3-68.2,331-68z"/>
<path id="path2830-2" sodipodi:nodetypes="ccc" fill="#C99A49" d="M-108.4,163.6c41.4,192.1,414.9,201,483.8-18.9
	C227.4,384.9-44.4,279.8-108.4,163.6z"/>
<path id="path3147" sodipodi:nodetypes="ccc" fill="#FFAE00" d="M-94.4,64.1c-24-6.4-46.9-25.6-38.7-37.8
	C-134.8,36.7-85.1,42.9-94.4,64.1z"/>
<path id="path3179" sodipodi:nodetypes="ccc" fill="#EFBC4D" d="M352.4-0.5c0,0,39,10.8,30.8,60.4C380.7,38.4,352.4-0.5,352.4-0.5
	L352.4-0.5z"/>
<path id="path2830" d="M306.9-113.5c-40-1-85.3,18.5-120.2,68.2c-5-0.7-43.6-6-90.9-4.2C46.6-47.5-9.4-37.9-37.1-3.4
	c-4.2-0.1-44.6-0.8-75.2,6.1c-8.1,1.8-15.4,4.1-21.2,7.5c-5.8,3.4-10.8,8.4-11.3,15.3c-0.5,6.9,3.3,13.4,10.1,20
	c6,5.8,15.4,12.1,27.6,19.1c-28.8,77.4-9.3,140.9,35.7,184c45.9,44,117.3,67.5,190.2,68s147.8-22.1,200.3-72
	c52.1-49.5,81.5-126,64.7-230.8c16.5-24.9,19-50.1,11.2-71.2c-8-21.7-26.5-38.9-49.8-48.2C333.5-110.4,320.5-113.1,306.9-113.5z
	 M306.7-101.8c12.2,0.4,23.8,2.8,34.1,6.9c20.7,8.3,36.5,23.2,43.2,41.3c6.7,18.1,4.8,39.6-11.2,62.6c-0.9,1.2-1.2,2.8-1,4.3
	c17.1,103-11.1,175.4-60.9,222.6s-121.7,69.2-192.1,68.7C48.4,304.2-20.3,281.2-63.3,240s-61.2-99.8-31.1-175.9
	c1.1-2.8-0.1-5.9-2.7-7.4C-111.4,49-121,42.3-126.6,37c-5.6-5.4-6.7-8.9-6.6-10.6c0.1-1.7,1.4-3.6,5.5-6c4.1-2.4,10.5-4.5,17.9-6.1
	c29.6-6.6,75.1-5.8,75.1-5.8c1.9,0.1,3.8-0.8,4.9-2.4c22.6-30.7,76.9-41.7,126-43.7c49.1-2,92.3,4.4,92.3,4.4
	c2.2,0.3,4.5-0.6,5.8-2.5C227.6-84.9,270-102.8,306.7-101.8z"/>
<path id="path28" sodipodi:nodetypes="ccccc" fill="#C99A49" d="M356.8-4.4l35.3-35l48.2,33l-60.2,28.3L356.8-4.4L356.8-4.4z"/>
<path id="path3608" sodipodi:nodetypes="ccsccc" d="M438.4-11.1l-50.7-0.4c-3.2-0.1-6.1,2.8-6.1,6c0.1,3.2,3.1,6,6.3,5.8l51.3-5
	C444.4-4.9,442-10.1,438.4-11.1z"/>
<path id="path3617-4" sodipodi:nodetypes="ccssscssccsscssssscsc" fill="#C99A49" d="M79.6,89.5c-0.9,0.1-1.8,0.3-2.6,0.8
	c-11.9,6.7-20,14.4-24.6,22.4s-5.6,16.6-2.6,23.8c3,7.2,9.8,12.3,18.4,14.2c5.3,1.2,11.3,1.1,17.9-0.1c-3.6,10.6-3.2,19.9,1.2,27.2
	c5.9,9.9,17.5,14.7,29.9,15.9c24.9,2.5,53.3-10.7,65.7-35.2c0-10.1-0.5-12-7.4-2.7c-9.2,18.2-36.9,28.3-57.2,26.2
	c-10.2-1-17.7-4.9-21-10.2c-3.2-5.4-3.5-13.7,4.4-27.2c1.3-2.1,1-5-0.5-6.8c-1.6-1.9-4.4-2.6-6.6-1.7c-10,3.9-18.3,4.4-23.9,3.2
	c-5.7-1.3-8.7-4-10.1-7.3s-1.3-7.9,2-13.5c3.2-5.6,9.7-12.1,20.2-18c2.3-1.3,3.5-4.2,2.8-6.8C84.8,91.2,82.2,89.4,79.6,89.5z"/>
<path id="path3617" sodipodi:nodetypes="ccc" fill="#EFBC4D" d="M79.8,87.6c-44.8,25.2-26.6,63,16.8,46.2
	c-34.3,58.1,62.3,59.5,84.1,16.8"/>
<path id="path3646" sodipodi:nodetypes="cc" fill="none" stroke="#000000" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" d="
	M110.7,310.5l-3.9,45.2"/>
<path id="path3648" sodipodi:nodetypes="cc" fill="none" stroke="#000000" stroke-width="6" stroke-linecap="round" d="M152.4,309.2
	l-0.8,42.1"/>
<path id="path3145" sodipodi:nodetypes="ccc" fill="#C99A49" d="M301.3-43c10.2,32.8,46.8,33.3,58.5,0C359.8-1.9,301.3,2.5,301.3-43
	z"/>
<path id="path3623-5" sodipodi:ry="13.928572" sodipodi:cy="397.71933" sodipodi:cx="450.35715" sodipodi:rx="13.928572" sodipodi:type="arc" fill="none" stroke="#000000" stroke-width="4.7447" d="
	M338.4-66.7c13.1,4.3,20.2,18.5,15.9,31.6C350-22.1,335.9-15,322.8-19.3c-13.1-4.3-20.2-18.5-15.9-31.6
	C311.2-64,325.3-71.1,338.4-66.7z"/>
<path id="path3627-1" sodipodi:ry="6.0438538" sodipodi:cy="389.70212" sodipodi:cx="446.48743" sodipodi:rx="6.0438538" sodipodi:type="arc" fill="#587BBA" stroke="#000000" stroke-width="5.5515" d="
	M323.6-58.3c6.1,2,9.5,8.7,7.4,14.8c-2,6.1-8.7,9.5-14.8,7.4s-9.5-8.7-7.4-14.8S317.5-60.3,323.6-58.3z"/>
<path id="path53" d="M79.6,81.6c-0.9,0.1-1.8,0.3-2.6,0.8c-11.9,6.7-20,14.4-24.6,22.4s-5.6,16.6-2.6,23.8c3,7.2,9.8,12.3,18.4,14.2
	c5.3,1.2,11.3,1.1,17.9-0.1c-3.6,10.6-3.2,19.9,1.2,27.2c5.9,9.9,17.5,14.7,29.9,15.9c24.9,2.5,56.4-8.1,68.8-32.6
	c1.6-2.8,0.6-6.4-2.3-8c-2.8-1.6-6.4-0.6-8,2.3c-0.1,0.1-0.2,0.3-0.2,0.4c-9.2,18.2-36.9,28.3-57.2,26.2c-10.2-1-17.7-4.9-21-10.2
	c-3.2-5.4-3.5-13.7,4.4-27.2c1.7-2.8,0.8-6.4-2-8.1c-1.6-0.9-3.5-1.1-5.2-0.4c-10,3.9-18.3,4.4-23.9,3.2c-5.7-1.3-8.7-4-10.1-7.3
	s-1.3-7.9,2-13.5c3.2-5.6,9.7-12.1,20.2-18c2.8-1.6,3.9-5.1,2.3-8C83.9,82.7,81.8,81.5,79.6,81.6z"/>
<path id="path3606" d="M392.1-45.3c-1.6,0-3.1,0.6-4.2,1.7L352.7-8.6c-2.2,2.2-2.4,5.7-0.3,8.1l23.4,26.4c1.7,2,4.6,2.5,6.9,1.4
	l60.1-28.3c3-1.3,4.3-4.8,2.9-7.8c-0.4-1-1.2-1.8-2.1-2.4l-48.2-32.9C394.5-44.9,393.3-45.3,392.1-45.3z M392.8-31.8l35.7,24.5
	l-46.9,22L364.9-4.1L392.8-31.8z"/>
</svg>
        </a>
        <p class="label">
            Flappy
        </p>
        </section>

        <section id="one">
        <a class="badge matrix" ng-click="gamesPlayedPlusOne('matrix')" ui-sref="matrix">
        <svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                <g>
                    <path fill="#77CE3E" d="M54.824,30.816v9.681c0,5.737-1.656,11.229-4.969,16.478s-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345s-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323s4.79,4.425,7.013,8.626
                        C53.712,21.616,54.824,26.084,54.824,30.816z M45.961,30.816c0-4.79-1.334-8.977-4.001-12.563
                        c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27c-2.554,3.299-3.829,7.386-3.829,12.262v9.681
                        c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969c2.639,0,4.804-1.09,6.497-3.27
                        c2.553-3.298,3.829-7.385,3.829-12.262V30.816z"/>
                    <path fill="#77CE3E" d="M107.701,30.816v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345s-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C106.589,21.616,107.701,26.084,107.701,30.816z M98.838,30.816
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V30.816z"/>
                    <path fill="#77CE3E" d="M145.821,6.464v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906V17.952
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L145.821,6.464z"/>
                    <path fill="#77CE3E" d="M213.456,30.816v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345s-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C212.344,21.616,213.456,26.084,213.456,30.816z M204.593,30.816
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V30.816z"/>
                    <path fill="#77CE3E" d="M266.333,30.816v9.681c0,5.737-1.656,11.229-4.969,16.478s-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345s-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C265.221,21.616,266.333,26.084,266.333,30.816z M257.47,30.816
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V30.816z"/>
                    <path fill="#77CE3E" d="M319.211,30.816v9.681c0,5.737-1.656,11.229-4.969,16.478s-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C318.098,21.616,319.211,26.084,319.211,30.816z M310.347,30.816
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V30.816z"/>
                    <path fill="#77CE3E" d="M357.33,6.464v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906V17.952
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L357.33,6.464z"/>
                    <path fill="#77CE3E" d="M424.965,30.816v9.681c0,5.737-1.656,11.229-4.969,16.478s-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C423.853,21.616,424.965,26.084,424.965,30.816z M416.102,30.816
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V30.816z"/>
                    <path fill="#77CE3E" d="M463.085,6.464v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906V17.952
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L463.085,6.464z"/>
                    <path fill="#77CE3E" d="M515.962,6.464v48.274h8.906c2.122,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906V17.952
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L515.962,6.464z"/>
                    <path fill="#77CE3E" d="M568.84,6.464v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906V17.952
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L568.84,6.464z"/>
                    <path fill="#77CE3E" d="M54.824,136.553v9.681c0,5.737-1.656,11.229-4.969,16.478s-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345s-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C53.712,127.353,54.824,131.821,54.824,136.553z M45.961,136.553
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V136.553z"/>
                    <path fill="#77CE3E" d="M92.944,112.201v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226H75.218c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L92.944,112.201z"/>
                    <path fill="#77CE3E" d="M160.579,136.553v9.681c0,5.737-1.656,11.229-4.969,16.478s-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345s-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C159.466,127.353,160.579,131.821,160.579,136.553z M151.716,136.553
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V136.553z"/>
                    <path fill="#77CE3E" d="M198.698,112.201v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L198.698,112.201z"/>
                    <path fill="#77CE3E" d="M266.333,136.553v9.681c0,5.737-1.656,11.229-4.969,16.478s-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345s-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C265.221,127.353,266.333,131.821,266.333,136.553z M257.47,136.553
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V136.553z"/>
                    <path fill="#77CE3E" d="M319.211,136.553v9.681c0,5.737-1.656,11.229-4.969,16.478s-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C318.098,127.353,319.211,131.821,319.211,136.553z M310.347,136.553
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V136.553z"/>
                    <path fill="#77CE3E" d="M357.33,112.201v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L357.33,112.201z"/>
                    <path fill="#77CE3E" d="M424.965,136.553v9.681c0,5.737-1.656,11.229-4.969,16.478s-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C423.853,127.353,424.965,131.821,424.965,136.553z M416.102,136.553
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V136.553z"/>
                    <path fill="#77CE3E" d="M463.085,112.201v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L463.085,112.201z"/>
                    <path fill="#77CE3E" d="M530.72,136.553v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C529.607,127.353,530.72,131.821,530.72,136.553z M521.857,136.553
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V136.553z"/>
                    <path fill="#77CE3E" d="M568.84,112.201v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L568.84,112.201z"/>
                    <path fill="#77CE3E" d="M40.067,217.939v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226H22.34c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L40.067,217.939z"/>
                    <path fill="#77CE3E" d="M107.701,242.291v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345s-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C106.589,233.091,107.701,237.558,107.701,242.291z M98.838,242.291
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V242.291z"/>
                    <path fill="#77CE3E" d="M160.579,242.291v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345s-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323s4.79,4.425,7.013,8.626
                        C159.466,233.091,160.579,237.558,160.579,242.291z M151.716,242.291c0-4.79-1.334-8.977-4.001-12.563
                        c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27c-2.554,3.299-3.829,7.386-3.829,12.262v9.681
                        c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969c2.639,0,4.804-1.09,6.497-3.27
                        c2.553-3.298,3.829-7.385,3.829-12.262V242.291z"/>
                    <path fill="#77CE3E" d="M198.698,217.939v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L198.698,217.939z"/>
                    <path fill="#77CE3E" d="M266.333,242.291v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345s-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C265.221,233.091,266.333,237.558,266.333,242.291z M257.47,242.291
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V242.291z"/>
                    <path fill="#77CE3E" d="M304.453,217.939v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L304.453,217.939z"/>
                    <path fill="#77CE3E" d="M357.33,217.939v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L357.33,217.939z"/>
                    <path fill="#77CE3E" d="M424.965,242.291v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C423.853,233.091,424.965,237.558,424.965,242.291z M416.102,242.291
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V242.291z"/>
                    <path fill="#77CE3E" d="M463.085,217.939v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L463.085,217.939z"/>
                    <path fill="#77CE3E" d="M530.72,242.291v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323s4.79,4.425,7.013,8.626
                        C529.607,233.091,530.72,237.558,530.72,242.291z M521.857,242.291c0-4.79-1.334-8.977-4.001-12.563
                        c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27c-2.554,3.299-3.829,7.386-3.829,12.262v9.681
                        c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969c2.639,0,4.804-1.09,6.497-3.27
                        c2.553-3.298,3.829-7.385,3.829-12.262V242.291z"/>
                    <path fill="#77CE3E" d="M568.84,217.939v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L568.84,217.939z"/>
                    <path fill="#77CE3E" d="M54.824,348.028v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323s4.79,4.425,7.013,8.626
                        C53.712,338.828,54.824,343.296,54.824,348.028z M45.961,348.028c0-4.79-1.334-8.977-4.001-12.563
                        c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27c-2.554,3.299-3.829,7.386-3.829,12.262v9.681
                        c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969c2.639,0,4.804-1.09,6.497-3.27
                        c2.553-3.298,3.829-7.385,3.829-12.262V348.028z"/>
                    <path fill="#77CE3E" d="M107.701,348.028v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C106.589,338.828,107.701,343.296,107.701,348.028z M98.838,348.028
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V348.028z"/>
                    <path fill="#77CE3E" d="M145.821,323.676v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226s1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162s-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226s-1.355-1.886-1.355-3.205
                        c0-1.291,0.452-2.345,1.355-3.162s2.416-1.226,4.539-1.226h8.906v-36.786l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516
                        c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27c0-1.176,0.301-2.101,0.904-2.775
                        c0.602-0.673,1.864-1.269,3.786-1.786L145.821,323.676z"/>
                    <path fill="#77CE3E" d="M213.456,348.028v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C212.344,338.828,213.456,343.296,213.456,348.028z M204.593,348.028
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V348.028z"/>
                    <path fill="#77CE3E" d="M266.333,348.028v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C265.221,338.828,266.333,343.296,266.333,348.028z M257.47,348.028
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V348.028z"/>
                    <path fill="#77CE3E" d="M304.453,323.676v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L304.453,323.676z"/>
                    <path fill="#77CE3E" d="M357.33,323.676v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L357.33,323.676z"/>
                    <path fill="#77CE3E" d="M410.208,323.676v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L410.208,323.676z"/>
                    <path fill="#77CE3E" d="M477.842,348.028v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C476.73,338.828,477.842,343.296,477.842,348.028z M468.979,348.028
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V348.028z"/>
                    <path fill="#77CE3E" d="M515.962,323.676v48.274h8.906c2.122,0,3.636,0.409,4.539,1.226s1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162s-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L515.962,323.676z"/>
                    <path fill="#77CE3E" d="M583.597,348.028v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.031-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C582.485,338.828,583.597,343.296,583.597,348.028z M574.734,348.028
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V348.028z"/>
                    <path fill="#77CE3E" d="M54.824,453.766v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323s4.79,4.425,7.013,8.626
                        C53.712,444.566,54.824,449.033,54.824,453.766z M45.961,453.766c0-4.79-1.334-8.977-4.001-12.563
                        c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27c-2.554,3.299-3.829,7.386-3.829,12.262v9.681
                        c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969c2.639,0,4.804-1.09,6.497-3.27
                        c2.553-3.298,3.829-7.385,3.829-12.262V453.766z"/>
                    <path fill="#77CE3E" d="M92.944,429.414v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226s1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162s-2.417,1.226-4.539,1.226H75.218c-2.123,0-3.636-0.409-4.539-1.226s-1.355-1.886-1.355-3.205
                        c0-1.291,0.452-2.345,1.355-3.162s2.416-1.226,4.539-1.226h8.906v-36.786l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516
                        c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27c0-1.176,0.301-2.101,0.904-2.775
                        c0.602-0.673,1.864-1.269,3.786-1.786L92.944,429.414z"/>
                    <path fill="#77CE3E" d="M160.579,453.766v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323s4.79,4.425,7.013,8.626
                        C159.466,444.566,160.579,449.033,160.579,453.766z M151.716,453.766c0-4.79-1.334-8.977-4.001-12.563
                        c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27c-2.554,3.299-3.829,7.386-3.829,12.262v9.681
                        c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969c2.639,0,4.804-1.09,6.497-3.27
                        c2.553-3.298,3.829-7.385,3.829-12.262V453.766z"/>
                    <path fill="#77CE3E" d="M213.456,453.766v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C212.344,444.566,213.456,449.033,213.456,453.766z M204.593,453.766
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V453.766z"/>
                    <path fill="#77CE3E" d="M251.576,429.414v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226H233.85c-2.123,0-3.636-0.409-4.539-1.226
                        s-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162s2.416-1.226,4.539-1.226h8.906v-36.786l-7.874,2.065
                        c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L251.576,429.414z"/>
                    <path fill="#77CE3E" d="M319.211,453.766v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C318.098,444.566,319.211,449.033,319.211,453.766z M310.347,453.766
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V453.766z"/>
                    <path fill="#77CE3E" d="M372.088,453.766v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323s4.79,4.425,7.013,8.626
                        C370.976,444.566,372.088,449.033,372.088,453.766z M363.225,453.766c0-4.79-1.334-8.977-4.001-12.563
                        c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27c-2.554,3.299-3.829,7.386-3.829,12.262v9.681
                        c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969c2.639,0,4.804-1.09,6.497-3.27
                        c2.553-3.298,3.829-7.385,3.829-12.262V453.766z"/>
                    <path fill="#77CE3E" d="M424.965,453.766v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C423.853,444.566,424.965,449.033,424.965,453.766z M416.102,453.766
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V453.766z"/>
                    <path fill="#77CE3E" d="M463.085,429.414v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.817,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L463.085,429.414z"/>
                    <path fill="#77CE3E" d="M530.72,453.766v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323s4.79,4.425,7.013,8.626
                        C529.607,444.566,530.72,449.033,530.72,453.766z M521.857,453.766c0-4.79-1.334-8.977-4.001-12.563
                        c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27c-2.554,3.299-3.829,7.386-3.829,12.262v9.681
                        c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969c2.639,0,4.804-1.09,6.497-3.27
                        c2.553-3.298,3.829-7.385,3.829-12.262V453.766z"/>
                    <path fill="#77CE3E" d="M568.84,429.414v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226s1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162s-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L568.84,429.414z"/>
                    <path fill="#77CE3E" d="M54.824,559.503v9.681c0,5.737-1.656,11.229-4.969,16.478s-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345s-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323s4.79,4.425,7.013,8.626
                        C53.712,550.303,54.824,554.771,54.824,559.503z M45.961,559.503c0-4.79-1.334-8.977-4.001-12.563
                        c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27c-2.554,3.299-3.829,7.386-3.829,12.262v9.681
                        c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969c2.639,0,4.804-1.09,6.497-3.27
                        c2.553-3.298,3.829-7.385,3.829-12.262V559.503z"/>
                    <path fill="#77CE3E" d="M92.944,535.151v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.818,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162s-2.417,1.226-4.539,1.226H75.218c-2.123,0-3.636-0.409-4.539-1.226s-1.355-1.886-1.355-3.205
                        c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786l-7.874,2.065
                        c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L92.944,535.151z"/>
                    <path fill="#77CE3E" d="M160.579,559.503v9.681c0,5.737-1.656,11.229-4.969,16.478s-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345s-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323s4.79,4.425,7.013,8.626
                        C159.466,550.303,160.579,554.771,160.579,559.503z M151.716,559.503c0-4.79-1.334-8.977-4.001-12.563
                        c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27c-2.554,3.299-3.829,7.386-3.829,12.262v9.681
                        c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969c2.639,0,4.804-1.09,6.497-3.27
                        c2.553-3.298,3.829-7.385,3.829-12.262V559.503z"/>
                    <path fill="#77CE3E" d="M213.456,559.503v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345s-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C212.344,550.303,213.456,554.771,213.456,559.503z M204.593,559.503
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V559.503z"/>
                    <path fill="#77CE3E" d="M251.576,535.151v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.818,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226H233.85c-2.123,0-3.636-0.409-4.539-1.226
                        s-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786l-7.874,2.065
                        c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L251.576,535.151z"/>
                    <path fill="#77CE3E" d="M319.211,559.503v9.681c0,5.737-1.656,11.229-4.969,16.478s-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C318.098,550.303,319.211,554.771,319.211,559.503z M310.347,559.503
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V559.503z"/>
                    <path fill="#77CE3E" d="M357.33,535.151v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.818,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L357.33,535.151z"/>
                    <path fill="#77CE3E" d="M424.965,559.503v9.681c0,5.737-1.656,11.229-4.969,16.478s-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.03-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C423.853,550.303,424.965,554.771,424.965,559.503z M416.102,559.503
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V559.503z"/>
                    <path fill="#77CE3E" d="M463.085,535.151v48.274h8.906c2.123,0,3.636,0.409,4.539,1.226c0.904,0.818,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162c-0.904,0.817-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L463.085,535.151z"/>
                    <path fill="#77CE3E" d="M515.962,535.151v48.274h8.906c2.122,0,3.636,0.409,4.539,1.226c0.904,0.818,1.355,1.887,1.355,3.205
                        c0,1.291-0.452,2.345-1.355,3.162s-2.417,1.226-4.539,1.226h-26.632c-2.123,0-3.636-0.409-4.539-1.226
                        c-0.904-0.817-1.355-1.886-1.355-3.205c0-1.291,0.452-2.345,1.355-3.162c0.904-0.817,2.416-1.226,4.539-1.226h8.906v-36.786
                        l-7.874,2.065c-1.263,0.344-2.209,0.516-2.84,0.516c-1.119,0-2.087-0.445-2.904-1.334c-0.817-0.888-1.226-1.979-1.226-3.27
                        c0-1.176,0.301-2.101,0.904-2.775c0.602-0.673,1.864-1.269,3.786-1.786L515.962,535.151z"/>
                    <path fill="#77CE3E" d="M583.597,559.503v9.681c0,5.737-1.656,11.229-4.969,16.478c-3.313,5.249-8.053,7.874-14.22,7.874
                        c-3.557,0-6.561-0.782-9.014-2.345c-2.452-1.563-4.776-4.446-6.97-8.648c-2.194-4.201-3.291-8.654-3.291-13.359v-9.681
                        c0-5.707,1.649-11.193,4.948-16.457c3.298-5.263,8.031-7.895,14.198-7.895c3.528,0,6.518,0.774,8.971,2.323
                        c2.452,1.549,4.79,4.425,7.013,8.626C582.485,550.303,583.597,554.771,583.597,559.503z M574.734,559.503
                        c0-4.79-1.334-8.977-4.001-12.563c-1.521-1.979-3.657-2.969-6.411-2.969c-2.668,0-4.847,1.091-6.54,3.27
                        c-2.554,3.299-3.829,7.386-3.829,12.262v9.681c0,4.819,1.348,9.007,4.044,12.563c1.491,1.979,3.628,2.969,6.411,2.969
                        c2.639,0,4.804-1.09,6.497-3.27c2.553-3.298,3.829-7.385,3.829-12.262V559.503z"/>
                </g>
            </svg>
        </a>
        <p class="label">
            Matrix
        </p>
        </section>

        <section id="three">
            <a class="badge shooter" ng-click="gamesPlayedPlusOne('shooter')" ui-sref="shooter">
                <svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 600 600" enable-background="new 0 0 600 600" xml:space="preserve">
                <g id="Tetris">
                    <path fill="#9352C1" d="M548.554,300c0-137.384-111.17-248.554-248.554-248.554S51.446,162.616,51.446,300
                        S162.616,548.554,300,548.554S548.554,437.384,548.554,300z"/>
                    <path fill="#FFFFFF" d="M300,465.703c-91.59,0-165.703-74.113-165.703-165.703S208.41,134.297,300,134.297
                        S465.703,208.41,465.703,300S391.59,465.703,300,465.703z"/>
                    <path fill="#9352C1" d="M382.851,300c0-45.795-37.057-82.851-82.851-82.851S217.149,254.205,217.149,300
                        s37.057,82.851,82.851,82.851S382.851,345.795,382.851,300z"/>
                </g>
                </svg>
            </a>
            <p class="label">
                Shooter
            </p>
        </section>
    </ion-content>
</ion-view>