<ion-view title="How to play">
<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" id="settings">
        How to play content.
    </ion-content>
</ion-view>