<ion-view title="Intro">
    <ion-content id="praps-intro" scroll="false">
        <ion-slide-box show-pager="false" on-slide-changed="slideChanged(index)">
            <ion-slide>
                <div class="box intro-1" disable-scroll="true">
                    <section class="top">
                        <p>Hi there!</p>
                        <p>We know learning German prepositions can be confusing.</p>
                    </section>
                    <section class="middle">
                    <svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 333" enable-background="new 0 0 600 333" xml:space="preserve">
	<g opacity="0.05">
		<path d="M83.498,183.476l-0.354-2.481c-0.163-1.14-0.193-2.191-0.09-3.152c0.102-0.961,0.333-1.895,0.695-2.802
			c0.361-0.907,0.865-1.811,1.512-2.713c0.646-0.902,1.446-1.854,2.398-2.857c0.834-0.872,1.533-1.644,2.099-2.318
			c0.565-0.674,1.008-1.324,1.33-1.952c0.32-0.627,0.526-1.267,0.616-1.918c0.089-0.651,0.075-1.39-0.043-2.218
			c-0.182-1.274-0.762-2.263-1.74-2.968c-0.979-0.703-2.352-0.93-4.117-0.678c-1.543,0.22-3.156,0.781-4.841,1.683
			c-1.684,0.902-3.411,1.958-5.176,3.168l-4.478-6.922c0.881-0.696,1.851-1.376,2.908-2.04c1.057-0.664,2.167-1.279,3.33-1.844
			c1.162-0.565,2.353-1.049,3.573-1.451c1.22-0.402,2.434-0.689,3.641-0.862c2.281-0.325,4.376-0.345,6.288-0.059
			c1.911,0.286,3.579,0.864,5.003,1.732c1.424,0.869,2.583,2.004,3.479,3.404c0.896,1.401,1.48,3.062,1.755,4.985
			c0.201,1.408,0.224,2.688,0.069,3.839c-0.155,1.151-0.473,2.246-0.952,3.284c-0.479,1.038-1.12,2.064-1.921,3.08
			c-0.802,1.016-1.748,2.103-2.836,3.262c-0.834,0.872-1.508,1.624-2.022,2.256c-0.514,0.632-0.904,1.219-1.169,1.758
			c-0.265,0.54-0.422,1.081-0.47,1.624c-0.048,0.543-0.021,1.172,0.081,1.887l0.287,2.012L83.498,183.476z M84.029,195.102
			c-0.15-1.051-0.126-1.961,0.072-2.731c0.198-0.769,0.534-1.416,1.007-1.94c0.473-0.524,1.058-0.938,1.756-1.243
			c0.698-0.305,1.46-0.516,2.288-0.635c0.782-0.112,1.54-0.117,2.273-0.016c0.733,0.1,1.399,0.336,2,0.707
			c0.601,0.37,1.109,0.897,1.526,1.578c0.416,0.682,0.7,1.548,0.85,2.599c0.144,1.006,0.11,1.889-0.101,2.649
			c-0.212,0.761-0.551,1.413-1.021,1.959c-0.47,0.546-1.041,0.975-1.715,1.288c-0.673,0.312-1.402,0.525-2.184,0.637
			c-0.828,0.118-1.62,0.122-2.376,0.014c-0.757-0.109-1.437-0.36-2.04-0.752c-0.604-0.393-1.108-0.925-1.512-1.598
			C84.446,196.947,84.173,196.108,84.029,195.102z"/>
	</g>
	<g>
		<g>
			<g>
				<polygon fill="#A54F46" points="413.004,232.065 454.117,273.783 460.1,246.547 				"/>
				<g>
					<path fill="#A54F46" d="M546.072,271.388c0,25.457-20.602,49.089-46.059,49.089s-46.058-23.629-46.058-49.086
						c0-25.457,20.6-44.3,46.058-44.3S546.072,245.93,546.072,271.388z"/>
					<circle fill="#FC7360" cx="500.013" cy="269.593" r="46.094"/>
				</g>
			</g>
			<g>
				<path fill="#FFFFFF" d="M524.62,267.311c0.732,0,1.34,0.053,1.824,0.16l-0.407,5.065c-0.437-0.118-0.968-0.178-1.594-0.178
					c-1.724,0-3.066,0.443-4.029,1.329c-0.962,0.885-1.443,2.124-1.443,3.718v10.076h-5.401v-19.798h4.091l0.797,3.329h0.266
					c0.614-1.11,1.443-2.004,2.488-2.682C522.256,267.65,523.391,267.311,524.62,267.311z"/>
				<path fill="#FFFFFF" d="M486.635,271.738h-4.675v15.743h-5.401v-15.743h-2.975v-2.603l2.975-1.453v-1.452
					c0-2.255,0.555-3.901,1.665-4.941c1.11-1.038,2.886-1.558,5.331-1.558c1.865,0,3.524,0.278,4.976,0.833l-1.381,3.967
					c-1.086-0.342-2.089-0.514-3.01-0.514c-0.768,0-1.322,0.227-1.665,0.681c-0.342,0.455-0.514,1.036-0.514,1.745v1.239h4.675
					V271.738z"/>
				<path fill="#FFFFFF" d="M503.759,287.481l-0.726-2.532h-0.283c-0.578,0.921-1.399,1.633-2.462,2.134
					c-1.062,0.502-2.272,0.753-3.63,0.753c-2.325,0-4.079-0.622-5.259-1.868c-1.181-1.246-1.771-3.037-1.771-5.375v-12.909h5.401
					v11.564c0,1.429,0.254,2.5,0.761,3.214c0.508,0.715,1.316,1.071,2.426,1.071c1.512,0,2.604-0.504,3.276-1.514
					c0.673-1.009,1.01-2.682,1.01-5.02v-9.315h5.401v19.798H503.759z M492.673,262.6c0-0.767,0.221-1.357,0.664-1.771
					c0.442-0.413,1.042-0.619,1.797-0.619c0.779,0,1.39,0.219,1.833,0.655c0.442,0.437,0.664,1.016,0.664,1.735
					c0,0.708-0.224,1.278-0.673,1.709c-0.449,0.431-1.057,0.646-1.824,0.646c-0.755,0-1.355-0.206-1.797-0.62
					C492.895,263.923,492.673,263.344,492.673,262.6z M499.81,262.6c0-0.826,0.239-1.432,0.717-1.815
					c0.478-0.384,1.071-0.576,1.779-0.576c0.768,0,1.378,0.212,1.833,0.637c0.455,0.425,0.682,1.009,0.682,1.753
					c0,0.72-0.23,1.293-0.691,1.718s-1.069,0.637-1.824,0.637c-0.708,0-1.301-0.192-1.779-0.576
					C500.049,263.997,499.81,263.403,499.81,262.6z"/>
			</g>
		</g>
		<g>
			<g>
				<polygon fill="#A54F46" points="187.059,233.804 150.933,266.764 143.815,245.795 				"/>
				<g>
					<path fill="#A54F46" d="M152.123,271.477c0,21.65-17.521,41.748-39.171,41.748s-39.17-20.095-39.17-41.745
						c0-21.65,17.52-37.675,39.17-37.675S152.123,249.827,152.123,271.477z"/>
					<circle fill="#FC7360" cx="112.952" cy="269.951" r="39.201"/>
				</g>
			</g>
			<g>
				<path fill="#FFFFFF" d="M96.275,257.387c0-1.983,1.104-2.975,3.314-2.975s3.314,0.992,3.314,2.975
					c0,0.946-0.275,1.682-0.827,2.208c-0.554,0.526-1.384,0.789-2.488,0.789C97.379,260.384,96.275,259.385,96.275,257.387z
					 M102.624,285.489h-6.091v-22.329h6.091V285.489z"/>
				<path fill="#FFFFFF" d="M129.629,285.489h-6.094v-13.043c0-1.611-0.284-2.817-0.858-3.625c-0.574-0.805-1.484-1.207-2.736-1.207
					c-1.704,0-2.937,0.569-3.694,1.706c-0.76,1.14-1.14,3.028-1.14,5.663v10.505h-6.091v-22.329h4.655l0.817,2.856h0.339
					c0.681-1.078,1.615-1.893,2.808-2.447c1.19-0.552,2.545-0.829,4.062-0.829c2.598,0,4.569,0.703,5.912,2.108
					c1.345,1.405,2.019,3.432,2.019,6.082V285.489z"/>
			</g>
		</g>
	</g>
	<g>
		<g>
			<g>
				<polygon fill="#A54F46" points="391.764,120.536 426.755,83.591 441.821,102.716 				"/>
				<g>
					<path fill="#A54F46" d="M506.887,63.432c0,24.289-19.656,46.837-43.946,46.837c-24.289,0-43.945-22.545-43.945-46.834
						s19.655-42.268,43.945-42.268C487.231,21.167,506.887,39.143,506.887,63.432z"/>
					<circle fill="#FC7360" cx="462.941" cy="61.719" r="43.98"/>
				</g>
			</g>
			<g>
				<path fill="#FFFFFF" d="M447.726,74.694l-0.989-2.549h-0.134c-0.861,1.084-1.746,1.836-2.657,2.256
					c-0.913,0.419-2.101,0.628-3.564,0.628c-1.802,0-3.219-0.514-4.253-1.543c-1.036-1.028-1.551-2.493-1.551-4.395
					c0-1.989,0.696-3.458,2.087-4.401c1.393-0.945,3.492-1.469,6.3-1.569l3.253-0.1v-0.823c0-1.901-0.973-2.85-2.918-2.85
					c-1.499,0-3.259,0.452-5.284,1.359l-1.694-3.456c2.157-1.13,4.552-1.694,7.179-1.694c2.517,0,4.445,0.548,5.788,1.644
					c1.341,1.096,2.013,2.762,2.013,4.997v12.497H447.726z M446.217,66.006l-1.979,0.066c-1.487,0.044-2.595,0.313-3.322,0.805
					c-0.727,0.492-1.09,1.242-1.09,2.248c0,1.443,0.827,2.163,2.483,2.163c1.184,0,2.133-0.341,2.842-1.022
					c0.71-0.682,1.066-1.59,1.066-2.717V66.006z"/>
				<path fill="#FFFFFF" d="M469.853,74.694l-0.688-2.398h-0.269c-0.548,0.871-1.325,1.545-2.33,2.021
					c-1.007,0.476-2.153,0.712-3.44,0.712c-2.204,0-3.863-0.59-4.981-1.77c-1.118-1.178-1.678-2.876-1.678-5.09V55.941h5.116v10.954
					c0,1.353,0.241,2.366,0.723,3.045c0.48,0.676,1.246,1.014,2.298,1.014c1.431,0,2.465-0.478,3.103-1.433
					c0.636-0.957,0.955-2.543,0.955-4.756v-8.823h5.116v18.753H469.853z"/>
				<path fill="#FFFFFF" d="M489.509,59.783h-4.427v14.912h-5.116V59.783h-2.818v-2.467l2.818-1.375v-1.375
					c0-2.137,0.526-3.697,1.575-4.68c1.052-0.985,2.735-1.477,5.049-1.477c1.766,0,3.338,0.263,4.714,0.789l-1.309,3.757
					c-1.03-0.323-1.979-0.486-2.852-0.486c-0.727,0-1.252,0.215-1.577,0.646c-0.323,0.429-0.486,0.981-0.486,1.652v1.174h4.427
					V59.783z"/>
			</g>
		</g>
		<g>
			<g>
				<polygon fill="#A54F46" points="198.424,125.609 137.862,111.057 154.051,90.286 				"/>
				<g>
					<path fill="#A54F46" d="M161.352,68.368c0,29.686-24.023,57.242-53.709,57.242S53.935,98.056,53.935,68.371
						s24.022-51.658,53.708-51.658S161.352,38.682,161.352,68.368z"/>
					<circle fill="#FC7360" cx="107.643" cy="66.275" r="53.751"/>
				</g>
			</g>
			<g>
				<path fill="#FFFFFF" d="M89.327,79.273h-4.291v-9.187c0-1.134-0.202-1.986-0.605-2.553c-0.404-0.568-1.046-0.851-1.927-0.851
					c-1.201,0-2.069,0.401-2.603,1.203c-0.535,0.802-0.802,2.131-0.802,3.989v7.4h-4.291V63.544h3.279l0.577,2.011h0.239
					c0.478-0.76,1.137-1.334,1.977-1.723c0.84-0.389,1.794-0.585,2.863-0.585c1.829,0,3.217,0.496,4.165,1.485
					c0.947,0.989,1.421,2.418,1.421,4.283V79.273z"/>
				<path fill="#FFFFFF" d="M103.732,79.273l-0.83-2.139h-0.112c-0.722,0.909-1.466,1.541-2.231,1.893
					c-0.764,0.351-1.76,0.527-2.989,0.527c-1.51,0-2.699-0.431-3.567-1.294c-0.867-0.863-1.301-2.092-1.301-3.686
					c0-1.669,0.584-2.9,1.752-3.693c1.167-0.792,2.928-1.231,5.283-1.315l2.729-0.085v-0.689c0-1.594-0.816-2.391-2.448-2.391
					c-1.257,0-2.734,0.379-4.432,1.139l-1.421-2.898c1.811-0.947,3.818-1.42,6.022-1.42c2.11,0,3.728,0.459,4.854,1.379
					c1.125,0.919,1.688,2.317,1.688,4.192v10.481H103.732z M102.466,71.985l-1.66,0.057c-1.247,0.037-2.176,0.262-2.786,0.675
					s-0.914,1.041-0.914,1.886c0,1.21,0.694,1.815,2.082,1.815c0.994,0,1.79-0.286,2.385-0.859c0.595-0.572,0.893-1.331,0.893-2.279
					V71.985z"/>
				<path fill="#FFFFFF" d="M117.534,79.554c-4.896,0-7.344-2.687-7.344-8.061c0-2.673,0.667-4.715,1.998-6.126
					c1.332-1.412,3.241-2.118,5.727-2.118c1.819,0,3.452,0.357,4.895,1.069l-1.266,3.321c-0.676-0.272-1.304-0.495-1.886-0.669
					c-0.582-0.173-1.163-0.26-1.744-0.26c-2.233,0-3.348,1.585-3.348,4.755c0,3.077,1.116,4.615,3.348,4.615
					c0.824,0,1.589-0.11,2.293-0.331c0.703-0.221,1.406-0.564,2.11-1.034v3.672c-0.695,0.441-1.396,0.746-2.103,0.914
					C119.506,79.47,118.612,79.554,117.534,79.554z"/>
				<path fill="#FFFFFF" d="M140.48,79.273h-4.291v-9.187c0-2.269-0.845-3.404-2.532-3.404c-1.201,0-2.069,0.408-2.603,1.224
					c-0.535,0.815-0.802,2.139-0.802,3.968v7.4h-4.291V57.381h4.291v4.46c0,0.347-0.033,1.162-0.098,2.448l-0.099,1.266h0.226
					c0.956-1.538,2.475-2.307,4.558-2.307c1.847,0,3.249,0.498,4.206,1.492c0.957,0.994,1.435,2.42,1.435,4.276V79.273z"/>
			</g>
		</g>
	</g>
	<g opacity="0.05">
		<path d="M500.387,164.764l0.764-2.27c0.351-1.043,0.777-1.953,1.278-2.73c0.5-0.777,1.099-1.474,1.798-2.093
			c0.698-0.619,1.516-1.174,2.457-1.666c0.94-0.492,2.032-0.961,3.275-1.408c1.086-0.386,2.015-0.744,2.788-1.077
			c0.772-0.332,1.43-0.697,1.974-1.095c0.543-0.398,0.993-0.855,1.35-1.373c0.356-0.518,0.662-1.155,0.917-1.912
			c0.393-1.166,0.322-2.259-0.21-3.282c-0.533-1.021-1.608-1.805-3.223-2.348c-1.412-0.475-3.03-0.69-4.856-0.644
			c-1.825,0.046-3.753,0.205-5.78,0.479l-0.847-7.834c1.051-0.215,2.171-0.379,3.359-0.491c1.188-0.113,2.399-0.16,3.635-0.143
			c1.235,0.017,2.459,0.116,3.674,0.298c1.214,0.181,2.374,0.458,3.478,0.83c2.087,0.702,3.884,1.586,5.393,2.652
			c1.508,1.066,2.684,2.276,3.526,3.629c0.842,1.354,1.344,2.821,1.507,4.401c0.162,1.581-0.053,3.25-0.645,5.009
			c-0.434,1.288-0.964,2.39-1.591,3.307c-0.627,0.916-1.369,1.714-2.224,2.394c-0.856,0.68-1.843,1.281-2.964,1.803
			c-1.121,0.523-2.396,1.044-3.823,1.565c-1.086,0.386-1.985,0.738-2.695,1.057c-0.711,0.319-1.296,0.652-1.754,0.998
			c-0.458,0.347-0.825,0.742-1.099,1.184c-0.275,0.443-0.522,0.992-0.742,1.646l-0.62,1.841L500.387,164.764z M495.842,174.917
			c0.324-0.962,0.736-1.728,1.235-2.3c0.5-0.572,1.065-0.979,1.693-1.223c0.629-0.244,1.306-0.346,2.033-0.306
			c0.727,0.04,1.468,0.187,2.226,0.442c0.716,0.241,1.365,0.562,1.947,0.963c0.583,0.4,1.05,0.888,1.403,1.463
			c0.354,0.575,0.561,1.242,0.624,2.003c0.062,0.761-0.068,1.622-0.392,2.584c-0.31,0.92-0.718,1.66-1.224,2.218
			c-0.508,0.558-1.078,0.969-1.714,1.233c-0.635,0.264-1.308,0.385-2.018,0.362c-0.709-0.023-1.422-0.154-2.138-0.395
			c-0.757-0.255-1.435-0.592-2.034-1.01c-0.599-0.418-1.072-0.925-1.418-1.519c-0.346-0.595-0.548-1.266-0.603-2.014
			C495.405,176.671,495.532,175.837,495.842,174.917z"/>
	</g>
	<g opacity="0.05">
		<path d="M270.887,58.502l-0.812-3.643c-0.373-1.674-0.539-3.231-0.498-4.67c0.041-1.439,0.276-2.852,0.709-4.241
			c0.431-1.388,1.075-2.789,1.931-4.203c0.856-1.414,1.933-2.92,3.231-4.519c1.137-1.39,2.086-2.618,2.849-3.684
			c0.761-1.065,1.345-2.082,1.749-3.052c0.404-0.968,0.634-1.941,0.693-2.919c0.057-0.977-0.049-2.073-0.32-3.288
			c-0.417-1.871-1.392-3.272-2.926-4.206c-1.535-0.931-3.599-1.109-6.191-0.532c-2.265,0.505-4.596,1.523-6.994,3.057
			c-2.396,1.533-4.838,3.3-7.32,5.3l-7.448-9.761c1.228-1.134,2.589-2.257,4.082-3.364c1.493-1.108,3.07-2.149,4.731-3.122
			c1.661-0.973,3.373-1.829,5.138-2.566s3.534-1.304,5.306-1.699c3.348-0.746,6.458-1.018,9.329-0.813
			c2.87,0.205,5.414,0.87,7.628,1.995c2.215,1.126,4.067,2.677,5.559,4.653c1.491,1.977,2.551,4.376,3.18,7.199
			c0.461,2.068,0.642,3.965,0.546,5.692c-0.098,1.727-0.443,3.39-1.034,4.985c-0.592,1.597-1.424,3.194-2.498,4.794
			c-1.073,1.601-2.352,3.324-3.835,5.17c-1.137,1.39-2.052,2.585-2.741,3.583c-0.691,0.998-1.202,1.914-1.533,2.745
			c-0.331,0.832-0.502,1.654-0.51,2.465c-0.009,0.812,0.104,1.743,0.338,2.793l0.658,2.954L270.887,58.502z M273.015,75.702
			c-0.344-1.543-0.413-2.897-0.209-4.062c0.206-1.165,0.63-2.164,1.271-2.996c0.641-0.832,1.462-1.515,2.463-2.047
			c1.001-0.533,2.108-0.935,3.324-1.206c1.149-0.256,2.273-0.352,3.372-0.286c1.1,0.064,2.117,0.338,3.051,0.819
			c0.935,0.481,1.749,1.204,2.448,2.167c0.697,0.964,1.217,2.218,1.561,3.761c0.329,1.477,0.381,2.792,0.156,3.944
			c-0.227,1.154-0.655,2.161-1.29,3.027c-0.634,0.864-1.433,1.568-2.398,2.11c-0.964,0.541-2.02,0.942-3.169,1.198
			c-1.215,0.271-2.391,0.368-3.527,0.294c-1.136-0.074-2.175-0.368-3.116-0.882c-0.941-0.514-1.751-1.246-2.429-2.198
			C273.848,78.394,273.345,77.179,273.015,75.702z"/>
	</g>
	<g opacity="0.05">
		<path d="M302.068,285.592l0.206-2.639c0.095-1.213,0.305-2.303,0.632-3.27c0.326-0.967,0.78-1.877,1.361-2.729
			c0.581-0.852,1.308-1.668,2.182-2.449c0.874-0.781,1.917-1.579,3.129-2.394c1.06-0.707,1.958-1.342,2.697-1.907
			c0.737-0.564,1.344-1.133,1.82-1.706c0.475-0.573,0.833-1.185,1.076-1.836c0.242-0.651,0.397-1.416,0.466-2.296
			c0.106-1.355-0.265-2.508-1.111-3.46c-0.847-0.95-2.211-1.499-4.088-1.646c-1.641-0.128-3.433,0.079-5.378,0.621
			c-1.944,0.542-3.966,1.233-6.064,2.075l-3.024-8.166c1.068-0.514,2.224-0.993,3.467-1.434c1.243-0.442,2.528-0.82,3.857-1.135
			c1.328-0.315,2.667-0.54,4.017-0.673s2.668-0.151,3.951-0.051c2.426,0.189,4.591,0.651,6.495,1.385
			c1.904,0.735,3.491,1.714,4.759,2.937c1.268,1.224,2.202,2.66,2.804,4.309c0.601,1.65,0.822,3.497,0.662,5.542
			c-0.117,1.498-0.388,2.822-0.812,3.974c-0.425,1.151-1.004,2.207-1.736,3.166c-0.733,0.96-1.629,1.871-2.689,2.733
			c-1.06,0.863-2.285,1.766-3.674,2.71c-1.06,0.707-1.928,1.327-2.603,1.861c-0.676,0.534-1.212,1.048-1.61,1.543
			c-0.397,0.495-0.684,1.018-0.858,1.566c-0.175,0.549-0.291,1.204-0.35,1.964l-0.167,2.14L302.068,285.592z M299.94,297.699
			c0.087-1.118,0.321-2.051,0.702-2.798c0.381-0.748,0.876-1.337,1.484-1.768c0.608-0.431,1.306-0.724,2.096-0.877
			c0.789-0.154,1.624-0.196,2.504-0.128c0.832,0.065,1.615,0.234,2.346,0.506c0.733,0.272,1.365,0.668,1.899,1.189
			c0.534,0.52,0.936,1.179,1.21,1.978c0.272,0.799,0.365,1.757,0.278,2.875c-0.083,1.07-0.321,1.973-0.713,2.707
			c-0.393,0.735-0.893,1.33-1.503,1.785c-0.61,0.455-1.297,0.766-2.064,0.933c-0.766,0.167-1.566,0.219-2.398,0.154
			c-0.88-0.069-1.698-0.247-2.453-0.533c-0.755-0.286-1.398-0.701-1.93-1.245c-0.532-0.544-0.929-1.208-1.191-1.995
			C299.946,299.697,299.857,298.769,299.94,297.699z"/>
	</g>
	<g>
		<g>
			<path d="M191.517,166.744c0-1.619,0.902-2.429,2.707-2.429c1.804,0,2.707,0.81,2.707,2.429c0,0.772-0.225,1.372-0.676,1.802
				c-0.451,0.43-1.128,0.645-2.03,0.645C192.42,169.19,191.517,168.375,191.517,166.744z M196.702,189.685h-4.973v-18.229h4.973
				V189.685z"/>
			<path d="M218.746,189.685h-4.973v-10.647c0-1.315-0.234-2.301-0.702-2.959c-0.467-0.657-1.212-0.986-2.234-0.986
				c-1.391,0-2.397,0.465-3.016,1.394c-0.619,0.93-0.929,2.47-0.929,4.622v8.577h-4.973v-18.229h3.799l0.668,2.332h0.278
				c0.554-0.88,1.318-1.546,2.291-1.997c0.973-0.451,2.079-0.677,3.318-0.677c2.12,0,3.728,0.573,4.826,1.72
				c1.098,1.147,1.647,2.802,1.647,4.965V189.685z"/>
			<path d="M231.546,186.049c0.869,0,1.913-0.19,3.131-0.57v3.701c-1.239,0.555-2.761,0.832-4.565,0.832
				c-1.989,0-3.438-0.502-4.345-1.508c-0.908-1.005-1.362-2.513-1.362-4.525v-8.788h-2.381v-2.104l2.739-1.663l1.435-3.848h3.179
				v3.88h5.103v3.734h-5.103v8.788c0,0.707,0.199,1.229,0.595,1.566C230.369,185.881,230.894,186.049,231.546,186.049z"/>
			<path d="M246.612,190.011c-2.935,0-5.229-0.81-6.881-2.43c-1.652-1.619-2.478-3.913-2.478-6.88c0-3.055,0.764-5.416,2.291-7.085
				c1.527-1.668,3.639-2.503,6.335-2.503c2.576,0,4.581,0.734,6.016,2.201c1.435,1.468,2.152,3.495,2.152,6.082v2.413h-11.756
				c0.054,1.413,0.473,2.516,1.256,3.31c0.783,0.794,1.88,1.19,3.294,1.19c1.098,0,2.136-0.114,3.114-0.342
				c0.978-0.228,2-0.592,3.065-1.093v3.848c-0.87,0.435-1.8,0.758-2.788,0.97C249.242,189.905,248.035,190.011,246.612,190.011z
				 M245.911,174.652c-1.055,0-1.881,0.334-2.478,1.002c-0.598,0.669-0.94,1.617-1.028,2.845h6.979
				c-0.022-1.228-0.342-2.177-0.962-2.845C247.802,174.986,246.965,174.652,245.911,174.652z"/>
			<path d="M268.264,171.114c0.674,0,1.234,0.049,1.68,0.147l-0.375,4.663c-0.402-0.109-0.891-0.164-1.468-0.164
				c-1.587,0-2.823,0.408-3.709,1.223c-0.886,0.815-1.329,1.956-1.329,3.424v9.278h-4.973v-18.229h3.766l0.734,3.065h0.245
				c0.565-1.022,1.329-1.845,2.291-2.47C266.088,171.427,267.133,171.114,268.264,171.114z"/>
			<path d="M281.178,190.011c-2.935,0-5.229-0.81-6.881-2.43c-1.652-1.619-2.478-3.913-2.478-6.88c0-3.055,0.764-5.416,2.291-7.085
				c1.527-1.668,3.639-2.503,6.335-2.503c2.576,0,4.581,0.734,6.016,2.201c1.435,1.468,2.152,3.495,2.152,6.082v2.413h-11.756
				c0.054,1.413,0.473,2.516,1.256,3.31c0.783,0.794,1.88,1.19,3.294,1.19c1.098,0,2.136-0.114,3.114-0.342
				c0.978-0.228,2-0.592,3.065-1.093v3.848c-0.87,0.435-1.8,0.758-2.788,0.97C283.808,189.905,282.602,190.011,281.178,190.011z
				 M280.477,174.652c-1.055,0-1.881,0.334-2.478,1.002c-0.598,0.669-0.94,1.617-1.028,2.845h6.979
				c-0.022-1.228-0.342-2.177-0.962-2.845C282.368,174.986,281.531,174.652,280.477,174.652z"/>
			<path d="M305.374,184.272c0,1.869-0.65,3.294-1.949,4.272c-1.299,0.979-3.242,1.468-5.829,1.468c-1.326,0-2.456-0.09-3.391-0.269
				c-0.935-0.179-1.81-0.443-2.625-0.791v-4.109c0.924,0.435,1.965,0.799,3.122,1.092c1.158,0.294,2.177,0.441,3.057,0.441
				c1.804,0,2.707-0.522,2.707-1.566c0-0.391-0.119-0.709-0.358-0.954c-0.239-0.245-0.653-0.522-1.24-0.832
				c-0.587-0.309-1.37-0.671-2.348-1.084c-1.402-0.587-2.432-1.13-3.09-1.631c-0.658-0.5-1.136-1.073-1.435-1.72
				c-0.299-0.647-0.449-1.443-0.449-2.389c0-1.62,0.628-2.872,1.883-3.758c1.255-0.886,3.035-1.329,5.339-1.329
				c2.196,0,4.332,0.478,6.408,1.435l-1.5,3.587c-0.913-0.392-1.767-0.712-2.56-0.962c-0.794-0.25-1.604-0.375-2.43-0.375
				c-1.468,0-2.201,0.397-2.201,1.191c0,0.445,0.237,0.831,0.71,1.158c0.473,0.326,1.508,0.81,3.106,1.451
				c1.424,0.576,2.468,1.114,3.131,1.614c0.663,0.5,1.152,1.076,1.468,1.729C305.217,182.592,305.374,183.37,305.374,184.272z"/>
			<path d="M321.973,184.272c0,1.869-0.65,3.294-1.949,4.272c-1.299,0.979-3.242,1.468-5.829,1.468c-1.326,0-2.456-0.09-3.391-0.269
				c-0.935-0.179-1.81-0.443-2.625-0.791v-4.109c0.924,0.435,1.965,0.799,3.122,1.092c1.158,0.294,2.177,0.441,3.057,0.441
				c1.804,0,2.707-0.522,2.707-1.566c0-0.391-0.119-0.709-0.358-0.954c-0.239-0.245-0.653-0.522-1.24-0.832
				c-0.587-0.309-1.37-0.671-2.348-1.084c-1.402-0.587-2.432-1.13-3.09-1.631c-0.658-0.5-1.136-1.073-1.435-1.72
				c-0.299-0.647-0.449-1.443-0.449-2.389c0-1.62,0.628-2.872,1.883-3.758c1.255-0.886,3.035-1.329,5.339-1.329
				c2.196,0,4.332,0.478,6.408,1.435l-1.5,3.587c-0.913-0.392-1.767-0.712-2.56-0.962c-0.794-0.25-1.604-0.375-2.43-0.375
				c-1.468,0-2.201,0.397-2.201,1.191c0,0.445,0.237,0.831,0.71,1.158c0.473,0.326,1.508,0.81,3.106,1.451
				c1.424,0.576,2.468,1.114,3.131,1.614c0.663,0.5,1.152,1.076,1.468,1.729C321.815,182.592,321.973,183.37,321.973,184.272z"/>
			<path d="M325.641,166.744c0-1.619,0.902-2.429,2.707-2.429c1.804,0,2.707,0.81,2.707,2.429c0,0.772-0.225,1.372-0.676,1.802
				c-0.451,0.43-1.128,0.645-2.03,0.645C326.543,169.19,325.641,168.375,325.641,166.744z M330.826,189.685h-4.973v-18.229h4.973
				V189.685z"/>
			<path d="M344.294,190.011c-2.935,0-5.229-0.81-6.881-2.43c-1.652-1.619-2.478-3.913-2.478-6.88c0-3.055,0.764-5.416,2.291-7.085
				c1.527-1.668,3.639-2.503,6.335-2.503c2.576,0,4.581,0.734,6.016,2.201c1.435,1.468,2.152,3.495,2.152,6.082v2.413h-11.756
				c0.054,1.413,0.473,2.516,1.256,3.31c0.783,0.794,1.88,1.19,3.294,1.19c1.098,0,2.136-0.114,3.114-0.342
				c0.978-0.228,2-0.592,3.065-1.093v3.848c-0.87,0.435-1.8,0.758-2.788,0.97C346.924,189.905,345.718,190.011,344.294,190.011z
				 M343.593,174.652c-1.055,0-1.881,0.334-2.478,1.002c-0.598,0.669-0.94,1.617-1.028,2.845h6.979
				c-0.022-1.228-0.342-2.177-0.962-2.845C345.484,174.986,344.647,174.652,343.593,174.652z"/>
			<path d="M365.947,171.114c0.674,0,1.234,0.049,1.68,0.147l-0.375,4.663c-0.402-0.109-0.891-0.164-1.468-0.164
				c-1.587,0-2.823,0.408-3.709,1.223c-0.886,0.815-1.329,1.956-1.329,3.424v9.278h-4.973v-18.229h3.766l0.734,3.065h0.245
				c0.565-1.022,1.329-1.845,2.291-2.47C363.77,171.427,364.816,171.114,365.947,171.114z"/>
			<path d="M378.861,190.011c-2.935,0-5.229-0.81-6.881-2.43c-1.652-1.619-2.478-3.913-2.478-6.88c0-3.055,0.764-5.416,2.291-7.085
				c1.527-1.668,3.639-2.503,6.335-2.503c2.576,0,4.581,0.734,6.016,2.201c1.435,1.468,2.152,3.495,2.152,6.082v2.413h-11.756
				c0.054,1.413,0.473,2.516,1.256,3.31c0.783,0.794,1.88,1.19,3.294,1.19c1.098,0,2.136-0.114,3.114-0.342
				c0.978-0.228,2-0.592,3.065-1.093v3.848c-0.87,0.435-1.8,0.758-2.788,0.97C381.491,189.905,380.284,190.011,378.861,190.011z
				 M378.16,174.652c-1.055,0-1.881,0.334-2.478,1.002c-0.598,0.669-0.94,1.617-1.028,2.845h6.979
				c-0.022-1.228-0.342-2.177-0.962-2.845C380.051,174.986,379.213,174.652,378.16,174.652z"/>
			<path d="M407.165,189.685h-4.973v-10.647c0-1.315-0.234-2.301-0.702-2.959c-0.467-0.657-1.212-0.986-2.234-0.986
				c-1.391,0-2.397,0.465-3.016,1.394c-0.619,0.93-0.929,2.47-0.929,4.622v8.577h-4.973v-18.229h3.799l0.668,2.332h0.278
				c0.554-0.88,1.318-1.546,2.291-1.997c0.973-0.451,2.079-0.677,3.318-0.677c2.12,0,3.728,0.573,4.826,1.72
				c1.098,1.147,1.647,2.802,1.647,4.965V189.685z"/>
		</g>
	</g>
</svg>
                    </section>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box intro-2">
                    <section class="top">
                        <p>We want you to learn German prepositions in a fun and easy way.</p>
                        <p>Sounds good?</p>
                    </section>
                    <section class="middle">
                        <!--<img src="img.png">-->
                        <svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 333" enable-background="new 0 0 600 333" xml:space="preserve">
	<g>
		<path fill="#231F20" d="M384.143,144.367c2.504,0,4.582,0.182,6.238,0.545l-1.393,17.319c-1.495-0.404-3.311-0.607-5.451-0.607
			c-5.894,0-10.486,1.515-13.777,4.544c-3.291,3.027-4.935,7.265-4.935,12.716v34.457h-18.47v-67.703h13.988l2.725,11.385h0.909
			c2.098-3.794,4.935-6.851,8.508-9.173C376.059,145.528,379.943,144.367,384.143,144.367z"/>
		<path fill="#231F20" d="M254.248,159.507h-15.987v53.834h-18.47v-53.834h-10.172v-8.901l10.172-4.967v-4.965
			c0-7.711,1.898-13.341,5.693-16.896c3.794-3.551,9.87-5.329,18.228-5.329c6.378,0,12.05,0.949,17.016,2.847l-4.723,13.565
			c-3.714-1.171-7.145-1.756-10.294-1.756c-2.625,0-4.522,0.777-5.693,2.33c-1.171,1.557-1.756,3.543-1.756,5.966v4.238h15.987
			V159.507z"/>
		<path fill="#231F20" d="M312.808,213.341l-2.484-8.66h-0.969c-1.978,3.149-4.783,5.583-8.418,7.297
			c-3.633,1.716-7.771,2.574-12.414,2.574c-7.952,0-13.949-2.128-17.985-6.388c-4.038-4.26-6.056-10.386-6.056-18.38v-44.145h18.47
			v39.544c0,4.885,0.867,8.55,2.603,10.991c1.736,2.444,4.502,3.662,8.296,3.662c5.169,0,8.903-1.724,11.203-5.177
			c2.302-3.451,3.453-9.173,3.453-17.167v-31.853h18.47v67.703H312.808z M274.898,128.259c0-2.623,0.757-4.642,2.272-6.056
			c1.513-1.413,3.563-2.118,6.146-2.118c2.663,0,4.753,0.747,6.268,2.24c1.513,1.495,2.27,3.473,2.27,5.934
			c0,2.422-0.767,4.37-2.3,5.844c-1.535,1.475-3.615,2.21-6.238,2.21c-2.583,0-4.634-0.705-6.146-2.12
			C275.655,132.781,274.898,130.802,274.898,128.259z M299.303,128.259c0-2.825,0.817-4.895,2.454-6.206
			c1.634-1.313,3.662-1.968,6.084-1.968c2.625,0,4.713,0.725,6.268,2.18c1.555,1.453,2.332,3.451,2.332,5.994
			c0,2.464-0.787,4.422-2.362,5.874c-1.574,1.453-3.654,2.18-6.238,2.18c-2.422,0-4.45-0.655-6.084-1.968
			C300.12,133.034,299.303,131.004,299.303,128.259z"/>
	</g>
	<polygon fill="#7D4AA8" points="413.004,232.065 454.117,273.783 460.1,246.547 	"/>
	<path fill="#7D4AA8" d="M546.072,271.388c0,25.457-20.602,49.089-46.059,49.089s-46.058-23.629-46.058-49.086
		c0-25.457,20.6-44.3,46.058-44.3S546.072,245.93,546.072,271.388z"/>
	<circle fill="#9352C1" cx="500.013" cy="269.593" r="46.094"/>
	<polygon fill="#6FA54C" points="187.059,233.804 150.933,266.764 143.815,245.795 	"/>
	<path fill="#6FA54C" d="M152.123,271.477c0,21.65-17.521,41.748-39.171,41.748s-39.17-20.095-39.17-41.745
		c0-21.65,17.52-37.675,39.17-37.675S152.123,249.827,152.123,271.477z"/>
	<circle fill="#78BA52" cx="112.952" cy="269.951" r="39.201"/>
	<polygon fill="#D6754C" points="391.764,120.536 426.755,83.591 441.821,102.716 	"/>
	<path fill="#D6754C" d="M506.887,63.432c0,24.289-19.656,46.837-43.946,46.837c-24.289,0-43.945-22.545-43.945-46.834
		s19.655-42.268,43.945-42.268C487.231,21.167,506.887,39.143,506.887,63.432z"/>
	<circle fill="#ED844F" cx="462.941" cy="61.719" r="43.98"/>
	<g>
		<polygon fill="#D6A749" points="198.424,125.609 137.862,111.057 154.051,90.286 		"/>
		<g>
			<path fill="#D6A749" d="M161.352,68.368c0,29.686-24.023,57.242-53.709,57.242S53.935,98.056,53.935,68.371
				s24.022-51.658,53.708-51.658S161.352,38.682,161.352,68.368z"/>
			<circle fill="#EFBC4D" cx="107.643" cy="66.275" r="53.751"/>
		</g>
	</g>
	<g>
		<path fill="#FFFFFF" d="M77.179,86.347c0,0,0.295,0.068,0.825,0.219c0.528,0.133,1.297,0.43,2.226,0.679
			c0.47,0.126,0.96,0.285,1.49,0.443c0.561,0.138,1.13,0.323,1.743,0.495c1.229,0.34,2.577,0.704,4.013,1.053
			c0.71,0.164,1.45,0.335,2.215,0.511c0.772,0.135,1.529,0.333,2.326,0.466c1.572,0.318,3.22,0.548,4.88,0.796
			c1.676,0.198,3.375,0.378,5.093,0.506c1.722,0.105,3.457,0.164,5.194,0.174c1.737-0.012,3.471-0.078,5.192-0.186
			c1.717-0.132,3.416-0.308,5.09-0.511c1.658-0.25,3.305-0.48,4.876-0.798c0.797-0.132,1.553-0.33,2.325-0.465
			c0.765-0.176,1.505-0.347,2.214-0.51c1.437-0.346,2.785-0.709,4.014-1.048c0.615-0.17,1.182-0.355,1.744-0.492
			c0.541-0.164,1.036-0.329,1.51-0.456c0.944-0.26,1.672-0.517,2.209-0.656c0.541-0.143,0.829-0.219,0.829-0.219
			s-0.078,0.288-0.256,0.813c-0.089,0.262-0.203,0.586-0.351,0.957c-0.137,0.383-0.324,0.799-0.552,1.252
			c-0.218,0.466-0.486,0.961-0.782,1.509c-0.306,0.536-0.678,1.079-1.067,1.686c-0.389,0.609-0.878,1.171-1.368,1.82
			c-0.495,0.643-1.093,1.222-1.693,1.887c-0.615,0.641-1.307,1.247-2.029,1.888c-0.749,0.589-1.519,1.237-2.374,1.797
			c-1.683,1.181-3.603,2.21-5.671,3.128c-2.083,0.867-4.324,1.596-6.664,2.074c-2.341,0.461-4.768,0.707-7.199,0.724
			c-2.431-0.019-4.857-0.273-7.197-0.737c-2.339-0.482-4.579-1.207-6.66-2.079c-2.067-0.919-3.986-1.949-5.668-3.13
			c-0.854-0.56-1.625-1.208-2.373-1.797c-0.722-0.64-1.414-1.246-2.028-1.887c-0.599-0.665-1.2-1.239-1.693-1.885
			c-0.49-0.648-0.981-1.207-1.369-1.817c-0.39-0.605-0.761-1.149-1.068-1.683c-0.306-0.554-0.58-1.055-0.802-1.523
			c-0.111-0.23-0.217-0.447-0.316-0.651c-0.081-0.21-0.157-0.407-0.228-0.59c-0.142-0.364-0.253-0.685-0.342-0.945
			C77.262,86.638,77.179,86.347,77.179,86.347z"/>
		<g>
			<circle fill="#FFFFFF" cx="89.959" cy="52.426" r="9.1"/>
			<circle fill="#FFFFFF" cx="124.408" cy="52.426" r="9.1"/>
		</g>
	</g>
	<g>
		<path fill="#FFFFFF" d="M439.969,76.69c0,0,0.228,0.052,0.638,0.169c0.409,0.103,1.004,0.332,1.723,0.525
			c0.364,0.097,0.742,0.22,1.153,0.342c0.434,0.107,0.874,0.25,1.348,0.383c0.951,0.263,1.994,0.545,3.105,0.815
			c0.549,0.127,1.122,0.259,1.714,0.396c0.597,0.105,1.183,0.258,1.8,0.361c1.216,0.246,2.492,0.424,3.775,0.616
			c1.297,0.154,2.611,0.292,3.941,0.391c1.332,0.081,2.675,0.127,4.018,0.134c1.344-0.009,2.686-0.061,4.017-0.144
			c1.329-0.102,2.643-0.238,3.938-0.395c1.283-0.193,2.557-0.371,3.773-0.618c0.617-0.102,1.202-0.255,1.799-0.36
			c0.592-0.136,1.164-0.268,1.713-0.395c1.112-0.268,2.155-0.549,3.106-0.811c0.475-0.132,0.914-0.275,1.35-0.381
			c0.419-0.127,0.802-0.255,1.168-0.353c0.73-0.201,1.294-0.4,1.71-0.507c0.418-0.111,0.641-0.17,0.641-0.17
			s-0.06,0.223-0.198,0.629c-0.069,0.203-0.157,0.453-0.271,0.74c-0.106,0.297-0.25,0.618-0.427,0.969
			c-0.169,0.36-0.376,0.743-0.605,1.167c-0.237,0.415-0.525,0.835-0.825,1.305c-0.301,0.471-0.679,0.906-1.058,1.408
			c-0.383,0.498-0.846,0.945-1.31,1.46c-0.476,0.496-1.011,0.965-1.57,1.461c-0.579,0.456-1.176,0.957-1.837,1.391
			c-1.302,0.914-2.787,1.71-4.388,2.42c-1.612,0.671-3.345,1.235-5.156,1.605c-1.811,0.357-3.689,0.547-5.57,0.56
			c-1.881-0.015-3.758-0.211-5.569-0.57c-1.81-0.373-3.543-0.934-5.153-1.609c-1.599-0.711-3.084-1.508-4.385-2.421
			c-0.661-0.433-1.257-0.934-1.836-1.39c-0.558-0.495-1.094-0.964-1.569-1.46c-0.464-0.514-0.929-0.959-1.31-1.458
			c-0.379-0.501-0.759-0.934-1.059-1.406c-0.302-0.468-0.589-0.889-0.827-1.303c-0.237-0.429-0.449-0.817-0.621-1.178
			c-0.086-0.178-0.168-0.346-0.245-0.504c-0.063-0.162-0.122-0.315-0.176-0.456c-0.11-0.282-0.196-0.53-0.265-0.731
			C440.033,76.915,439.969,76.69,439.969,76.69z"/>
		<g>
			<circle fill="#FFFFFF" cx="449.857" cy="50.444" r="7.04"/>
			<circle fill="#FFFFFF" cx="476.51" cy="50.444" r="7.04"/>
		</g>
	</g>
	<g>
		<path fill="#FFFFFF" d="M476.969,283.69c0,0,0.228,0.052,0.638,0.169c0.409,0.103,1.004,0.332,1.723,0.525
			c0.364,0.097,0.742,0.22,1.153,0.342c0.434,0.107,0.874,0.25,1.348,0.383c0.951,0.263,1.994,0.545,3.105,0.815
			c0.549,0.127,1.122,0.259,1.714,0.396c0.597,0.105,1.183,0.258,1.8,0.361c1.216,0.246,2.492,0.424,3.775,0.616
			c1.297,0.154,2.611,0.292,3.941,0.391c1.332,0.081,2.675,0.127,4.018,0.134c1.344-0.009,2.686-0.061,4.017-0.144
			c1.329-0.102,2.643-0.238,3.938-0.395c1.283-0.193,2.557-0.371,3.773-0.618c0.617-0.102,1.202-0.255,1.799-0.36
			c0.592-0.136,1.164-0.268,1.713-0.395c1.112-0.268,2.155-0.549,3.106-0.811c0.475-0.132,0.914-0.275,1.35-0.381
			c0.419-0.127,0.802-0.255,1.168-0.353c0.73-0.201,1.294-0.4,1.71-0.507c0.418-0.111,0.641-0.17,0.641-0.17
			s-0.06,0.223-0.198,0.629c-0.069,0.203-0.157,0.453-0.271,0.74c-0.106,0.297-0.25,0.618-0.427,0.969
			c-0.169,0.36-0.376,0.743-0.605,1.167c-0.237,0.415-0.524,0.835-0.825,1.305c-0.301,0.471-0.679,0.906-1.058,1.408
			c-0.383,0.498-0.846,0.945-1.31,1.46c-0.476,0.496-1.011,0.965-1.57,1.461c-0.579,0.456-1.176,0.957-1.837,1.391
			c-1.302,0.914-2.788,1.71-4.388,2.42c-1.612,0.671-3.345,1.235-5.156,1.605c-1.811,0.357-3.689,0.547-5.57,0.56
			c-1.881-0.015-3.758-0.211-5.569-0.57c-1.81-0.373-3.543-0.934-5.153-1.609c-1.599-0.711-3.084-1.508-4.385-2.421
			c-0.661-0.433-1.257-0.934-1.836-1.39c-0.558-0.495-1.094-0.964-1.569-1.46c-0.464-0.514-0.929-0.959-1.31-1.458
			c-0.379-0.501-0.759-0.934-1.059-1.406c-0.302-0.468-0.589-0.889-0.827-1.303c-0.237-0.429-0.449-0.817-0.621-1.178
			c-0.086-0.178-0.168-0.346-0.245-0.504c-0.063-0.162-0.122-0.315-0.176-0.456c-0.11-0.282-0.196-0.53-0.265-0.731
			C477.033,283.915,476.969,283.69,476.969,283.69z"/>
		<g>
			<circle fill="#FFFFFF" cx="486.857" cy="257.444" r="7.04"/>
			<circle fill="#FFFFFF" cx="513.51" cy="257.444" r="7.04"/>
		</g>
	</g>
	<g>
		<path fill="#FFFFFF" d="M93.173,284.435c0,0,0.197,0.045,0.55,0.146c0.352,0.089,0.865,0.286,1.485,0.453
			c0.314,0.084,0.64,0.19,0.994,0.295c0.374,0.092,0.753,0.215,1.162,0.33c0.82,0.227,1.718,0.47,2.676,0.702
			c0.473,0.109,0.967,0.223,1.477,0.341c0.515,0.09,1.019,0.222,1.551,0.311c1.048,0.212,2.148,0.366,3.254,0.531
			c1.118,0.132,2.251,0.252,3.397,0.337c1.148,0.07,2.305,0.109,3.464,0.116c1.158-0.008,2.315-0.052,3.463-0.124
			c1.145-0.088,2.278-0.205,3.395-0.341c1.106-0.166,2.204-0.32,3.252-0.532c0.532-0.088,1.036-0.22,1.55-0.31
			c0.51-0.118,1.003-0.231,1.477-0.34c0.958-0.231,1.857-0.473,2.677-0.699c0.41-0.113,0.788-0.237,1.163-0.328
			c0.361-0.109,0.691-0.219,1.007-0.304c0.629-0.173,1.115-0.345,1.474-0.437c0.361-0.095,0.553-0.146,0.553-0.146
			s-0.052,0.192-0.171,0.542c-0.06,0.175-0.135,0.391-0.234,0.638c-0.092,0.256-0.216,0.533-0.368,0.835
			c-0.146,0.311-0.324,0.641-0.521,1.006c-0.204,0.358-0.452,0.719-0.711,1.125c-0.259,0.406-0.585,0.781-0.912,1.214
			c-0.33,0.429-0.729,0.815-1.129,1.258c-0.41,0.427-0.872,0.832-1.353,1.259c-0.499,0.393-1.013,0.825-1.583,1.199
			c-1.122,0.788-2.403,1.474-3.782,2.086c-1.389,0.578-2.883,1.064-4.444,1.383c-1.561,0.308-3.18,0.471-4.801,0.483
			c-1.621-0.013-3.239-0.182-4.8-0.491c-1.56-0.322-3.054-0.805-4.442-1.387c-1.379-0.613-2.658-1.3-3.78-2.087
			c-0.57-0.373-1.083-0.805-1.582-1.198c-0.481-0.427-0.943-0.831-1.352-1.258c-0.4-0.443-0.801-0.826-1.129-1.257
			c-0.327-0.432-0.654-0.805-0.913-1.212c-0.26-0.404-0.508-0.766-0.712-1.123c-0.204-0.369-0.387-0.704-0.535-1.015
			c-0.074-0.153-0.145-0.298-0.211-0.434c-0.054-0.14-0.105-0.271-0.152-0.393c-0.095-0.243-0.169-0.457-0.228-0.63
			C93.228,284.63,93.173,284.435,93.173,284.435z"/>
		<g>
			<circle fill="#FFFFFF" cx="101.697" cy="261.813" r="6.069"/>
			<circle fill="#FFFFFF" cx="124.671" cy="261.813" r="6.069"/>
		</g>
	</g>
	<g opacity="0.05">
		<path d="M267.445,315.039c0-1.264,0.182-2.334,0.545-3.208c0.363-0.874,0.868-1.58,1.513-2.119c0.646-0.538,1.398-0.928,2.26-1.17
			c0.86-0.242,1.788-0.363,2.784-0.363c0.941,0,1.836,0.121,2.683,0.363c0.848,0.242,1.594,0.633,2.24,1.17
			c0.646,0.539,1.156,1.245,1.533,2.119c0.376,0.875,0.565,1.944,0.565,3.208c0,1.21-0.188,2.247-0.565,3.107
			c-0.377,0.861-0.888,1.574-1.533,2.139c-0.646,0.565-1.392,0.975-2.24,1.23c-0.847,0.256-1.742,0.384-2.683,0.384
			c-0.996,0-1.924-0.128-2.784-0.384c-0.861-0.256-1.614-0.666-2.26-1.23c-0.646-0.565-1.15-1.278-1.513-2.139
			C267.627,317.286,267.445,316.25,267.445,315.039z M279.511,301.238h-9.846l-2.058-39.425h13.962L279.511,301.238z"/>
	</g>
	<g opacity="0.05">
		<path d="M531.948,167.55c0-1.264,0.182-2.334,0.545-3.208c0.363-0.874,0.868-1.58,1.513-2.119c0.646-0.538,1.398-0.928,2.26-1.17
			c0.86-0.242,1.788-0.363,2.784-0.363c0.941,0,1.836,0.121,2.683,0.363c0.848,0.242,1.594,0.633,2.24,1.17
			c0.646,0.539,1.156,1.245,1.533,2.119c0.376,0.874,0.565,1.944,0.565,3.208c0,1.21-0.188,2.247-0.565,3.107
			c-0.377,0.861-0.888,1.574-1.533,2.139c-0.646,0.565-1.392,0.975-2.24,1.23c-0.847,0.256-1.742,0.384-2.683,0.384
			c-0.996,0-1.924-0.128-2.784-0.384c-0.861-0.256-1.614-0.666-2.26-1.23c-0.646-0.565-1.15-1.278-1.513-2.139
			C532.13,169.797,531.948,168.761,531.948,167.55z M544.014,153.75h-9.846l-2.058-39.425h13.962L544.014,153.75z"/>
	</g>
	<g opacity="0.05">
		<path d="M311.689,62.43c0-1.042,0.15-1.923,0.449-2.644c0.299-0.72,0.715-1.302,1.247-1.746c0.532-0.443,1.152-0.765,1.862-0.964
			c0.709-0.199,1.474-0.299,2.294-0.299c0.776,0,1.513,0.1,2.211,0.299c0.699,0.199,1.314,0.521,1.846,0.964
			c0.532,0.444,0.953,1.026,1.263,1.746c0.31,0.721,0.465,1.602,0.465,2.644c0,0.997-0.155,1.851-0.465,2.56
			c-0.311,0.71-0.731,1.297-1.263,1.763c-0.532,0.465-1.147,0.803-1.846,1.014c-0.698,0.211-1.436,0.316-2.211,0.316
			c-0.821,0-1.585-0.106-2.294-0.316c-0.71-0.211-1.33-0.549-1.862-1.014c-0.532-0.466-0.948-1.053-1.247-1.763
			C311.838,64.281,311.689,63.427,311.689,62.43z M321.631,51.057h-8.114l-1.696-32.488h11.505L321.631,51.057z"/>
	</g>
	<g opacity="0.05">
		<path d="M26.988,207.688c0-1.042,0.15-1.923,0.449-2.644c0.299-0.72,0.715-1.302,1.247-1.746c0.532-0.443,1.152-0.765,1.862-0.964
			c0.709-0.199,1.474-0.299,2.294-0.299c0.776,0,1.513,0.1,2.211,0.299c0.699,0.199,1.314,0.521,1.846,0.964
			c0.532,0.444,0.953,1.026,1.264,1.746c0.31,0.721,0.465,1.602,0.465,2.644c0,0.997-0.155,1.851-0.465,2.56
			c-0.311,0.71-0.731,1.297-1.264,1.763c-0.532,0.465-1.147,0.803-1.846,1.014c-0.698,0.211-1.436,0.316-2.211,0.316
			c-0.821,0-1.585-0.106-2.294-0.316c-0.71-0.211-1.33-0.548-1.862-1.014c-0.532-0.466-0.948-1.053-1.247-1.763
			C27.138,209.539,26.988,208.685,26.988,207.688z M36.931,196.315h-8.114l-1.696-32.488h11.505L36.931,196.315z"/>
	</g>
</svg>
                    </section>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box intro-3">
                    <section class="top">
                        <p>The ultimate goal is to make you awesome at German.</p>
                        <p>Ready?</p>
                    </section>
                    <section class="middle">
                        <a id="got-it-intro-button" href="#/praps/dashboard" ng-click="buttonClicked()">YES</a>
                    </section>
                </div>
            </ion-slide>
        </ion-slide-box>
        <ul class="pager-buttons">
            <li class="pager-button active"></li>
            <li class="pager-button"></li>
            <li class="pager-button"></li>
        </ul>
    </ion-content>
</ion-view>