<ion-view title="Rules Learned">
    <ion-nav-buttons side="left">
        <a href="#/praps/dashboard" class="button button-icon icon ion-ios-arrow-back"></a>
    </ion-nav-buttons>
    <ion-content class="has-header" scroll="true" id="learned">
        <div class="container">
            <div class="intro yes-results" ng-show="rulesLearned.length">
                <p class="icon ion-heart"></p>
                <p>It looks like you've <br /> got these.</p>
                <p class="nice-job">Nice!</p>
            </div>
            <div class="intro no-results" ng-hide="rulesLearned.length">
                <p class="icon ion-game-controller-b"></p>
                <p>To learn new verb+preposition rules (and earn points) you need to keep playing games.</p>
                <p>The better you get at the games, the more rules will show up here.</p>
            </div>
            <ul class="learned-list">
                <li class="learned-list-item" ng-repeat="rule in rulesLearned">
                    <p class="the-same-{{ rule.isTheSameInEnglish }}" ng-show="{{ rule.isTheSameInEnglish }}"><i class="ion-earth"></i></p>
                    <p class="formula {{ rule.case }}">{{ rule.formula }}</p>
                    <p class="translation the-same-{{ rule.isTheSameInEnglish }}">{{ rule.translation }}</p>
                </li>
            </ul>
        </div>
        <div class="praps-ok-button" ng-click="goToDashboard()"></div>
    </ion-content>
</ion-view>