<ion-view title="Know thy Präpps">
<ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" id="learn">
        <div class="wrap">
            <section class="intro">
                Some hints to help you understand German prepositions.
            </section>
            <section class="rules">
                <header class="header">Two-Way Prepositions</header>
                <svg class="svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 600 2576.667" enable-background="new 0 0 600 2576.667" xml:space="preserve">
<rect y="351.418" display="none" fill="#E0E0E0" width="600" height="104.365"/>
<g>
	<rect y="435.747" fill="#D3D3D3" width="600" height="72.827"/>
	<g>
		<polygon fill="#6B6B6B" points="294,381.382 350.19,400.112 350.19,490.112 294,460.847 		"/>
		<polygon fill="#595959" points="406.38,381.382 350.19,400.112 350.19,490.112 406.38,460.847 		"/>
		<polygon fill="#828282" points="350.19,366.87 406.38,381.382 350.19,400.112 294,381.382 		"/>
	</g>
	<g>
		<path d="M35.53,366.87l-1.324-3.412h-0.18c-1.152,1.451-2.338,2.458-3.558,3.019c-1.22,0.562-2.81,0.842-4.77,0.842
			c-2.41,0-4.307-0.688-5.691-2.064s-2.076-3.337-2.076-5.882c0-2.663,0.932-4.628,2.795-5.893c1.863-1.265,4.672-1.964,8.429-2.099
			l4.355-0.135v-1.101c0-2.544-1.302-3.815-3.906-3.815c-2.005,0-4.363,0.605-7.071,1.818l-2.267-4.625
			c2.888-1.511,6.091-2.267,9.608-2.267c3.367,0,5.949,0.733,7.745,2.199c1.796,1.467,2.694,3.697,2.694,6.689v16.725H35.53z
			 M33.51,355.242l-2.649,0.089c-1.991,0.061-3.472,0.42-4.445,1.078c-0.973,0.658-1.459,1.661-1.459,3.008
			c0,1.931,1.107,2.896,3.322,2.896c1.586,0,2.854-0.456,3.805-1.369c0.95-0.912,1.426-2.125,1.426-3.637V355.242z"/>
		<path d="M65.139,366.87l-0.92-3.21H63.86c-0.733,1.167-1.773,2.068-3.121,2.705c-1.347,0.636-2.881,0.953-4.602,0.953
			c-2.949,0-5.171-0.789-6.667-2.368c-1.497-1.578-2.245-3.85-2.245-6.812v-16.365h6.847v14.659c0,1.811,0.322,3.169,0.965,4.074
			c0.643,0.905,1.668,1.358,3.075,1.358c1.916,0,3.3-0.64,4.153-1.92c0.853-1.279,1.279-3.4,1.279-6.364v-11.808h6.847v25.098
			H65.139z"/>
		<path d="M91.449,346.913h-5.926v19.957h-6.847v-19.957h-3.771v-3.3l3.771-1.841v-1.841c0-2.857,0.703-4.945,2.11-6.263
			c1.407-1.316,3.659-1.976,6.757-1.976c2.365,0,4.467,0.352,6.308,1.056l-1.751,5.028c-1.377-0.435-2.649-0.651-3.816-0.651
			c-0.973,0-1.676,0.288-2.11,0.864c-0.434,0.576-0.651,1.313-0.651,2.211v1.571h5.926V346.913z"/>
	</g>
	<g>
		<path d="M535.624,354.254c0-3.562,0.984-6.473,2.952-8.732s4.523-3.39,7.666-3.39c3.157,0,5.721,1.13,7.688,3.39
			s2.952,5.171,2.952,8.732v0.943c0,3.576-0.984,6.495-2.952,8.754c-1.968,2.261-4.516,3.39-7.644,3.39
			c-3.158,0-5.725-1.129-7.7-3.39c-1.975-2.259-2.963-5.178-2.963-8.754V354.254z M536.836,355.197c0,3.053,0.854,5.638,2.56,7.756
			c1.706,2.117,4.003,3.176,6.892,3.176c2.843,0,5.118-1.062,6.824-3.188s2.559-4.706,2.559-7.744v-0.943
			c0-2.978-0.86-5.541-2.581-7.688s-4.004-3.222-6.847-3.222c-2.858,0-5.141,1.074-6.847,3.222s-2.56,4.711-2.56,7.688V355.197z"/>
		<path d="M563.729,342.581l0.157,5.006c0.732-1.736,1.803-3.079,3.21-4.029c1.406-0.95,3.143-1.426,5.208-1.426
			c2.648,0,4.636,0.835,5.96,2.503c1.324,1.669,1.986,4.314,1.986,7.936v14.3h-1.212v-14.345c0-3.367-0.603-5.739-1.807-7.116
			c-1.205-1.377-2.84-2.065-4.905-2.065c-2.619,0-4.595,0.782-5.927,2.347c-1.332,1.563-2.162,3.565-2.491,6.005v15.175h-1.212
			v-24.289H563.729z"/>
	</g>
	<g>
		<g>
			<g>
				<path fill="#A54F46" d="M364.68,375.843c-8.139-3.602-20.84-3.602-28.98,0c-8.498,3.761-9.349,10.224-1.227,14.455
					c8.512,4.433,22.921,4.433,31.433,0C374.029,386.068,373.178,379.605,364.68,375.843z"/>
			</g>
			<g>
				<path fill="#FC7360" d="M364.68,373.843c-8.139-3.602-20.84-3.602-28.98,0c-8.498,3.761-9.349,10.224-1.227,14.455
					c8.512,4.433,22.921,4.433,31.433,0C374.029,384.068,373.178,377.605,364.68,373.843z"/>
			</g>
		</g>
		<g>
			<g>
				<path fill="#FFFFFF" d="M347.589,382.024l-14.138-1.627l4.134-2.004l9.861,1.297l-2.369-4.929l3.983-1.931l2.973,6.734
					l14.897,1.631l-3.853,2.052l-10.856-1.322l2.698,5.668l-4.395,2.342L347.589,382.024z"/>
			</g>
		</g>
	</g>
	<line fill="none" stroke="#878787" stroke-width="10" stroke-miterlimit="10" x1="0" y1="508.574" x2="600" y2="508.574"/>
</g>
<g>
	<rect y="141.382" fill="#D3D3D3" width="600" height="72.827"/>
	<g>
		<path fill="#A54F46" d="M273.255,166.787c0,0,1.345,0.161,3.362,0.402c0.504,0.06,1.051,0.126,1.629,0.195
			c0.566,0.034,1.164,0.07,1.781,0.107c0.621,0.037,1.263,0.075,1.914,0.113c0.654,0.058,1.321,0.029,1.989,0.033
			c0.67-0.002,1.34-0.004,2-0.006c0.66-0.007,1.304-0.074,1.932-0.106c0.626-0.051,1.241-0.055,1.809-0.144
			c0.573-0.072,1.115-0.14,1.616-0.203c0.502-0.061,0.951-0.168,1.357-0.236c0.406-0.07,0.756-0.144,1.041-0.221
			c0.576-0.134,0.898-0.24,0.898-0.24s-0.304,0.149-0.859,0.363c-0.274,0.117-0.614,0.24-1.008,0.366
			c-0.394,0.124-0.834,0.296-1.327,0.427c-0.494,0.133-1.029,0.278-1.595,0.43c-0.565,0.171-1.175,0.259-1.801,0.399
			c-0.628,0.121-1.277,0.28-1.942,0.38c-0.667,0.095-1.344,0.192-2.022,0.288c-0.68,0.09-1.358,0.214-2.036,0.249
			c-0.678,0.054-1.345,0.107-1.991,0.158c-0.649,0.05-1.276,0.098-1.871,0.143c-0.582,0.011-1.132,0.022-1.64,0.032
			c-2.031,0.04-3.385,0.066-3.385,0.066L273.255,166.787z"/>
	</g>
	<g>
		<polygon fill="#6B6B6B" points="294,87.017 350.19,105.747 350.19,195.747 294,166.481 		"/>
		<polygon fill="#595959" points="406.38,87.017 350.19,105.747 350.19,195.747 406.38,166.481 		"/>
		<polygon fill="#828282" points="350.19,72.504 406.38,87.017 350.19,105.747 294,87.017 		"/>
	</g>
	<g>
		<path d="M42.758,72.504h-6.847V57.846c0-1.811-0.322-3.168-0.965-4.074c-0.644-0.905-1.669-1.358-3.075-1.358
			c-1.916,0-3.3,0.64-4.153,1.919c-0.853,1.28-1.279,3.401-1.279,6.364v11.808h-6.847V47.407h5.23l0.92,3.21h0.381
			c0.763-1.212,1.814-2.128,3.154-2.75c1.339-0.621,2.862-0.932,4.568-0.932c2.918,0,5.133,0.79,6.645,2.368
			c1.511,1.579,2.267,3.857,2.267,6.835V72.504z"/>
		<path d="M61.166,72.953c-4.041,0-7.199-1.114-9.473-3.345c-2.275-2.229-3.412-5.387-3.412-9.473c0-4.205,1.051-7.456,3.154-9.753
			c2.103-2.297,5.009-3.446,8.721-3.446c3.547,0,6.308,1.01,8.283,3.03c1.976,2.021,2.963,4.812,2.963,8.373v3.323H55.217
			c0.075,1.945,0.651,3.464,1.729,4.557c1.077,1.093,2.589,1.639,4.534,1.639c1.512,0,2.941-0.157,4.288-0.471
			c1.347-0.314,2.753-0.815,4.22-1.504v5.298c-1.197,0.599-2.477,1.043-3.838,1.335C64.788,72.808,63.126,72.953,61.166,72.953z
			 M60.201,51.807c-1.452,0-2.589,0.46-3.412,1.38c-0.823,0.92-1.295,2.227-1.415,3.917h9.608c-0.03-1.691-0.471-2.997-1.324-3.917
			C62.805,52.268,61.652,51.807,60.201,51.807z"/>
		<path d="M90.932,46.936c2.963,0,5.283,1.156,6.959,3.468c1.676,2.312,2.514,5.481,2.514,9.507c0,4.146-0.864,7.355-2.593,9.63
			c-1.729,2.275-4.082,3.412-7.06,3.412c-2.949,0-5.261-1.069-6.937-3.21h-0.472L82.2,72.504h-5.23V37.575h6.847v8.126
			c0,1.033-0.09,2.687-0.27,4.961h0.27C85.417,48.178,87.789,46.936,90.932,46.936z M88.732,52.413
			c-1.691,0-2.926,0.521-3.704,1.561s-1.182,2.757-1.212,5.152v0.741c0,2.694,0.4,4.624,1.201,5.792s2.069,1.751,3.805,1.751
			c1.407,0,2.525-0.647,3.356-1.942c0.831-1.294,1.246-3.176,1.246-5.646s-0.419-4.321-1.257-5.556
			C91.328,53.031,90.184,52.413,88.732,52.413z"/>
		<path d="M117.421,72.953c-4.041,0-7.199-1.114-9.473-3.345c-2.275-2.229-3.412-5.387-3.412-9.473c0-4.205,1.051-7.456,3.154-9.753
			c2.103-2.297,5.009-3.446,8.721-3.446c3.547,0,6.308,1.01,8.283,3.03c1.976,2.021,2.963,4.812,2.963,8.373v3.323h-16.185
			c0.075,1.945,0.651,3.464,1.729,4.557c1.077,1.093,2.589,1.639,4.534,1.639c1.512,0,2.941-0.157,4.288-0.471
			c1.347-0.314,2.753-0.815,4.22-1.504v5.298c-1.197,0.599-2.477,1.043-3.838,1.335C121.042,72.808,119.381,72.953,117.421,72.953z
			 M116.456,51.807c-1.452,0-2.589,0.46-3.412,1.38c-0.823,0.92-1.295,2.227-1.415,3.917h9.608c-0.03-1.691-0.471-2.997-1.324-3.917
			C119.06,52.268,117.907,51.807,116.456,51.807z"/>
		<path d="M156.391,72.504h-6.847V57.846c0-1.811-0.322-3.168-0.965-4.074c-0.644-0.905-1.669-1.358-3.075-1.358
			c-1.916,0-3.3,0.64-4.153,1.919c-0.853,1.28-1.279,3.401-1.279,6.364v11.808h-6.847V47.407h5.23l0.92,3.21h0.381
			c0.763-1.212,1.814-2.128,3.154-2.75c1.339-0.621,2.862-0.932,4.568-0.932c2.918,0,5.133,0.79,6.645,2.368
			c1.511,1.579,2.267,3.857,2.267,6.835V72.504z"/>
	</g>
	<g>
		<path d="M501.031,48.215l0.157,5.006c0.732-1.736,1.803-3.079,3.21-4.029c1.406-0.95,3.143-1.425,5.208-1.425
			c2.648,0,4.636,0.834,5.96,2.503c1.324,1.669,1.986,4.314,1.986,7.936v14.299h-1.212V58.16c0-3.367-0.603-5.739-1.807-7.116
			c-1.205-1.377-2.84-2.065-4.905-2.065c-2.619,0-4.595,0.782-5.927,2.346s-2.162,3.565-2.491,6.005v15.175h-1.212V48.215H501.031z"
			/>
		<path d="M533.446,72.975c-2.769,0-5.159-1.118-7.172-3.356c-2.013-2.237-3.02-5.017-3.02-8.339v-1.437
			c0-3.487,0.973-6.372,2.918-8.654s4.348-3.423,7.206-3.423c2.739,0,4.973,0.898,6.701,2.694s2.593,4.206,2.593,7.228v1.863
			h-18.206v0.292v1.437c0,2.934,0.86,5.414,2.582,7.441c1.721,2.028,3.854,3.042,6.397,3.042c1.811,0,3.326-0.247,4.546-0.741
			c1.22-0.494,2.264-1.235,3.132-2.223l0.65,0.943c-0.958,1.063-2.121,1.867-3.49,2.413
			C536.915,72.702,535.302,72.975,533.446,72.975z M533.379,48.978c-2.409,0-4.415,0.879-6.016,2.638
			c-1.602,1.759-2.507,3.955-2.717,6.589l0.067,0.134h16.747v-0.741c0-2.469-0.749-4.523-2.245-6.162
			C537.719,49.797,535.773,48.978,533.379,48.978z"/>
		<path d="M563.572,68.014c-0.839,1.467-2.088,2.66-3.749,3.581s-3.674,1.38-6.039,1.38c-2.26,0-4.033-0.617-5.32-1.852
			c-1.287-1.235-1.93-2.899-1.93-4.995c0-2.035,0.961-3.741,2.884-5.118c1.923-1.376,4.329-2.065,7.218-2.065h6.937v-3.547
			c0-2.021-0.647-3.595-1.942-4.726c-1.294-1.129-3.116-1.695-5.466-1.695c-2.2,0-3.97,0.532-5.309,1.594
			c-1.34,1.063-2.01,2.432-2.01,4.108l-1.01-0.045l-0.045-0.112c-0.09-1.886,0.644-3.483,2.2-4.793
			c1.556-1.309,3.613-1.964,6.173-1.964c2.604,0,4.691,0.659,6.263,1.975c1.571,1.317,2.357,3.218,2.357,5.702V67.61
			c0,0.853,0.049,1.684,0.146,2.492c0.098,0.808,0.259,1.609,0.483,2.402h-1.348c-0.194-1.062-0.325-1.859-0.393-2.391
			s-0.101-1.104-0.101-1.717V68.014z M553.784,71.786c2.409,0,4.448-0.531,6.117-1.594s2.893-2.582,3.671-4.557V60.18h-6.869
			c-2.515,0-4.636,0.58-6.364,1.74c-1.729,1.16-2.593,2.593-2.593,4.299c0,1.631,0.55,2.967,1.649,4.007
			C550.496,71.266,551.958,71.786,553.784,71.786z"/>
		<path d="M583.304,49.09l-1.571-0.135c-2.17,0-3.932,0.7-5.286,2.099s-2.233,3.244-2.638,5.533v15.916h-1.212V48.215h0.987
			l0.225,4.22v0.831c0.673-1.736,1.676-3.086,3.008-4.052s2.971-1.448,4.916-1.448c0.345,0,0.662,0.026,0.954,0.079
			s0.542,0.108,0.752,0.168L583.304,49.09z"/>
	</g>
	<g>
		<g>
			<g>
				<path fill="#A54F46" d="M228.28,156.326c10.521-4.657,26.939-4.657,37.46,0c10.985,4.862,12.085,13.216,1.585,18.685
					c-11.002,5.73-29.629,5.73-40.631,0C216.195,169.542,217.295,161.188,228.28,156.326z"/>
			</g>
			<g>
				<path fill="#FC7360" d="M228.28,154.326c10.521-4.657,26.939-4.657,37.46,0c10.985,4.862,12.085,13.216,1.585,18.685
					c-11.002,5.73-29.629,5.73-40.631,0C216.195,167.542,217.295,159.188,228.28,154.326z"/>
			</g>
		</g>
		<g>
			<g>
				<path fill="#FFFFFF" d="M246.578,175.126l-5.681-3.027l3.487-7.327l-14.032,1.709l-4.98-2.653l19.256-2.108l3.843-8.704
					l5.149,2.496l-3.063,6.371l12.746-1.677l5.344,2.59l-18.275,2.103L246.578,175.126z"/>
			</g>
		</g>
	</g>
	<line fill="none" stroke="#878787" stroke-width="10" stroke-miterlimit="10" x1="0" y1="214.209" x2="600" y2="214.209"/>
</g>
<g>
	<rect y="730.113" fill="#D3D3D3" width="600" height="72.827"/>
	<g>
		<polygon fill="#828282" points="366.929,702.31 406.706,712.584 366.929,725.843 327.152,712.584 		"/>
		<polygon fill="#6B6B6B" points="327.152,712.584 366.929,725.843 366.929,789.555 327.152,768.837 		"/>
		<polygon fill="#595959" points="406.706,712.584 366.929,725.843 366.929,789.555 406.706,768.837 		"/>
	</g>
	<g>
		<path fill="#A54F46" d="M368.428,674.088c0,0-0.218,2.577-0.544,6.443c-0.163,1.933-0.353,4.188-0.557,6.604
			c-0.102,1.208-0.207,2.456-0.314,3.725c-0.102,1.268-0.239,2.558-0.267,3.842c-0.106,2.574-0.211,5.148-0.31,7.562
			c-0.05,1.209-0.098,2.378-0.143,3.487c-0.026,1.108,0.01,2.155,0.011,3.123c0.009,0.969,0.017,1.857,0.024,2.643
			c0.017,0.787-0.008,1.477,0.04,2.039c0.071,1.129,0.112,1.774,0.112,1.774s-0.087-0.641-0.24-1.762
			c-0.089-0.561-0.114-1.247-0.188-2.032c-0.064-0.786-0.137-1.673-0.216-2.641c-0.071-0.968-0.183-2.018-0.238-3.13
			c-0.035-1.112-0.072-2.286-0.11-3.499c-0.076-2.432-0.158-5.027-0.239-7.622c-0.065-1.302-0.022-2.592-0.012-3.865
			c0.015-1.273,0.03-2.525,0.044-3.737c0.028-2.424,0.055-4.687,0.077-6.626c0.045-3.879,0.076-6.464,0.076-6.464L368.428,674.088z"
			/>
	</g>
	<g>
		<g>
			<g>
				<path fill="#A54F46" d="M352.439,668.48c8.139-3.602,20.84-3.602,28.98,0c8.498,3.761,9.349,10.224,1.227,14.455
					c-8.512,4.433-22.921,4.433-31.433,0C343.09,678.704,343.941,672.241,352.439,668.48z"/>
			</g>
			<g>
				<path fill="#FC7360" d="M352.439,666.48c8.139-3.602,20.84-3.602,28.98,0c8.498,3.761,9.349,10.224,1.227,14.455
					c-8.512,4.433-22.921,4.433-31.433,0C343.09,676.704,343.941,670.241,352.439,666.48z"/>
			</g>
		</g>
		<g>
			<g>
				<path fill="#FFFFFF" d="M366.595,682.571l-4.395-2.342l2.698-5.668l-10.856,1.322l-3.853-2.052l14.897-1.631l2.973-6.734
					l3.983,1.931l-2.369,4.929l9.861-1.297l4.134,2.004l-14.138,1.627L366.595,682.571z"/>
			</g>
		</g>
	</g>
	<g>
		<path d="M37.371,661.235l-0.92-3.21h-0.359c-0.733,1.167-1.773,2.069-3.121,2.705c-1.347,0.636-2.881,0.954-4.602,0.954
			c-2.949,0-5.171-0.789-6.667-2.368s-2.245-3.85-2.245-6.813v-16.364h6.847v14.658c0,1.812,0.322,3.169,0.965,4.074
			c0.643,0.906,1.668,1.358,3.075,1.358c1.916,0,3.3-0.64,4.153-1.919c0.853-1.279,1.279-3.401,1.279-6.364v-11.808h6.847v25.097
			H37.371z M23.318,629.696c0-0.973,0.281-1.722,0.842-2.245c0.561-0.523,1.32-0.786,2.278-0.786c0.988,0,1.762,0.277,2.323,0.831
			c0.562,0.554,0.842,1.287,0.842,2.2c0,0.897-0.284,1.62-0.853,2.166s-1.339,0.819-2.312,0.819c-0.958,0-1.717-0.262-2.278-0.786
			C23.599,631.372,23.318,630.639,23.318,629.696z M32.365,629.696c0-1.048,0.303-1.814,0.909-2.302
			c0.606-0.485,1.358-0.729,2.256-0.729c0.973,0,1.747,0.27,2.324,0.809c0.576,0.539,0.864,1.279,0.864,2.223
			c0,0.912-0.292,1.639-0.875,2.177c-0.584,0.539-1.355,0.809-2.312,0.809c-0.898,0-1.65-0.243-2.256-0.729
			S32.365,630.714,32.365,629.696z"/>
		<path d="M63.77,635.667c2.963,0,5.283,1.156,6.959,3.469c1.676,2.312,2.514,5.48,2.514,9.507c0,4.146-0.864,7.355-2.593,9.63
			c-1.729,2.275-4.082,3.412-7.06,3.412c-2.949,0-5.261-1.069-6.937-3.21h-0.472l-1.145,2.761h-5.23v-34.929h6.847v8.126
			c0,1.032-0.09,2.687-0.27,4.961h0.27C58.255,636.909,60.627,635.667,63.77,635.667z M61.57,641.145
			c-1.691,0-2.926,0.521-3.704,1.561s-1.182,2.757-1.212,5.151v0.741c0,2.693,0.4,4.624,1.201,5.791
			c0.801,1.168,2.069,1.751,3.805,1.751c1.407,0,2.525-0.646,3.356-1.941s1.246-3.177,1.246-5.646c0-2.47-0.419-4.321-1.257-5.557
			C64.166,641.762,63.021,641.145,61.57,641.145z"/>
		<path d="M90.259,661.685c-4.041,0-7.199-1.114-9.473-3.345c-2.275-2.229-3.412-5.388-3.412-9.474c0-4.205,1.051-7.456,3.154-9.753
			c2.103-2.298,5.009-3.446,8.721-3.446c3.547,0,6.308,1.011,8.283,3.03c1.976,2.021,2.963,4.812,2.963,8.373v3.323H84.31
			c0.075,1.945,0.651,3.464,1.729,4.557c1.077,1.093,2.589,1.639,4.534,1.639c1.512,0,2.941-0.157,4.288-0.472
			c1.347-0.314,2.753-0.815,4.22-1.504v5.298c-1.197,0.599-2.477,1.044-3.838,1.336C93.88,661.539,92.219,661.685,90.259,661.685z
			 M89.293,640.538c-1.452,0-2.589,0.461-3.412,1.381c-0.823,0.92-1.295,2.227-1.415,3.917h9.608
			c-0.03-1.69-0.471-2.997-1.324-3.917S90.745,640.538,89.293,640.538z"/>
		<path d="M120.07,635.667c0.928,0,1.698,0.067,2.312,0.202l-0.517,6.42c-0.554-0.149-1.227-0.225-2.02-0.225
			c-2.185,0-3.888,0.562-5.107,1.684c-1.22,1.123-1.83,2.694-1.83,4.715v12.772h-6.847v-25.097h5.186l1.01,4.22h0.336
			c0.778-1.406,1.83-2.54,3.154-3.4C117.073,636.098,118.513,635.667,120.07,635.667z"/>
	</g>
	<g>
		<path d="M484.016,656.746c-0.839,1.467-2.088,2.66-3.749,3.58c-1.661,0.921-3.674,1.381-6.039,1.381
			c-2.26,0-4.033-0.617-5.32-1.852c-1.287-1.235-1.93-2.899-1.93-4.995c0-2.035,0.961-3.741,2.884-5.118s4.329-2.065,7.218-2.065
			h6.937v-3.547c0-2.021-0.647-3.595-1.942-4.726c-1.294-1.129-3.116-1.694-5.466-1.694c-2.2,0-3.97,0.531-5.309,1.594
			c-1.34,1.062-2.01,2.432-2.01,4.108l-1.01-0.045l-0.045-0.112c-0.09-1.886,0.644-3.483,2.2-4.793
			c1.556-1.31,3.613-1.964,6.173-1.964c2.604,0,4.691,0.658,6.263,1.975c1.571,1.317,2.357,3.219,2.357,5.702v12.167
			c0,0.854,0.049,1.684,0.146,2.492c0.098,0.808,0.259,1.608,0.483,2.401h-1.348c-0.194-1.062-0.325-1.859-0.393-2.391
			s-0.101-1.104-0.101-1.717V656.746z M474.228,660.518c2.409,0,4.448-0.531,6.117-1.594s2.893-2.582,3.671-4.558v-5.455h-6.869
			c-2.515,0-4.636,0.58-6.364,1.74s-2.593,2.593-2.593,4.299c0,1.631,0.55,2.967,1.649,4.007
			C470.939,659.997,472.401,660.518,474.228,660.518z"/>
		<path d="M511.604,649.54c0,3.741-0.809,6.705-2.425,8.89c-1.616,2.186-3.847,3.277-6.689,3.277c-1.916,0-3.584-0.386-5.006-1.156
			s-2.529-1.814-3.322-3.132l-0.157,3.816h-1.01v-35.019h1.212v15.062c0.808-1.481,1.908-2.649,3.3-3.502
			c1.392-0.854,3.038-1.279,4.938-1.279c2.858,0,5.1,1.133,6.724,3.4c1.623,2.268,2.436,5.324,2.436,9.17V649.54z M510.347,649.068
			c0-3.367-0.673-6.102-2.02-8.204c-1.348-2.103-3.3-3.154-5.859-3.154c-2.35,0-4.176,0.591-5.478,1.773s-2.229,2.634-2.783,4.354
			v11.382c0.599,1.602,1.601,2.881,3.008,3.839c1.406,0.957,3.173,1.437,5.298,1.437c2.56,0,4.504-0.988,5.837-2.964
			c1.331-1.975,1.997-4.639,1.997-7.991V649.068z"/>
		<path d="M516.296,648.62c0-3.562,0.984-6.473,2.952-8.732s4.523-3.39,7.666-3.39c3.157,0,5.721,1.13,7.688,3.39
			s2.952,5.171,2.952,8.732v0.942c0,3.577-0.984,6.495-2.952,8.755s-4.516,3.39-7.644,3.39c-3.158,0-5.725-1.13-7.7-3.39
			c-1.975-2.26-2.963-5.178-2.963-8.755V648.62z M517.508,649.562c0,3.053,0.854,5.639,2.56,7.756
			c1.706,2.118,4.003,3.177,6.892,3.177c2.843,0,5.118-1.062,6.824-3.188s2.559-4.707,2.559-7.745v-0.942
			c0-2.979-0.86-5.541-2.581-7.688s-4.004-3.222-6.847-3.222c-2.858,0-5.141,1.074-6.847,3.222s-2.56,4.71-2.56,7.688V649.562z"/>
		<path d="M548.936,656.095l1.145,3.277h0.135l1.168-3.277l7.475-19.148h1.303l-9.451,24.267l0.022,0.022h-1.167l-9.429-24.289
			h1.302L548.936,656.095z"/>
		<path d="M572.978,661.707c-2.77,0-5.16-1.118-7.173-3.356c-2.013-2.236-3.019-5.017-3.019-8.339v-1.437
			c0-3.487,0.973-6.372,2.918-8.654s4.347-3.423,7.206-3.423c2.738,0,4.972,0.897,6.7,2.693s2.593,4.206,2.593,7.229v1.863h-18.205
			v0.292v1.437c0,2.934,0.86,5.414,2.581,7.441c1.722,2.028,3.854,3.042,6.398,3.042c1.811,0,3.325-0.247,4.546-0.741
			c1.219-0.494,2.263-1.234,3.131-2.223l0.651,0.943c-0.958,1.062-2.121,1.867-3.491,2.413
			C576.445,661.434,574.833,661.707,572.978,661.707z M572.91,637.71c-2.41,0-4.415,0.879-6.017,2.638s-2.507,3.955-2.716,6.589
			l0.067,0.134h16.746v-0.74c0-2.47-0.748-4.523-2.245-6.162C577.25,638.529,575.304,637.71,572.91,637.71z"/>
	</g>
	<line fill="none" stroke="#878787" stroke-width="10" stroke-miterlimit="10" x1="0" y1="802.94" x2="600" y2="802.94"/>
</g>
<g>
	<rect y="1024.478" fill="#D3D3D3" width="600" height="72.827"/>
	<g>
		<path d="M37.371,955.601l-0.92-3.21h-0.359c-0.733,1.167-1.773,2.068-3.121,2.705c-1.347,0.636-2.881,0.953-4.602,0.953
			c-2.949,0-5.171-0.789-6.667-2.367c-1.497-1.579-2.245-3.85-2.245-6.813v-16.364h6.847v14.658c0,1.811,0.322,3.169,0.965,4.074
			c0.643,0.906,1.668,1.358,3.075,1.358c1.916,0,3.3-0.64,4.153-1.919c0.853-1.279,1.279-3.401,1.279-6.365v-11.807h6.847v25.097
			H37.371z"/>
		<path d="M72.974,955.601h-6.847v-14.659c0-1.811-0.322-3.168-0.965-4.074c-0.644-0.904-1.669-1.357-3.075-1.357
			c-1.916,0-3.3,0.64-4.153,1.919c-0.853,1.28-1.279,3.401-1.279,6.364v11.808h-6.847v-25.097h5.23l0.92,3.209h0.381
			c0.763-1.211,1.814-2.128,3.154-2.749c1.339-0.621,2.862-0.932,4.568-0.932c2.918,0,5.133,0.79,6.645,2.368
			c1.511,1.579,2.267,3.857,2.267,6.836V955.601z"/>
		<path d="M90.596,950.595c1.197,0,2.634-0.262,4.31-0.786v5.096c-1.706,0.764-3.802,1.145-6.286,1.145
			c-2.739,0-4.733-0.691-5.982-2.076c-1.25-1.384-1.875-3.46-1.875-6.229v-12.1h-3.277v-2.896l3.771-2.289l1.976-5.299h4.377v5.344
			h7.026v5.141H87.61v12.1c0,0.973,0.273,1.691,0.819,2.154C88.976,950.363,89.698,950.595,90.596,950.595z"/>
		<path d="M111.338,956.049c-4.041,0-7.199-1.113-9.473-3.344c-2.275-2.23-3.412-5.388-3.412-9.474c0-4.205,1.051-7.456,3.154-9.753
			c2.103-2.298,5.009-3.446,8.721-3.446c3.547,0,6.308,1.011,8.283,3.03c1.976,2.021,2.963,4.812,2.963,8.373v3.322h-16.185
			c0.075,1.945,0.651,3.465,1.729,4.557c1.077,1.094,2.589,1.639,4.534,1.639c1.512,0,2.941-0.156,4.288-0.471
			c1.347-0.314,2.753-0.815,4.22-1.504v5.298c-1.197,0.599-2.477,1.044-3.838,1.335
			C114.959,955.904,113.298,956.049,111.338,956.049z M110.373,934.903c-1.452,0-2.589,0.46-3.412,1.38
			c-0.823,0.921-1.295,2.227-1.415,3.918h9.608c-0.03-1.691-0.471-2.997-1.324-3.918
			C112.977,935.363,111.824,934.903,110.373,934.903z"/>
		<path d="M141.149,930.032c0.928,0,1.698,0.067,2.312,0.202l-0.517,6.42c-0.554-0.149-1.227-0.225-2.02-0.225
			c-2.185,0-3.888,0.562-5.107,1.684c-1.22,1.123-1.83,2.693-1.83,4.715v12.772h-6.847v-25.097h5.186l1.01,4.22h0.336
			c0.778-1.406,1.83-2.54,3.154-3.401C138.152,930.463,139.592,930.032,141.149,930.032z"/>
	</g>
	<g>
		<path d="M490.256,951.246c-0.764,1.541-1.852,2.731-3.267,3.569c-1.414,0.838-3.131,1.257-5.151,1.257
			c-2.5,0-4.456-0.887-5.87-2.66s-2.121-4.523-2.121-8.25v-13.851h1.212v13.896c0,3.293,0.606,5.725,1.818,7.296
			s2.851,2.357,4.916,2.357c2.529,0,4.471-0.621,5.825-1.863s2.219-2.889,2.593-4.938v-16.747h1.234v24.289h-1.01L490.256,951.246z"
			/>
		<path d="M500.133,931.312l0.157,5.006c0.733-1.735,1.804-3.078,3.21-4.029c1.407-0.95,3.144-1.425,5.208-1.425
			c2.649,0,4.636,0.834,5.96,2.503c1.325,1.669,1.987,4.313,1.987,7.936v14.299h-1.212v-14.344c0-3.367-0.604-5.739-1.808-7.116
			c-1.205-1.377-2.84-2.065-4.905-2.065c-2.619,0-4.594,0.782-5.926,2.346c-1.332,1.564-2.163,3.565-2.492,6.005v15.175h-1.212
			v-24.289H500.133z"/>
		<path d="M523.143,943.434c0-3.846,0.809-6.902,2.425-9.17s3.861-3.4,6.734-3.4c1.9,0,3.543,0.426,4.927,1.279
			c1.385,0.853,2.488,2.021,3.312,3.502v-15.062h1.212v35.019h-1.167l-0.045-3.771c-0.808,1.303-1.919,2.335-3.334,3.099
			c-1.414,0.763-3.063,1.145-4.949,1.145c-2.858,0-5.093-1.092-6.701-3.277c-1.608-2.185-2.413-5.148-2.413-8.89V943.434z
			 M524.399,943.905c0,3.353,0.663,6.017,1.987,7.991c1.324,1.976,3.273,2.964,5.848,2.964c2.11,0,3.864-0.479,5.264-1.437
			c1.399-0.958,2.413-2.237,3.042-3.839v-11.382c-0.584-1.735-1.526-3.19-2.828-4.366c-1.303-1.174-3.113-1.762-5.433-1.762
			c-2.574,0-4.531,1.052-5.87,3.154c-1.34,2.103-2.01,4.837-2.01,8.204V943.905z"/>
		<path d="M557.713,956.072c-2.77,0-5.16-1.118-7.173-3.356c-2.013-2.236-3.019-5.017-3.019-8.339v-1.437
			c0-3.487,0.973-6.372,2.918-8.654s4.347-3.423,7.206-3.423c2.738,0,4.972,0.897,6.7,2.693s2.593,4.206,2.593,7.229v1.863h-18.205
			v0.292v1.437c0,2.934,0.86,5.414,2.581,7.441c1.722,2.028,3.854,3.042,6.398,3.042c1.811,0,3.325-0.247,4.546-0.741
			c1.219-0.494,2.263-1.234,3.131-2.223l0.651,0.943c-0.958,1.062-2.121,1.867-3.491,2.413
			C561.181,955.799,559.568,956.072,557.713,956.072z M557.646,932.075c-2.41,0-4.415,0.879-6.017,2.638s-2.507,3.955-2.716,6.589
			l0.067,0.134h16.746v-0.74c0-2.47-0.748-4.523-2.245-6.162C561.985,932.895,560.039,932.075,557.646,932.075z"/>
		<path d="M583.304,932.188l-1.571-0.135c-2.17,0-3.933,0.699-5.287,2.099s-2.233,3.244-2.638,5.533v15.916h-1.212v-24.289h0.987
			l0.225,4.221v0.83c0.674-1.735,1.676-3.086,3.009-4.052c1.331-0.965,2.97-1.447,4.916-1.447c0.344,0,0.662,0.026,0.954,0.078
			c0.291,0.053,0.542,0.108,0.752,0.168L583.304,932.188z"/>
	</g>
	<g>
		<g>
			<g>
				<path fill="#A54F46" d="M337.469,1052.899c-10.789-4.775-27.624-4.775-38.413,0c-11.264,4.985-12.392,13.552-1.626,19.16
					c11.282,5.876,30.382,5.876,41.664,0C349.861,1066.451,348.733,1057.884,337.469,1052.899z"/>
			</g>
			<g>
				<path fill="#FC7360" d="M337.469,1050.899c-10.789-4.775-27.624-4.775-38.413,0c-11.264,4.985-12.392,13.552-1.626,19.16
					c11.282,5.876,30.382,5.876,41.664,0C349.861,1064.451,348.733,1055.884,337.469,1050.899z"/>
			</g>
		</g>
		<g>
			<g>
				<path fill="#FFFFFF" d="M314.815,1061.742l-18.74-2.157l5.48-2.656l13.071,1.719l-3.14-6.533l5.28-2.559l3.941,8.925
					l19.746,2.162l-5.107,2.72l-14.389-1.752l3.576,7.513l-5.826,3.104L314.815,1061.742z"/>
			</g>
		</g>
	</g>
	<line fill="none" stroke="#878787" stroke-width="10" stroke-miterlimit="10" x1="0" y1="1097.305" x2="600" y2="1097.305"/>
	<g>
		<path fill="#FC7360" d="M320.608,1006.079c0,0-0.257,3.424-0.641,8.559c-0.192,2.568-0.417,5.563-0.657,8.773
			c-0.108,1.604-0.273,3.264-0.343,4.947c-0.071,1.683-0.144,3.394-0.216,5.104c-0.145,3.424-0.29,6.849-0.426,10.059
			c-0.087,1.606-0.079,3.161-0.114,4.634c-0.025,1.474-0.049,2.868-0.071,4.155c-0.022,1.287-0.042,2.467-0.06,3.513
			c-0.027,1.046-0.006,1.957-0.01,2.708c0.002,1.502,0.004,2.36,0.004,2.36s-0.048-0.857-0.132-2.356
			c-0.036-0.75-0.107-1.661-0.138-2.706c-0.039-1.046-0.084-2.225-0.132-3.512c-0.048-1.287-0.101-2.682-0.156-4.157
			c-0.046-1.476-0.138-3.031-0.14-4.642c-0.04-3.224-0.082-6.663-0.124-10.102c-0.021-1.721-0.042-3.443-0.063-5.137
			c-0.022-1.695,0.052-3.354,0.072-4.964c0.065-3.218,0.125-6.222,0.177-8.796c0.104-5.149,0.173-8.582,0.173-8.582
			L320.608,1006.079z"/>
	</g>
	<g>
		<polygon fill="#828282" points="318.073,927.919 357.85,938.193 318.073,951.452 278.296,938.193 		"/>
		<polygon fill="#6B6B6B" points="278.296,938.193 318.073,951.452 318.073,1015.164 278.296,994.446 		"/>
		<polygon fill="#595959" points="357.85,938.193 318.073,951.452 318.073,1015.164 357.85,994.446 		"/>
	</g>
</g>
<g>
	<rect y="1318.844" fill="#D3D3D3" width="600" height="72.827"/>
	<g>
		<path d="M25.563,1249.966L16,1224.869h7.161l4.849,14.3c0.494,1.557,0.815,3.27,0.965,5.141h0.18
			c0.09-1.691,0.426-3.405,1.01-5.141l4.826-14.3h7.161l-9.563,25.097H25.563z"/>
		<path d="M68.551,1237.373c0,4.085-1.077,7.28-3.232,9.585c-2.155,2.305-5.156,3.457-9.001,3.457c-2.41,0-4.535-0.527-6.375-1.583
			c-1.841-1.055-3.255-2.57-4.243-4.545c-0.988-1.976-1.481-4.28-1.481-6.914c0-4.101,1.07-7.288,3.21-9.563
			c2.14-2.274,5.148-3.412,9.024-3.412c2.41,0,4.535,0.524,6.375,1.571c1.841,1.048,3.255,2.552,4.243,4.513
			C68.058,1232.441,68.551,1234.739,68.551,1237.373z M51.199,1237.373c0,2.484,0.408,4.362,1.224,5.634
			c0.815,1.272,2.144,1.908,3.984,1.908c1.826,0,3.139-0.632,3.94-1.896c0.8-1.265,1.201-3.146,1.201-5.646
			c0-2.484-0.404-4.348-1.212-5.59s-2.133-1.863-3.974-1.863c-1.826,0-3.143,0.617-3.951,1.852
			C51.603,1233.007,51.199,1234.873,51.199,1237.373z"/>
		<path d="M88.216,1224.397c0.928,0,1.698,0.067,2.312,0.202l-0.517,6.42c-0.554-0.149-1.227-0.225-2.02-0.225
			c-2.185,0-3.888,0.562-5.107,1.684c-1.22,1.123-1.83,2.694-1.83,4.715v12.772h-6.847v-25.097h5.186l1.01,4.22h0.336
			c0.778-1.406,1.83-2.54,3.154-3.4C85.219,1224.828,86.659,1224.397,88.216,1224.397z"/>
	</g>
	<g>
		<path d="M398.804,1218.045h-1.213v-3.098h1.213V1218.045z M398.804,1249.966h-1.213v-24.289h1.213V1249.966z"/>
		<path d="M407.805,1225.677l0.157,5.006c0.733-1.735,1.804-3.078,3.21-4.029c1.407-0.95,3.144-1.425,5.208-1.425
			c2.649,0,4.636,0.834,5.96,2.503c1.325,1.669,1.987,4.313,1.987,7.936v14.299h-1.212v-14.344c0-3.367-0.604-5.739-1.808-7.116
			c-1.205-1.377-2.84-2.065-4.905-2.065c-2.619,0-4.594,0.782-5.926,2.346c-1.332,1.564-2.163,3.565-2.492,6.005v15.175h-1.212
			v-24.289H407.805z"/>
		<path d="M444.777,1249.966v-23.054h-4.221v-1.235h4.221v-3.995c0-2.29,0.558-4.063,1.672-5.32
			c1.115-1.257,2.676-1.886,4.681-1.886c0.494,0,0.984,0.03,1.471,0.09s0.954,0.157,1.403,0.292l-0.18,1.167
			c-0.479-0.12-0.902-0.206-1.269-0.258c-0.367-0.053-0.835-0.079-1.403-0.079c-1.616,0-2.881,0.531-3.794,1.594
			c-0.912,1.063-1.369,2.529-1.369,4.4v3.995h6.421v1.235h-6.421v23.054H444.777z"/>
		<path d="M468.123,1226.553l-1.571-0.135c-2.17,0-3.932,0.699-5.286,2.099s-2.233,3.244-2.638,5.533v15.916h-1.212v-24.289h0.987
			l0.225,4.221v0.83c0.673-1.735,1.676-3.086,3.008-4.052c1.332-0.965,2.971-1.447,4.916-1.447c0.345,0,0.662,0.026,0.954,0.078
			c0.292,0.053,0.542,0.108,0.752,0.168L468.123,1226.553z"/>
		<path d="M470.323,1237.351c0-3.562,0.984-6.473,2.952-8.732s4.523-3.39,7.666-3.39c3.157,0,5.721,1.13,7.688,3.39
			s2.952,5.171,2.952,8.732v0.942c0,3.577-0.984,6.495-2.952,8.755s-4.516,3.39-7.644,3.39c-3.158,0-5.725-1.13-7.7-3.39
			c-1.975-2.26-2.963-5.178-2.963-8.755V1237.351z M471.535,1238.293c0,3.053,0.854,5.639,2.56,7.756
			c1.706,2.118,4.003,3.177,6.892,3.177c2.843,0,5.118-1.062,6.824-3.188s2.559-4.707,2.559-7.745v-0.942
			c0-2.979-0.86-5.541-2.581-7.688s-4.004-3.222-6.847-3.222c-2.858,0-5.141,1.074-6.847,3.222s-2.56,4.71-2.56,7.688V1238.293z"/>
		<path d="M498.429,1225.677l0.157,5.006c0.732-1.735,1.803-3.078,3.21-4.029c1.406-0.95,3.143-1.425,5.208-1.425
			c2.648,0,4.636,0.834,5.96,2.503s1.986,4.313,1.986,7.936v14.299h-1.212v-14.344c0-3.367-0.603-5.739-1.807-7.116
			c-1.205-1.377-2.84-2.065-4.905-2.065c-2.619,0-4.595,0.782-5.927,2.346c-1.332,1.564-2.162,3.565-2.491,6.005v15.175h-1.212
			v-24.289H498.429z"/>
		<path d="M525.074,1219.122v6.555h5.972v1.235h-5.972v16.791c0,1.99,0.337,3.408,1.01,4.254c0.674,0.846,1.564,1.269,2.672,1.269
			c0.404,0,0.763-0.015,1.077-0.045s0.748-0.082,1.303-0.157l0.224,1.1c-0.374,0.12-0.763,0.202-1.167,0.247
			s-0.86,0.067-1.369,0.067c-1.632,0-2.87-0.531-3.715-1.594c-0.846-1.062-1.269-2.776-1.269-5.141v-16.791h-4.49v-1.235h4.49
			v-6.555H525.074z"/>
		<path d="M545.861,1237.351c0-3.562,0.984-6.473,2.952-8.732s4.523-3.39,7.666-3.39c3.157,0,5.721,1.13,7.688,3.39
			s2.952,5.171,2.952,8.732v0.942c0,3.577-0.984,6.495-2.952,8.755s-4.516,3.39-7.644,3.39c-3.158,0-5.725-1.13-7.7-3.39
			c-1.975-2.26-2.963-5.178-2.963-8.755V1237.351z M547.073,1238.293c0,3.053,0.854,5.639,2.56,7.756
			c1.706,2.118,4.003,3.177,6.892,3.177c2.843,0,5.118-1.062,6.824-3.188s2.559-4.707,2.559-7.745v-0.942
			c0-2.979-0.86-5.541-2.581-7.688s-4.004-3.222-6.847-3.222c-2.858,0-5.141,1.074-6.847,3.222s-2.56,4.71-2.56,7.688V1238.293z"/>
		<path d="M574.774,1249.966v-23.054h-4.22v-1.235h4.22v-3.995c0-2.29,0.558-4.063,1.673-5.32c1.114-1.257,2.675-1.886,4.681-1.886
			c0.493,0,0.983,0.03,1.47,0.09s0.954,0.157,1.403,0.292l-0.18,1.167c-0.479-0.12-0.901-0.206-1.269-0.258
			c-0.366-0.053-0.834-0.079-1.402-0.079c-1.616,0-2.881,0.531-3.794,1.594c-0.913,1.063-1.369,2.529-1.369,4.4v3.995h6.42v1.235
			h-6.42v23.054H574.774z"/>
	</g>
	<line fill="none" stroke="#878787" stroke-width="10" stroke-miterlimit="10" x1="0" y1="1391.67" x2="600" y2="1391.67"/>
	<g>
		<polygon fill="#828282" points="195.586,1234.613 253.258,1249.508 195.586,1268.732 137.914,1249.508 		"/>
		<polygon fill="#6B6B6B" points="137.914,1249.508 195.586,1268.732 195.586,1361.106 137.914,1331.069 		"/>
		<polygon fill="#595959" points="253.258,1249.508 195.586,1268.732 195.586,1361.106 253.258,1331.069 		"/>
	</g>
	<g>
		<path fill="#FC7360" d="M317.973,1353.82c0,0-5.903-2.92-14.758-7.301c-4.427-2.19-9.593-4.745-15.127-7.483
			c-2.767-1.369-5.626-2.783-8.532-4.221c-2.917-1.411-5.837-2.942-8.756-4.474c-5.842-3.052-11.683-6.103-17.16-8.964
			c-2.732-1.441-5.396-2.788-7.879-4.148c-2.479-1.367-4.823-2.66-6.987-3.853c-4.318-2.401-7.949-4.34-10.435-5.799
			c-2.493-1.445-3.918-2.271-3.918-2.271s1.447,0.785,3.98,2.158c2.525,1.386,6.211,3.223,10.593,5.498
			c2.195,1.13,4.573,2.354,7.088,3.65c2.518,1.287,5.22,2.557,7.989,3.919c5.548,2.7,11.466,5.58,17.383,8.46
			c2.955,1.446,5.91,2.889,8.869,4.218c2.945,1.354,5.844,2.687,8.649,3.976c5.61,2.579,10.846,4.986,15.334,7.049
			c8.976,4.127,14.96,6.878,14.96,6.878L317.973,1353.82z"/>
	</g>
	<g>
		<g>
			<g>
				<path fill="#A54F46" d="M335.32,1340.025c0-15.223-8.166-24.331-18.666-20.175c-11.002,4.355-20.315,21.473-20.315,38.042
					c0,16.569,9.313,25.149,20.315,19.419C327.154,1371.842,335.32,1355.248,335.32,1340.025z"/>
			</g>
			<g>
				<path fill="#FC7360" d="M337.32,1340.025c0-15.223-8.166-24.331-18.666-20.175c-11.002,4.355-20.315,21.473-20.315,38.042
					c0,16.569,9.313,25.149,20.315,19.419C329.154,1371.842,337.32,1355.248,337.32,1340.025z"/>
			</g>
		</g>
		<g>
			<g>
				<path fill="#FFFFFF" d="M329.076,1359.889l-5.273,2.606l-5.183-10.028l-5.302,15.209l-5.297,2.618l7.698-21.078l-7.199-13.184
					l5.444-2.296l4.903,9.901l4.71-13.955l4.983-2.102l-6.877,19.296L329.076,1359.889z"/>
			</g>
		</g>
	</g>
</g>
<g>
	<rect y="1613.209" fill="#D3D3D3" width="600" height="72.827"/>
	<g>
		<path d="M19.3,1512.747c0-2.23,1.242-3.345,3.727-3.345c2.484,0,3.727,1.114,3.727,3.345c0,1.062-0.311,1.889-0.932,2.48
			c-0.622,0.591-1.553,0.887-2.795,0.887C20.542,1516.114,19.3,1514.991,19.3,1512.747z M26.438,1544.331h-6.847v-25.097h6.847
			V1544.331z"/>
		<path d="M56.789,1544.331h-6.847v-14.658c0-1.811-0.322-3.169-0.965-4.074c-0.644-0.905-1.669-1.358-3.075-1.358
			c-1.916,0-3.3,0.64-4.153,1.919c-0.853,1.28-1.279,3.401-1.279,6.364v11.808h-6.847v-25.097h5.23l0.92,3.21h0.381
			c0.763-1.212,1.814-2.129,3.154-2.75c1.339-0.621,2.862-0.932,4.568-0.932c2.918,0,5.133,0.79,6.645,2.368
			c1.511,1.579,2.267,3.857,2.267,6.836V1544.331z"/>
	</g>
	<g>
		<path d="M554.728,1512.41h-1.212v-3.098h1.212V1512.41z M554.728,1544.331h-1.212v-24.289h1.212V1544.331z"/>
		<path d="M563.729,1520.042l0.157,5.006c0.732-1.735,1.803-3.079,3.21-4.029c1.406-0.95,3.143-1.425,5.208-1.425
			c2.648,0,4.636,0.834,5.96,2.502c1.324,1.67,1.986,4.314,1.986,7.936v14.3h-1.212v-14.345c0-3.367-0.603-5.738-1.807-7.115
			c-1.205-1.377-2.84-2.066-4.905-2.066c-2.619,0-4.595,0.783-5.927,2.347s-2.162,3.565-2.491,6.005v15.175h-1.212v-24.289H563.729z
			"/>
	</g>
	<line fill="none" stroke="#878787" stroke-width="10" stroke-miterlimit="10" x1="0" y1="1686.035" x2="600" y2="1686.035"/>
	<g>
		<g>
			<polygon fill="#595959" points="385.271,1537.887 314.036,1561.631 314.036,1675.729 385.271,1638.628 			"/>
			<polygon fill="#6B6B6B" points="242.802,1537.887 314.036,1561.631 314.036,1675.729 242.802,1638.628 			"/>
			<polygon fill="#828282" points="314.306,1519.488 385.571,1537.887 314.376,1561.631 243.102,1537.887 			"/>
		</g>
		<polygon fill="#595959" points="295.512,1603.354 265.595,1615.023 265.595,1574.52 295.513,1585.712 		"/>
		<polygon fill="#828282" points="295.512,1603.354 295.513,1616.134 295.513,1628.916 265.595,1615.451 		"/>
		<g>
			<g>
				<g>
					<path fill="#A54F46" d="M300.665,1608.167c-6.288-2.783-16.101-2.783-22.389,0c-6.565,2.906-7.223,7.899-0.948,11.167
						c6.576,3.425,17.708,3.425,24.284,0C307.888,1616.066,307.231,1611.073,300.665,1608.167z"/>
				</g>
				<g>
					<path fill="#FC7360" d="M300.665,1606.167c-6.288-2.783-16.101-2.783-22.389,0c-6.565,2.906-7.223,7.899-0.948,11.167
						c6.576,3.425,17.708,3.425,24.284,0C307.888,1614.066,307.231,1609.073,300.665,1606.167z"/>
				</g>
			</g>
			<g>
				<g>
					<path fill="#FFFFFF" d="M287.462,1612.487l-10.923-1.257l3.194-1.548l7.618,1.002l-1.83-3.808l3.077-1.492l2.297,5.202
						l11.509,1.26l-2.976,1.586l-8.387-1.021l2.084,4.379l-3.396,1.809L287.462,1612.487z"/>
				</g>
			</g>
		</g>
		<polygon fill="#6B6B6B" points="295.513,1600.079 295.513,1628.916 314.036,1620.936 314.036,1592.944 		"/>
	</g>
</g>
<g>
	<rect y="1907.574" fill="#D3D3D3" width="600" height="72.827"/>
	<g>
		<path fill="#A54F46" d="M294.347,1898.609c0,0,0.516-0.419,1.418-1.153c0.454-0.366,0.987-0.815,1.652-1.318
			c0.659-0.498,1.381-1.089,2.207-1.676c0.822-0.593,1.703-1.244,2.684-1.879c0.96-0.656,2.019-1.296,3.134-1.925
			c1.129-0.612,2.312-1.228,3.623-1.679c1.295-0.45,2.706-0.846,4.234-0.69c0.752,0.11,1.53,0.3,2.174,0.751
			c0.677,0.398,1.155,1.01,1.565,1.603c0.744,1.246,1.06,2.573,1.272,3.83c0.207,1.263,0.266,2.482,0.303,3.632
			c0.036,1.151,0.018,2.234,0.002,3.233c-0.048,1.993-0.087,3.654-0.115,4.817c-0.018,1.162,0.004,1.827,0.004,1.827
			s-0.069-0.661-0.133-1.823c-0.054-1.162-0.132-2.821-0.224-4.812c-0.054-0.993-0.112-2.069-0.228-3.196
			c-0.116-1.126-0.259-2.312-0.54-3.494c-0.279-1.174-0.679-2.372-1.356-3.336c-0.693-0.952-1.696-1.503-2.835-1.535
			c-1.144-0.044-2.351,0.363-3.473,0.851c-1.135,0.48-2.204,1.135-3.22,1.782c-1.009,0.667-1.97,1.343-2.848,2.04
			c-0.893,0.671-1.703,1.363-2.455,1.991c-0.758,0.622-1.408,1.239-2.007,1.76c-0.594,0.516-1.107,1.015-1.532,1.409
			c-0.848,0.796-1.333,1.25-1.333,1.25L294.347,1898.609z"/>
	</g>
	<g>
		<path d="M42.758,1838.697h-6.847v-14.659c0-3.621-1.347-5.433-4.041-5.433c-1.916,0-3.3,0.651-4.153,1.953
			c-0.853,1.303-1.279,3.412-1.279,6.331v11.808h-6.847v-34.93h6.847v7.116c0,0.554-0.053,1.855-0.157,3.906l-0.157,2.02h0.359
			c1.526-2.454,3.951-3.681,7.273-3.681c2.948,0,5.186,0.793,6.712,2.379c1.526,1.587,2.29,3.861,2.29,6.824V1838.697z"/>
		<path d="M49.515,1807.112c0-2.229,1.242-3.345,3.727-3.345c2.484,0,3.727,1.115,3.727,3.345c0,1.062-0.311,1.89-0.932,2.48
			c-0.622,0.592-1.553,0.887-2.795,0.887C50.757,1810.479,49.515,1809.357,49.515,1807.112z M56.654,1838.697h-6.847V1813.6h6.847
			V1838.697z"/>
		<path d="M87.004,1838.697h-6.847v-14.659c0-1.811-0.322-3.168-0.965-4.074c-0.644-0.905-1.669-1.358-3.075-1.358
			c-1.916,0-3.3,0.641-4.153,1.92s-1.279,3.4-1.279,6.364v11.808h-6.847V1813.6h5.23l0.92,3.21h0.381
			c0.763-1.212,1.814-2.128,3.154-2.749c1.339-0.621,2.862-0.932,4.568-0.932c2.918,0,5.133,0.789,6.645,2.368
			c1.511,1.579,2.267,3.857,2.267,6.835V1838.697z"/>
		<path d="M104.625,1833.691c1.197,0,2.634-0.262,4.31-0.786v5.096c-1.706,0.764-3.802,1.145-6.286,1.145
			c-2.739,0-4.733-0.691-5.982-2.076c-1.25-1.384-1.875-3.46-1.875-6.229v-12.1h-3.277v-2.896l3.771-2.29l1.976-5.298h4.377v5.343
			h7.026v5.141h-7.026v12.1c0,0.974,0.273,1.691,0.819,2.155S103.728,1833.691,104.625,1833.691z"/>
		<path d="M125.368,1839.146c-4.041,0-7.199-1.114-9.473-3.345c-2.275-2.229-3.412-5.387-3.412-9.473
			c0-4.205,1.051-7.456,3.154-9.754c2.103-2.297,5.009-3.445,8.721-3.445c3.547,0,6.308,1.01,8.283,3.03s2.963,4.812,2.963,8.373
			v3.322h-16.185c0.075,1.945,0.651,3.465,1.729,4.557c1.077,1.093,2.589,1.639,4.534,1.639c1.512,0,2.941-0.156,4.288-0.471
			c1.347-0.314,2.753-0.815,4.22-1.504v5.298c-1.197,0.599-2.477,1.043-3.838,1.335C128.989,1839,127.328,1839.146,125.368,1839.146
			z M124.402,1818c-1.452,0-2.589,0.46-3.412,1.38c-0.823,0.921-1.295,2.227-1.415,3.918h9.608c-0.03-1.691-0.471-2.997-1.324-3.918
			C127.006,1818.46,125.854,1818,124.402,1818z"/>
		<path d="M155.179,1813.129c0.928,0,1.698,0.067,2.312,0.201l-0.517,6.421c-0.554-0.149-1.227-0.225-2.02-0.225
			c-2.185,0-3.888,0.562-5.107,1.684c-1.22,1.122-1.83,2.693-1.83,4.714v12.773h-6.847V1813.6h5.186l1.01,4.221h0.336
			c0.778-1.406,1.83-2.54,3.154-3.401C152.182,1813.559,153.623,1813.129,155.179,1813.129z"/>
	</g>
	<g>
		<path d="M473.129,1827.002c0,3.74-0.809,6.704-2.425,8.889c-1.616,2.186-3.847,3.277-6.689,3.277
			c-1.916,0-3.584-0.385-5.006-1.156c-1.422-0.77-2.529-1.814-3.322-3.131l-0.157,3.816h-1.01v-35.02h1.212v15.062
			c0.808-1.481,1.908-2.648,3.3-3.502s3.038-1.279,4.938-1.279c2.858,0,5.1,1.133,6.724,3.4c1.623,2.268,2.436,5.324,2.436,9.17
			V1827.002z M471.871,1826.529c0-3.367-0.673-6.102-2.02-8.204c-1.348-2.103-3.3-3.154-5.859-3.154
			c-2.35,0-4.176,0.591-5.478,1.773s-2.229,2.634-2.783,4.354v11.382c0.599,1.602,1.601,2.881,3.008,3.839
			c1.406,0.957,3.173,1.437,5.298,1.437c2.56,0,4.504-0.987,5.837-2.964c1.331-1.975,1.997-4.639,1.997-7.99V1826.529z"/>
		<path d="M488.012,1839.168c-2.769,0-5.159-1.118-7.172-3.355s-3.02-5.018-3.02-8.34v-1.437c0-3.487,0.973-6.372,2.918-8.653
			c1.945-2.283,4.348-3.424,7.206-3.424c2.739,0,4.973,0.898,6.701,2.693c1.729,1.797,2.593,4.206,2.593,7.229v1.863h-18.206v0.292
			v1.437c0,2.934,0.86,5.414,2.582,7.441c1.721,2.028,3.854,3.042,6.397,3.042c1.811,0,3.326-0.247,4.546-0.741
			s2.264-1.234,3.132-2.223l0.65,0.943c-0.958,1.062-2.121,1.867-3.49,2.413S489.867,1839.168,488.012,1839.168z M487.944,1815.171
			c-2.409,0-4.415,0.88-6.016,2.638c-1.602,1.759-2.507,3.955-2.717,6.589l0.067,0.134h16.747v-0.74
			c0-2.469-0.749-4.523-2.245-6.162C492.284,1815.99,490.339,1815.171,487.944,1815.171z"/>
		<path d="M504.107,1819.525c0.748-1.766,1.848-3.135,3.3-4.107c1.451-0.973,3.225-1.459,5.32-1.459
			c2.528,0,4.448,0.801,5.758,2.402s1.964,4.123,1.964,7.564v14.771h-1.234v-14.816c0-3.188-0.588-5.436-1.762-6.746
			c-1.176-1.309-2.743-1.964-4.703-1.964c-2.619,0-4.625,0.782-6.017,2.347c-1.392,1.563-2.267,3.564-2.626,6.004v15.176h-1.212
			v-35.02h1.212V1819.525z"/>
		<path d="M529.563,1806.775h-1.212v-3.098h1.212V1806.775z M529.563,1838.697h-1.212v-24.289h1.212V1838.697z"/>
		<path d="M538.565,1814.408l0.157,5.006c0.732-1.736,1.803-3.079,3.21-4.029c1.406-0.951,3.143-1.426,5.208-1.426
			c2.648,0,4.636,0.834,5.96,2.503s1.986,4.313,1.986,7.936v14.3h-1.212v-14.345c0-3.367-0.603-5.739-1.807-7.116
			c-1.205-1.377-2.84-2.065-4.905-2.065c-2.619,0-4.595,0.782-5.927,2.347c-1.332,1.563-2.162,3.564-2.491,6.004v15.176h-1.212
			v-24.289H538.565z"/>
		<path d="M561.574,1826.529c0-3.846,0.809-6.902,2.425-9.17s3.861-3.4,6.734-3.4c1.9,0,3.543,0.426,4.927,1.279
			c1.385,0.854,2.488,2.021,3.312,3.502v-15.062h1.212v35.02h-1.167l-0.045-3.771c-0.808,1.302-1.919,2.334-3.334,3.098
			c-1.414,0.764-3.063,1.145-4.949,1.145c-2.858,0-5.093-1.092-6.701-3.277c-1.608-2.185-2.413-5.148-2.413-8.889V1826.529z
			 M562.831,1827.002c0,3.352,0.663,6.016,1.987,7.99c1.324,1.977,3.273,2.964,5.848,2.964c2.11,0,3.864-0.479,5.264-1.437
			c1.399-0.958,2.413-2.237,3.042-3.839v-11.382c-0.584-1.735-1.526-3.19-2.828-4.365c-1.303-1.175-3.113-1.763-5.433-1.763
			c-2.574,0-4.531,1.052-5.87,3.154c-1.34,2.103-2.01,4.837-2.01,8.204V1827.002z"/>
	</g>
	<line fill="none" stroke="#878787" stroke-width="10" stroke-miterlimit="10" x1="0" y1="1980.401" x2="600" y2="1980.401"/>
	<g>
		<g>
			<g>
				<path fill="#A54F46" d="M307.245,1914.596c0-8.4,4.506-13.426,10.3-11.133c6.071,2.403,11.21,11.849,11.21,20.992
					c0,9.143-5.139,13.878-11.21,10.716C311.751,1932.153,307.245,1922.996,307.245,1914.596z"/>
			</g>
			<g>
				<path fill="#FC7360" d="M305.245,1914.596c0-8.4,4.506-13.426,10.3-11.133c6.071,2.403,11.21,11.849,11.21,20.992
					c0,9.143-5.139,13.878-11.21,10.716C309.751,1932.153,305.245,1922.996,305.245,1914.596z"/>
			</g>
		</g>
		<g>
			<g>
				<path fill="#FFFFFF" d="M321.591,1931.593l-3.119-1.543l-2.925-8.394l-2.859,5.531l-2.731-1.351l4.01-7.428l-3.757-10.426
					l2.82,1.191l2.654,7.732l2.659-5.487l2.937,1.241l-4.02,7.47L321.591,1931.593z"/>
			</g>
		</g>
	</g>
	<g>
		<polygon fill="#828282" points="263.789,1870.158 307.784,1881.521 263.789,1896.186 219.794,1881.521 		"/>
		<polygon fill="#6B6B6B" points="219.794,1881.521 263.789,1896.186 263.789,1966.653 219.794,1943.739 		"/>
		<polygon fill="#595959" points="307.784,1881.521 263.789,1896.186 263.789,1966.653 307.784,1943.739 		"/>
	</g>
</g>
<g>
	<rect y="2201.939" fill="#D3D3D3" width="600" height="72.827"/>
	<g>
		<path fill="#A54F46" d="M317.462,2246.197c0,0,1.984-0.224,4.96-0.56c0.743-0.086,1.548-0.179,2.399-0.278
			c0.829-0.148,1.703-0.304,2.608-0.466c0.908-0.162,1.847-0.329,2.8-0.498c0.96-0.148,1.907-0.443,2.872-0.659
			c0.963-0.235,1.926-0.471,2.873-0.703c0.932-0.287,1.849-0.569,2.737-0.842c0.887-0.279,1.756-0.526,2.545-0.849
			c0.799-0.302,1.554-0.588,2.251-0.852c0.692-0.278,1.307-0.573,1.865-0.815c0.56-0.238,1.033-0.472,1.418-0.677
			c0.782-0.388,1.209-0.647,1.209-0.647s-0.4,0.299-1.145,0.759c-0.366,0.241-0.818,0.521-1.355,0.811
			c-0.534,0.294-1.126,0.65-1.794,0.994c-0.675,0.331-1.407,0.689-2.181,1.068c-0.767,0.401-1.614,0.73-2.482,1.096
			c-0.871,0.36-1.772,0.733-2.687,1.112c-0.935,0.324-1.885,0.654-2.835,0.984c-0.957,0.312-1.892,0.7-2.858,0.945
			c-0.961,0.266-1.906,0.528-2.822,0.781c-0.919,0.254-1.807,0.499-2.649,0.731c-0.84,0.178-1.634,0.347-2.367,0.503
			c-2.932,0.613-4.886,1.022-4.886,1.022L317.462,2246.197z"/>
	</g>
	<g>
		<path fill="#A54F46" d="M275.809,2249.415c0,0-0.149-0.025-0.428-0.073c-0.289-0.056-0.667-0.097-1.232-0.224
			c-0.56-0.122-1.243-0.265-1.972-0.479c-0.744-0.193-1.561-0.464-2.444-0.769c-1.764-0.617-3.757-1.46-5.819-2.478
			c-2.064-1.017-4.199-2.204-6.282-3.463c-4.168-2.518-8.114-5.337-11.015-7.516c-1.44-1.101-2.641-2.019-3.481-2.661
			c-0.421-0.319-0.752-0.569-0.978-0.74c-0.226-0.173-0.367-0.227-0.367-0.227s0.147,0.044,0.385,0.199
			c0.239,0.153,0.588,0.377,1.034,0.663c0.887,0.575,2.153,1.396,3.673,2.381c3.053,1.942,7.188,4.434,11.476,6.589
			c2.142,1.078,4.318,2.075,6.39,2.902c2.07,0.829,4.036,1.485,5.734,1.934c0.849,0.22,1.628,0.414,2.321,0.536
			c0.699,0.147,1.28,0.219,1.76,0.288c0.473,0.073,0.925,0.092,1.195,0.123c0.282,0.025,0.432,0.039,0.432,0.039L275.809,2249.415z"
			/>
	</g>
	<g>
		<path d="M37.057,2133.062H17.235v-4.041l11.628-15.826H17.931v-5.23h18.722v4.445l-11.314,15.422h11.718V2133.062z"/>
		<path d="M62.647,2133.062l-1.931-8.777l-2.559-11.09h-0.202l-4.579,19.867h-7.363l-7.139-25.098h6.825l2.896,11.112
			c0.329,1.317,0.786,4.063,1.37,8.238h0.179c0.06-1.137,0.322-2.94,0.786-5.41l0.359-1.908l3.098-12.032h7.543l2.94,12.032
			c0.18,0.823,0.4,2.032,0.662,3.626s0.408,2.825,0.438,3.692h0.18c0.165-1.332,0.396-2.847,0.696-4.546
			c0.299-1.698,0.554-2.93,0.763-3.692l3.008-11.112h6.712l-7.229,25.098H62.647z"/>
		<path d="M81.077,2101.478c0-2.229,1.242-3.345,3.727-3.345c2.484,0,3.727,1.115,3.727,3.345c0,1.062-0.311,1.89-0.932,2.48
			c-0.622,0.592-1.553,0.887-2.795,0.887C82.319,2104.845,81.077,2103.723,81.077,2101.478z M88.216,2133.062h-6.847v-25.098h6.847
			V2133.062z"/>
		<path d="M112.909,2125.609c0,2.574-0.894,4.534-2.682,5.882c-1.789,1.347-4.464,2.02-8.025,2.02c-1.826,0-3.382-0.123-4.669-0.37
			s-2.492-0.609-3.614-1.089v-5.656c1.271,0.599,2.705,1.1,4.299,1.504c1.594,0.404,2.997,0.605,4.209,0.605
			c2.484,0,3.726-0.718,3.726-2.154c0-0.539-0.165-0.977-0.494-1.313c-0.33-0.337-0.898-0.719-1.706-1.145
			c-0.808-0.427-1.886-0.924-3.232-1.493c-1.931-0.809-3.349-1.557-4.254-2.245c-0.906-0.688-1.564-1.478-1.976-2.368
			c-0.412-0.89-0.617-1.986-0.617-3.288c0-2.23,0.864-3.955,2.593-5.175s4.179-1.829,7.352-1.829c3.023,0,5.963,0.658,8.822,1.975
			l-2.065,4.939c-1.257-0.539-2.432-0.98-3.524-1.325c-1.092-0.344-2.208-0.516-3.345-0.516c-2.02,0-3.03,0.546-3.03,1.639
			c0,0.613,0.325,1.145,0.977,1.594c0.651,0.449,2.076,1.115,4.276,1.998c1.96,0.793,3.397,1.534,4.31,2.222
			c0.913,0.688,1.586,1.481,2.02,2.38C112.692,2123.297,112.909,2124.367,112.909,2125.609z"/>
		<path d="M128.443,2133.511c-7.812,0-11.718-4.287-11.718-12.862c0-4.266,1.062-7.523,3.188-9.776
			c2.125-2.252,5.17-3.378,9.136-3.378c2.903,0,5.507,0.568,7.812,1.706l-2.02,5.298c-1.078-0.435-2.081-0.79-3.008-1.066
			c-0.928-0.277-1.856-0.416-2.784-0.416c-3.562,0-5.343,2.529-5.343,7.588c0,4.909,1.781,7.363,5.343,7.363
			c1.317,0,2.537-0.176,3.659-0.527s2.245-0.902,3.367-1.65v5.859c-1.107,0.703-2.226,1.189-3.356,1.459
			S130.164,2133.511,128.443,2133.511z"/>
		<path d="M165.056,2133.062h-6.847v-14.659c0-3.621-1.347-5.433-4.041-5.433c-1.916,0-3.3,0.651-4.153,1.953
			c-0.853,1.303-1.279,3.412-1.279,6.331v11.808h-6.847v-34.93h6.847v7.116c0,0.554-0.053,1.855-0.157,3.906l-0.157,2.02h0.359
			c1.526-2.454,3.951-3.681,7.273-3.681c2.948,0,5.186,0.793,6.712,2.379c1.526,1.587,2.29,3.861,2.29,6.824V2133.062z"/>
		<path d="M183.464,2133.511c-4.041,0-7.199-1.114-9.473-3.345c-2.275-2.229-3.412-5.387-3.412-9.473
			c0-4.205,1.051-7.456,3.154-9.754c2.103-2.297,5.009-3.445,8.721-3.445c3.547,0,6.308,1.01,8.283,3.03s2.963,4.812,2.963,8.373
			v3.322h-16.185c0.075,1.945,0.651,3.465,1.729,4.557c1.077,1.093,2.589,1.639,4.534,1.639c1.512,0,2.941-0.156,4.288-0.471
			c1.347-0.314,2.753-0.815,4.22-1.504v5.298c-1.197,0.599-2.477,1.043-3.838,1.335
			C187.085,2133.365,185.424,2133.511,183.464,2133.511z M182.499,2112.365c-1.452,0-2.589,0.46-3.412,1.38
			c-0.823,0.921-1.295,2.227-1.415,3.918h9.608c-0.03-1.691-0.471-2.997-1.324-3.918
			C185.103,2112.825,183.95,2112.365,182.499,2112.365z"/>
		<path d="M222.434,2133.062h-6.847v-14.659c0-1.811-0.322-3.168-0.965-4.074c-0.644-0.905-1.669-1.358-3.075-1.358
			c-1.916,0-3.3,0.641-4.153,1.92s-1.279,3.4-1.279,6.364v11.808h-6.847v-25.098h5.23l0.92,3.21h0.381
			c0.763-1.212,1.814-2.128,3.154-2.749c1.339-0.621,2.862-0.932,4.568-0.932c2.918,0,5.133,0.789,6.645,2.368
			c1.511,1.579,2.267,3.857,2.267,6.835V2133.062z"/>
	</g>
	<g>
		<path d="M437.593,2121.367c0,3.74-0.808,6.704-2.424,8.889c-1.616,2.186-3.847,3.277-6.689,3.277
			c-1.916,0-3.585-0.385-5.007-1.156c-1.422-0.77-2.529-1.814-3.322-3.131l-0.157,3.816h-1.01v-35.02h1.212v15.062
			c0.809-1.481,1.908-2.648,3.3-3.502c1.393-0.854,3.038-1.279,4.939-1.279c2.857,0,5.099,1.133,6.723,3.4s2.436,5.324,2.436,9.17
			V2121.367z M436.336,2120.895c0-3.367-0.674-6.102-2.021-8.204s-3.3-3.154-5.858-3.154c-2.351,0-4.176,0.591-5.478,1.773
			c-1.303,1.183-2.23,2.634-2.784,4.354v11.382c0.599,1.602,1.602,2.881,3.009,3.839c1.406,0.957,3.172,1.437,5.298,1.437
			c2.559,0,4.504-0.987,5.836-2.964c1.332-1.975,1.998-4.639,1.998-7.99V2120.895z"/>
		<path d="M452.477,2133.533c-2.77,0-5.16-1.118-7.173-3.355s-3.019-5.018-3.019-8.34v-1.437c0-3.487,0.973-6.372,2.918-8.653
			c1.945-2.283,4.347-3.424,7.206-3.424c2.738,0,4.972,0.898,6.7,2.693c1.729,1.797,2.593,4.206,2.593,7.229v1.863h-18.205v0.292
			v1.437c0,2.934,0.86,5.414,2.581,7.441c1.722,2.028,3.854,3.042,6.398,3.042c1.811,0,3.325-0.247,4.546-0.741
			c1.219-0.494,2.263-1.234,3.131-2.223l0.651,0.943c-0.958,1.062-2.121,1.867-3.491,2.413
			C455.944,2133.26,454.332,2133.533,452.477,2133.533z M452.409,2109.536c-2.41,0-4.415,0.88-6.017,2.638
			c-1.602,1.759-2.507,3.955-2.716,6.589l0.067,0.134h16.746v-0.74c0-2.469-0.748-4.523-2.245-6.162
			C456.749,2110.355,454.803,2109.536,452.409,2109.536z"/>
		<path d="M469.874,2102.219v6.555h5.971v1.234h-5.971v16.791c0,1.99,0.336,3.408,1.01,4.254s1.563,1.269,2.671,1.269
			c0.404,0,0.764-0.015,1.078-0.045s0.748-0.082,1.302-0.157l0.225,1.1c-0.374,0.12-0.764,0.203-1.167,0.248
			c-0.404,0.044-0.861,0.066-1.37,0.066c-1.631,0-2.869-0.531-3.715-1.594s-1.269-2.775-1.269-5.141v-16.791h-4.489v-1.234h4.489
			v-6.555H469.874z"/>
		<path d="M485.924,2126.035l1.257,4.984l0.135,0.021l1.594-5.006l5.455-17.262h1.234l5.433,17.262l1.571,5.006l0.135-0.021
			l1.302-4.984l4.939-17.262h1.414l-7.071,24.289h-1.212l-5.994-18.251l-1.077-4.108h-0.135l-1.168,4.108l-5.903,18.251h-1.212
			l-7.049-24.289h1.392L485.924,2126.035z"/>
		<path d="M524.647,2133.533c-2.77,0-5.16-1.118-7.173-3.355s-3.019-5.018-3.019-8.34v-1.437c0-3.487,0.973-6.372,2.918-8.653
			c1.945-2.283,4.347-3.424,7.206-3.424c2.738,0,4.972,0.898,6.7,2.693c1.729,1.797,2.593,4.206,2.593,7.229v1.863h-18.205v0.292
			v1.437c0,2.934,0.86,5.414,2.581,7.441c1.722,2.028,3.854,3.042,6.398,3.042c1.811,0,3.325-0.247,4.546-0.741
			c1.219-0.494,2.263-1.234,3.131-2.223l0.651,0.943c-0.958,1.062-2.121,1.867-3.491,2.413
			C528.115,2133.26,526.503,2133.533,524.647,2133.533z M524.58,2109.536c-2.41,0-4.415,0.88-6.017,2.638
			c-1.602,1.759-2.507,3.955-2.716,6.589l0.067,0.134h16.746v-0.74c0-2.469-0.748-4.523-2.245-6.162
			C528.92,2110.355,526.974,2109.536,524.58,2109.536z"/>
		<path d="M547.813,2133.533c-2.769,0-5.159-1.118-7.172-3.355s-3.02-5.018-3.02-8.34v-1.437c0-3.487,0.973-6.372,2.918-8.653
			c1.945-2.283,4.348-3.424,7.206-3.424c2.739,0,4.973,0.898,6.701,2.693c1.729,1.797,2.593,4.206,2.593,7.229v1.863h-18.206v0.292
			v1.437c0,2.934,0.86,5.414,2.582,7.441c1.721,2.028,3.854,3.042,6.397,3.042c1.811,0,3.326-0.247,4.546-0.741
			s2.264-1.234,3.132-2.223l0.65,0.943c-0.958,1.062-2.121,1.867-3.49,2.413S549.669,2133.533,547.813,2133.533z M547.746,2109.536
			c-2.409,0-4.415,0.88-6.016,2.638c-1.602,1.759-2.507,3.955-2.717,6.589l0.067,0.134h16.747v-0.74
			c0-2.469-0.749-4.523-2.245-6.162C552.086,2110.355,550.141,2109.536,547.746,2109.536z"/>
		<path d="M563.729,2108.773l0.157,5.006c0.732-1.736,1.803-3.079,3.21-4.029c1.406-0.951,3.143-1.426,5.208-1.426
			c2.648,0,4.636,0.834,5.96,2.503s1.986,4.313,1.986,7.936v14.3h-1.212v-14.345c0-3.367-0.603-5.739-1.807-7.116
			c-1.205-1.377-2.84-2.065-4.905-2.065c-2.619,0-4.595,0.782-5.927,2.347c-1.332,1.563-2.162,3.564-2.491,6.004v15.176h-1.212
			v-24.289H563.729z"/>
	</g>
	<line fill="none" stroke="#878787" stroke-width="10" stroke-miterlimit="10" x1="0" y1="2274.766" x2="600" y2="2274.766"/>
	<g>
		<polygon fill="#828282" points="219.794,2155.374 263.789,2166.737 219.794,2181.401 175.799,2166.737 		"/>
		<polygon fill="#6B6B6B" points="175.799,2166.737 219.794,2181.401 219.794,2251.869 175.799,2228.955 		"/>
		<polygon fill="#595959" points="263.789,2166.737 219.794,2181.401 219.794,2251.869 263.789,2228.955 		"/>
	</g>
	<g>
		<polygon fill="#828282" points="361.969,2174.308 397.183,2183.403 361.969,2195.141 326.755,2183.403 		"/>
		<polygon fill="#6B6B6B" points="326.755,2183.403 361.969,2195.141 361.969,2251.544 326.755,2233.203 		"/>
		<polygon fill="#595959" points="397.183,2183.403 361.969,2195.141 361.969,2251.544 397.183,2233.203 		"/>
	</g>
	<g>
		<g>
			<g>
				<path fill="#A54F46" d="M314.72,2239.934c-10.789-4.775-27.624-4.775-38.413,0c-11.264,4.985-12.392,13.552-1.626,19.16
					c11.282,5.876,30.382,5.876,41.664,0C327.112,2253.486,325.984,2244.92,314.72,2239.934z"/>
			</g>
			<g>
				<path fill="#FC7360" d="M314.72,2237.934c-10.789-4.775-27.624-4.775-38.413,0c-11.264,4.985-12.392,13.552-1.626,19.16
					c11.282,5.876,30.382,5.876,41.664,0C327.112,2251.486,325.984,2242.92,314.72,2237.934z"/>
			</g>
		</g>
		<g>
			<g>
				<path fill="#FFFFFF" d="M292.066,2248.778l-18.74-2.157l5.48-2.656l13.071,1.719l-3.14-6.533l5.28-2.559l3.941,8.925
					l19.746,2.162l-5.107,2.72l-14.389-1.752l3.576,7.513l-5.826,3.104L292.066,2248.778z"/>
			</g>
		</g>
	</g>
</g>
<rect y="2496.305" fill="#D3D3D3" width="600" height="72.827"/>
<g>
	<path d="M35.53,2427.428l-1.324-3.412h-0.18c-1.152,1.451-2.338,2.458-3.558,3.019c-1.22,0.562-2.81,0.842-4.77,0.842
		c-2.41,0-4.307-0.688-5.691-2.064s-2.076-3.337-2.076-5.882c0-2.663,0.932-4.628,2.795-5.893c1.863-1.265,4.672-1.964,8.429-2.099
		l4.355-0.135v-1.101c0-2.544-1.302-3.815-3.906-3.815c-2.005,0-4.363,0.605-7.071,1.818l-2.267-4.625
		c2.888-1.511,6.091-2.267,9.608-2.267c3.367,0,5.949,0.733,7.745,2.199c1.796,1.467,2.694,3.697,2.694,6.689v16.725H35.53z
		 M33.51,2415.8l-2.649,0.089c-1.991,0.061-3.472,0.42-4.445,1.078c-0.973,0.658-1.459,1.661-1.459,3.008
		c0,1.931,1.107,2.896,3.322,2.896c1.586,0,2.854-0.456,3.805-1.369c0.95-0.912,1.426-2.125,1.426-3.637V2415.8z"/>
	<path d="M70.527,2427.428H63.68v-14.659c0-1.811-0.322-3.168-0.965-4.074c-0.644-0.905-1.669-1.358-3.075-1.358
		c-1.916,0-3.3,0.641-4.153,1.92s-1.279,3.4-1.279,6.364v11.808H47.36v-25.098h5.23l0.92,3.21h0.381
		c0.763-1.212,1.814-2.128,3.154-2.749c1.339-0.621,2.862-0.932,4.568-0.932c2.918,0,5.133,0.789,6.645,2.368
		c1.511,1.579,2.267,3.857,2.267,6.835V2427.428z"/>
</g>
<g>
	<path d="M551.002,2396.584v6.555h5.971v1.234h-5.971v16.791c0,1.99,0.336,3.408,1.01,4.254s1.563,1.269,2.671,1.269
		c0.404,0,0.764-0.015,1.078-0.045s0.748-0.082,1.302-0.157l0.225,1.1c-0.374,0.12-0.764,0.203-1.167,0.248
		c-0.404,0.044-0.861,0.066-1.37,0.066c-1.631,0-2.869-0.531-3.715-1.594s-1.269-2.775-1.269-5.141v-16.791h-4.489v-1.234h4.489
		v-6.555H551.002z"/>
	<path d="M560.789,2414.812c0-3.562,0.983-6.473,2.951-8.732s4.523-3.39,7.666-3.39c3.158,0,5.721,1.13,7.688,3.39
		s2.952,5.171,2.952,8.732v0.942c0,3.577-0.984,6.496-2.952,8.755c-1.968,2.261-4.516,3.39-7.644,3.39
		c-3.157,0-5.724-1.129-7.699-3.39c-1.976-2.259-2.963-5.178-2.963-8.755V2414.812z M562.001,2415.754
		c0,3.053,0.853,5.639,2.559,7.756c1.706,2.118,4.004,3.177,6.892,3.177c2.844,0,5.118-1.062,6.824-3.188s2.56-4.706,2.56-7.745
		v-0.942c0-2.978-0.86-5.541-2.582-7.688c-1.721-2.147-4.003-3.222-6.847-3.222c-2.858,0-5.141,1.074-6.847,3.222
		s-2.559,4.711-2.559,7.688V2415.754z"/>
</g>
<line fill="none" stroke="#878787" stroke-width="10" stroke-miterlimit="10" x1="0" y1="2569.132" x2="600" y2="2569.132"/>
<g>
	<polygon fill="#828282" points="219.794,2449.739 263.789,2461.102 219.794,2475.767 175.799,2461.102 	"/>
	<polygon fill="#6B6B6B" points="175.799,2461.102 219.794,2475.767 219.794,2546.234 175.799,2523.32 	"/>
	<polygon fill="#595959" points="263.789,2461.102 219.794,2475.767 219.794,2546.234 263.789,2523.32 	"/>
</g>
<g>
	<path fill="#A54F46" d="M278.083,2414.535c0,0,0.284,0.333,0.817,0.957c0.266,0.312,0.595,0.697,0.981,1.149
		c0.39,0.45,0.84,0.962,1.264,1.608c0.445,0.632,0.937,1.332,1.473,2.094c0.563,0.753,1.003,1.653,1.567,2.572
		c0.272,0.465,0.552,0.945,0.841,1.439c0.256,0.511,0.519,1.036,0.79,1.576c0.531,1.084,1.12,2.216,1.597,3.452
		c1.051,2.436,2.04,5.139,2.898,8.054c0.862,2.912,1.666,6.02,2.26,9.277c0.153,0.814,0.308,1.634,0.464,2.46
		c0.128,0.83,0.257,1.666,0.387,2.507c0.123,0.842,0.269,1.688,0.374,2.541c0.095,0.855,0.19,1.714,0.285,2.577
		c0.378,3.451,0.599,6.968,0.77,10.485c0.099,3.519,0.13,7.038,0.056,10.498c-0.032,1.73-0.077,3.446-0.183,5.138
		c-0.077,1.693-0.189,3.364-0.308,5.005c-0.215,3.285-0.561,6.448-0.903,9.443c-0.354,2.994-0.75,5.816-1.174,8.411
		c-0.396,2.599-0.846,4.968-1.253,7.063c-0.404,2.096-0.81,3.914-1.154,5.407c-0.696,2.986-1.201,4.664-1.201,4.664
		s0.076-0.427,0.182-1.243c0.1-0.813,0.246-2.006,0.432-3.523c0.363-3.034,0.82-7.374,1.286-12.578
		c0.233-2.603,0.43-5.426,0.653-8.407c0.19-2.984,0.356-6.132,0.496-9.386c0.153-3.254,0.185-6.619,0.232-10.034
		c0.041-3.416-0.031-6.883-0.155-10.345c-0.135-3.461-0.316-6.921-0.654-10.309c-0.167-1.694-0.321-3.376-0.539-5.029
		c-0.102-0.828-0.204-1.65-0.305-2.467c-0.128-0.812-0.255-1.618-0.381-2.418c-0.223-1.606-0.562-3.16-0.843-4.693
		c-0.257-1.54-0.65-3.01-0.976-4.458c-0.715-2.877-1.49-5.575-2.344-8.02c-0.377-1.244-0.89-2.372-1.311-3.477
		c-0.217-0.55-0.429-1.086-0.635-1.608c-0.239-0.506-0.471-0.997-0.695-1.473c-0.465-0.943-0.838-1.872-1.295-2.655
		c-0.443-0.799-0.849-1.532-1.216-2.195c-0.349-0.676-0.741-1.239-1.065-1.738c-0.325-0.498-0.601-0.922-0.826-1.265
		C278.323,2414.902,278.083,2414.535,278.083,2414.535z"/>
</g>
<g>
	<g>
		<g>
			<path fill="#A54F46" d="M276.706,2462.433c0-10.711,5.746-17.119,13.133-14.195c7.741,3.064,14.294,15.108,14.294,26.766
				s-6.553,17.695-14.294,13.663C282.452,2484.819,276.706,2473.144,276.706,2462.433z"/>
		</g>
		<g>
			<path fill="#FC7360" d="M274.706,2462.433c0-10.711,5.746-17.119,13.133-14.195c7.741,3.064,14.294,15.108,14.294,26.766
				s-6.553,17.695-14.294,13.663C280.452,2484.819,274.706,2473.144,274.706,2462.433z"/>
		</g>
	</g>
	<g>
		<g>
			<path fill="#FFFFFF" d="M295.549,2484.104l-3.976-1.968l-3.73-10.703l-3.646,7.052l-3.482-1.723l5.112-9.471l-4.791-13.293
				l3.595,1.519l3.384,9.859l3.39-6.997l3.745,1.583l-5.125,9.525L295.549,2484.104z"/>
		</g>
	</g>
</g>
</svg>
            </section>
            <section class="bottom">
                <div class="praps-ok-button" ng-click="goToDashboard()"></div>
            </section>
        </div>
    </ion-content>
</ion-view>