<!--<ion-side-menus enable-menu-with-back-views="false">-->
  <!--<ion-pane ion-side-menu-content>-->
    <!--<ion-nav-bar class="bar-dark nav-title-slide-ios7">-->
      <!--<ion-nav-back-button class="button button-clear icon ion-ios-arrow-back">-->
          <!--&lt;!&ndash;<i class="icon ion-chevron-left"></i>&ndash;&gt;-->
      <!--</ion-nav-back-button>-->
    <!--</ion-nav-bar>-->
    <!--<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>-->
  <!--</ion-pane>-->

  <!--<ion-side-menu side="left" class="praps-menu" is-enabled="$root.menuEnabled">-->
    <!--<header class="bar bar-header bar-stable praps-menu-header">-->
      <!--<h1 class="title">Präpp</h1>-->
    <!--</header>-->
    <!--<ion-content class="has-header praps-menu-content">-->
      <!--<ion-list>-->
          <!--<ion-item nav-clear menu-close class="praps-menu-item yellow" href="#/praps/dashboard">-->
              <!--dashboard-->
          <!--</ion-item>-->
          <!--<ion-item nav-clear menu-close class="praps-menu-item orange" href="#/praps/learn">-->
              <!--learn-->
          <!--</ion-item>-->
          <!--<ion-item nav-clear menu-close class="praps-menu-item green" href="#/praps/flashcards">-->
              <!--flashcards-->
          <!--</ion-item>-->
          <!--<ion-item nav-clear menu-close class="praps-menu-item purple" href="#/praps/settings">-->
              <!--settings-->
          <!--</ion-item>-->
          <!--<ion-item nav-clear menu-close class="praps-menu-item grey" href="mailto:sergei.kalugin@northwestern.edu">-->
              <!--feedback-->
          <!--</ion-item>-->
      <!--</ion-list>-->
    <!--</ion-content>-->
  <!--</ion-side-menu>-->
<!--</ion-side-menus>-->

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="praepp-nav-bar nav-title-slide-ios">
            <!--<ion-nav-back-button></ion-nav-back-button>-->
            <!--<ion-nav-buttons side="left">-->
                <!--<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>-->
            <!--</ion-nav-buttons>-->
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu class="praps-menu">
        <ion-header-bar class="praps-menu-header">
            <h1 class="title">Präpp</h1>
        </ion-header-bar>
        <ion-content class="has-header praps-menu-content">
            <ion-list>
                <ion-item nav-clear menu-close class="praps-menu-item yellow" href="#/praps/dashboard">
                    dashboard
                </ion-item>
                <ion-item nav-clear menu-close class="praps-menu-item orange" href="#/praps/flashcards">
                    flash cards
                </ion-item>
                <ion-item nav-clear menu-close class="praps-menu-item green" href="#/praps/learn">
                    learn
                </ion-item>
                <ion-item nav-clear menu-close class="praps-menu-item purple" href="#/praps/settings">
                    settings
                </ion-item>
                <ion-item nav-clear menu-close class="praps-menu-item grey" href="mailto:sergei.kalugin@northwestern.edu">
                    feedback
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

