<ion-view title="Games Played">
    <ion-nav-buttons side="left">
        <a href="#/praps/dashboard" class="button button-icon icon ion-ios-arrow-back"></a>
    </ion-nav-buttons>
    <ion-content class="has-header" scroll="true" id="played">
        <div class="container">
            <div class="intro">
                <p class="icon ion-calculator"></p>
                <p>We like to keep track of your progress. Some statistics for you, dear präpper!</p>
            </div>
            <ul class="stats" ng-repeat="(game, val) in gamesPlayed">
               <li class="stats-item">
                   <p class="game">{{ game }}</p>
                   <p class="value">{{ val }}</p>
               </li>
            </ul>
            <div class="totals">
                <p class="total-title">Total</p>
                <p class="total-value">{{ total }}</p>
            </div>
            <!--<div class="more-stats"></div>-->
        </div>
        <div class="praps-ok-button" ng-click="goToDashboard()"></div>
        <!--<a class="praps-ok-button" href="#/"></a>-->
    </ion-content>
</ion-view>