<ion-view title="Settings">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header" id="settings" scroll="false">
        <div class="wrapper">
            <div class="intro">
                <p class="ion-ios-gear icon"></p>
                <p>Make some adjustments here</p>
            </div>
            <div class="list">
                <div class="item item-divider">Audio Settings</div>
                <ion-toggle ng-repeat="setting in settingsList"
                            ng-model="setting.checked" ng-checked="setting.checked"
                            toggle-class="toggle-dark" ng-change="changedToggle($index)">
                    {{ setting.text }}
                </ion-toggle>
                <div class="item item-divider">Local Storage</div>
                <div class="reset-button" ng-click="openModal()">
                    <span class="header">Reset local data</span>
                    <span class="warning">Be carefull, this will reset all your progress</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>