<ion-view title="Update" id="update" hide-nav-bar="true">
    <ion-content class="" scroll="false" has-header="false">
        <div class="content">
            <p class="text">Good news. Fresh <span class="praps">Präpp</span> is available.</p>
            <ul class="dots">
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
            </ul>
        </div>
        <div class="logo">
        <svg class="update-tree" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 779.961 1000" enable-background="new 0 0 779.961 1000" xml:space="preserve">
<g id="META">
</g>
<g id="Touch_Icon">
	<rect x="0.012" y="-62" display="none" fill="#5EACB7" width="780" height="1116"/>
	<path display="none" fill="#639E54" d="M780.012,1054V920c0,0,27.548,40-302.051,6c-306.874-31.656-454.949-2-477.949,6v122
		H780.012z"/>
	<g>
		<ellipse fill="#4D9347" cx="597.479" cy="261.257" rx="45.585" ry="112.933"/>
		<g>
			<ellipse fill="#459E3C" cx="153.835" cy="360.839" rx="138" ry="158.326"/>
			<ellipse fill="#459E3C" cx="613.92" cy="420.522" rx="150.206" ry="77.719"/>
			<ellipse fill="#459E3C" cx="273.856" cy="234.197" rx="114.866" ry="126.542"/>
			<ellipse fill="#459E3C" cx="368.624" cy="162.119" rx="115.195" ry="127.2"/>
			<ellipse fill="#459E3C" cx="557.058" cy="159.365" rx="110.569" ry="143.78"/>
			<ellipse fill="#459E3C" cx="624.081" cy="323.956" rx="130.58" ry="86.104"/>
			<ellipse fill="#459E3C" cx="440.87" cy="314.529" rx="122.351" ry="95.531"/>
			<ellipse fill="#459E3C" cx="488.905" cy="460.876" rx="79.746" ry="112.094"/>
			<ellipse fill="#459E3C" cx="423.506" cy="651.492" rx="74.583" ry="61.97"/>
			<ellipse fill="#459E3C" cx="270.033" cy="366.27" rx="118.689" ry="92.257"/>
			<ellipse fill="#459E3C" cx="516.182" cy="550.526" rx="52.469" ry="91.999"/>
			<ellipse fill="#459E3C" cx="572.313" cy="489.887" rx="70.751" ry="92.438"/>
			<ellipse fill="#459E3C" cx="333.091" cy="551.299" rx="181.747" ry="123.304"/>
		</g>
		<g>
			<path fill="#35322F" d="M690.801,328.713c0,0-2.315,5.832-7.569,15.787c-4.738,10.36-13.445,23.645-23.446,40.19
				c-5.275,8.045-11.501,16.37-17.862,25.44c-6.282,9.149-13.416,18.405-21.511,27.314c-7.931,9.134-16.128,18.574-24.459,28.164
				c-8.308,9.683-18.09,18.069-27.2,27.279c-9.204,9.189-18.408,18.379-27.466,27.425c-9.616,8.372-19.342,16.382-29.197,23.534
				c-9.998,6.942-19.885,13.346-29.725,18.621c-9.557,5.721-19.879,8.95-28.984,12.529c-36.793,13.883-63.587,16.662-63.587,16.662
				l-2.143-4.274c0,0,17.106-21.996,46.169-45.273c7.056-6.189,15.541-11.478,23.502-18.539c7.902-7.152,16.727-13.848,26.082-20.46
				c9.505-6.402,19.777-12.398,30.487-18.256c10.065-6.661,19.92-13.983,30.026-21.073c9.791-7.435,20.364-14.12,29.466-22.124
				c9.201-7.969,18.253-15.81,27.016-23.397c9.102-7.35,16.817-15.451,24.448-22.915c7.596-7.488,15.08-14.406,21.537-21.169
				c12.433-13.883,23.038-25.525,29.649-34.122c7.032-8.372,10.608-13.702,10.608-13.702L690.801,328.713z"/>
			<path fill="#34312E" d="M357.598,969.013c43.841,10.486,100.149,10.225,156.029,0c2.307-0.422-2.259-1.752-5.991-7.221
				c-17.738-25.99-68.76-135.922-68.76-540.611c0-136.926-17.111-138.135-50.154-235.147
				c-72.498-212.855-23.785,32.964-23.785,32.964s10.765,49.641,0,172.676c-24.79,283.342,57.764,425.935-2.618,566.93
				C360.833,962.074,353.856,968.118,357.598,969.013z"/>
			<path fill="#35322F" d="M484.956,626.741c0,0-0.8,9.543-2.003,23.858c-1.296,14.523-4.971,33.652-11.259,52.743
				c-3.401,9.44-6.615,19.415-12.479,27.793c-3.021,4.069-6.259,7.847-10.433,10.652c-3.582,3.182-7.914,5.351-12.053,6.915
				c-3.789,1.997-8.15,2.207-11.612,2.557c-3.462,0.517-6.48,0.012-8.938-0.893c-4.805-1.255-7.088-2.475-7.088-2.475l0.134-2.388
				c0,0,2.464-1.588,5.967-3.491c1.763-0.919,3.722-2.125,5.619-4.052c1.959-1.693,4.072-3.062,5.955-5.587
				c4.014-4.154,7.908-9.715,12.389-16.011c2.756-2.639,4.746-6.48,7.68-9.627c2.662-3.427,4.927-7.327,7.365-11.136
				c8.988-15.851,15.413-33.622,20.6-46.887c4.729-13.629,7.882-22.714,7.882-22.714L484.956,626.741z"/>
			<path fill="#35322F" d="M636.327,212.693c0,0-0.914,5.438-2.51,14.955c-1.641,9.516-3.544,23.146-7.616,39.288
				c-1.947,8.074-3.605,16.981-6.533,26.041c-2.834,9.084-5.254,18.881-9.003,28.593c-3.739,9.703-6.956,20.016-11.603,29.936
				c-4.259,10.088-8.825,20.235-14.006,30.093c-9.852,19.964-21.204,39.227-32.7,56.514c-11.498,17.275-23.578,32.341-32.034,46.096
				c-3.979,6.95-8.267,13.121-10.5,19.184c-2.96,5.87-4.037,11.376-5.438,15.906c-1.296,4.545-0.949,8.308-1.454,10.845
				c-0.292,2.572-0.447,3.944-0.447,3.944l-1.188,0.12c0,0-0.161-1.387-0.461-3.982c-0.126-2.592-1.051-6.527-0.625-11.463
				c0.461-4.927,0.8-11.139,3.176-17.693c1.711-6.822,4.951-13.945,8.69-21.561c7.788-15.098,18.569-31.208,29.947-48.344
				c11.714-16.908,23.981-34.968,34.592-54.068c5.479-9.458,10.36-19.225,14.943-28.964c4.971-9.566,8.536-19.57,12.616-28.99
				c4.128-9.414,6.775-19.012,10.115-27.831c3.392-8.825,5.482-17.474,7.844-25.361c4.898-15.717,7.558-29.296,9.706-38.693
				c2.111-9.414,3.316-14.797,3.316-14.797L636.327,212.693z"/>
			<path fill="#35322F" d="M105.143,274.715c0,0-0.718,2.061-2.067,5.923c-1.521,3.847-3.083,9.569-4.892,16.689
				c-3.223,14.435-5.827,35.993,0.555,60.04c6.235,24.021,21.28,49.386,42.065,73.016c20.752,23.782,46.645,46.096,73.556,68.372
				c13.539,11.075,26.976,22.728,39.323,36.054c10.874,11.866,21.969,21.914,34.224,31.906
				c24.15,19.535,50.635,35.759,70.742,55.367c10.15,9.56,18.309,20.253,23.697,30.651c5.357,10.48,7.692,20.501,8.673,28.54
				c1.01,8.077,0.75,14.35,0.283,18.566c-0.514,4.183-0.785,6.413-0.785,6.413h-3.588c0,0-0.995-8.903-6.086-22.457
				c-5.135-13.697-17.161-29.588-37.531-43.133c-20.218-13.799-47.739-26.663-76.137-45.918
				c-14.018-9.376-28.654-21.377-40.982-34.781c-11.431-12.179-23.044-24.55-34.653-36.921
				c-23.855-25.32-49.07-50.726-68.909-78.221c-19.949-27.227-34.443-57.069-37.919-84.66c-3.874-27.524,1.608-50.288,6.924-64.796
				c2.966-7.356,5.371-12.923,7.359-16.467c1.857-3.646,2.849-5.59,2.849-5.59L105.143,274.715z"/>
			<path fill="#35322F" d="M587.557,187.188c0,0-17.068,5.973-40.053,19.184c-11.379,6.586-24.564,14.657-35.794,25.516
				c-5.564,5.386-10.471,11.574-13.609,18.11c-3.103,6.997-4.025,12.252-4.396,20.084c-0.102,3.742-0.934,10.772-2.239,15.422
				c-1.206,5.079-3.013,9.837-5.03,14.339c-4.113,8.959-8.953,16.998-14.242,24.124c-10.503,14.298-21.782,25.607-31.208,35.164
				c-9.344,9.528-17.453,17.217-20.641,23.379c-3.576,6.11,0.455,9.081,0.257,9.122l-1.392,1.944
				c0.079-0.105-1.22-0.435-2.928-2.391c-1.877-1.889-2.872-6.32-1.693-10.643c2.111-8.743,8.217-18.814,15.731-30.096
				c7.473-11.306,16.598-23.925,24.451-37.803c3.839-6.962,7.569-14.105,10.112-21.488c1.252-3.684,2.283-7.38,3.001-11.014
				c0.803-4.031,0.92-5.955,1.065-11.163c-0.409-10.121,4.23-22.612,10.532-30.511c6.276-8.407,13.574-14.861,20.88-20.224
				c14.797-10.488,29.641-17.132,42.593-21.806c26.059-8.959,43.994-11.56,43.994-11.56L587.557,187.188z"/>
			<path fill="#35322F" d="M195.928,392.07c0,0,23.899,35.584,42.698,74.511c4.77,9.7,10.106,19.319,13.562,29.145
				c3.045,9.954,4.457,19.897,3.809,29.279c-0.403,4.784-1.136,9.33-3.558,14.003c-2.379,5.333-9.297,7.96-12.678,6.667
				c-6.425-2.023-7.257-5.205-7.613-4.892l0.981-2.183c-0.219-0.286,3.503,0.248,6.463-1.337c1.246-1.39,0.023-1.702-0.356-2.846
				c-0.68-2.251-1.445-4.79-2.277-7.558c-2.286-6.495-5.657-14.622-8.538-23.665c-2.528-9.178-4.542-19.514-7.584-29.574
				c-12.587-40.115-27.046-80.477-27.046-80.477L195.928,392.07z"/>
			<path fill="#35322F" d="M502.465,77.491c0,0,12.488,34.358,16.493,71.142c1.115,9.157,2.178,18.44,1.719,27.279
				c-0.42,8.804-2.534,17.004-4.998,23.765c-0.919,3.445-2.942,6.302-4.323,8.865c-1.322,2.598-2.764,4.697-4.402,6.174
				c-2.861,3.138-4.589,4.644-4.589,4.644l-0.952-0.724c0,0,0.625-2.362,1.883-5.999c1.258-3.602,2.402-9.008,3.205-15.384
				c1.042-6.358,1.375-13.918,1.743-22.071c0.817-8.103,1.194-16.986,1.171-25.893c-0.782-35.73-8.103-71.48-8.103-71.48
				L502.465,77.491z"/>
			<path fill="#35322F" d="M283.516,216.333c0,0-0.015-0.058-0.044-0.178l-0.012-0.047l-0.003-0.012l0.003,0.023l2.414-0.292
				l-0.009-0.082l0.026,0.111l0.073,0.307c0.114,0.464,0.286,1.156,0.508,2.058c0.467,1.801,1.15,4.446,2.02,7.809
				c1.789,6.714,4.452,16.28,7.943,27.647c7.219,22.647,16.642,52.871,29.22,81.476c6.218,14.327,13.857,27.866,20.737,40.287
				c6.527,12.634,12.57,24.185,18.461,33.649c11.352,19.074,24.293,28.984,24.293,28.984l-0.852,2.233c0,0-4.323,0.05-11.539-2.382
				c-7.327-2.163-17.062-7.698-26.523-16.496c-9.516-8.737-18.688-20.653-25.913-34.44c-6.918-13.991-11.814-29.72-16.607-45.2
				c-9.467-31.039-16.151-62.443-19.441-86.266c-1.766-11.881-2.975-21.8-3.745-28.75c-0.359-3.48-0.642-6.212-0.835-8.074
				c-0.085-0.934-0.152-1.652-0.196-2.134c-0.009-0.123-0.026-0.321-0.026-0.321l-0.012-0.137l-0.012-0.093l2.411-0.309v0.015
				l0.003,0.05c0.012,0.12,0.018,0.184,0.018,0.184L283.516,216.333z"/>
			<path fill="#35322F" d="M654.414,274.45c0,0-10.199,13.124-21.143,25.455c-2.633,3.194-5.149,6.51-7.826,9.28
				c-2.817,2.618-6.016,4.452-8.696,6.089c-5.605,3.018-10.331,3.967-10.331,3.967l-0.814-0.873c0,0,1.273-4.65,4.668-10.033
				c1.822-2.56,3.871-5.625,6.679-8.255c2.945-2.478,6.431-4.761,9.797-7.169c13.054-10.065,26.853-19.333,26.853-19.333
				L654.414,274.45z"/>
		</g>
		<g>
			<path fill="#FF6347" d="M632.57,340.977h-50.566c-10.663,0-19.308-8.644-19.308-19.308v-50.27
				c0-10.663,8.644-19.308,19.308-19.308h50.566c10.663,0,19.308,8.644,19.308,19.308v50.27
				C651.877,332.333,643.233,340.977,632.57,340.977z"/>
			<g>
				<path fill="#FFFFFF" d="M639.354,333.165l-1.469-3.783h-0.199c-1.278,1.61-2.593,2.726-3.945,3.348
					c-1.353,0.622-3.116,0.933-5.289,0.933c-2.672,0-4.775-0.763-6.31-2.29c-1.535-1.526-2.302-3.7-2.302-6.521
					c0-2.953,1.033-5.131,3.099-6.534c2.066-1.402,5.181-2.178,9.347-2.327l4.829-0.149v-1.22c0-2.821-1.443-4.231-4.331-4.231
					c-2.224,0-4.837,0.672-7.841,2.016l-2.514-5.127c3.202-1.676,6.754-2.514,10.653-2.514c3.734,0,6.596,0.813,8.587,2.44
					c1.991,1.626,2.987,4.099,2.987,7.417v18.544H639.354z M624.793,298.193c0-1.078,0.311-1.908,0.934-2.489
					c0.622-0.581,1.464-0.871,2.526-0.871c1.095,0,1.954,0.307,2.576,0.921c0.622,0.614,0.934,1.427,0.934,2.439
					c0,0.996-0.316,1.796-0.946,2.402c-0.631,0.606-1.485,0.909-2.564,0.909c-1.062,0-1.904-0.29-2.526-0.871
					C625.104,300.051,624.793,299.238,624.793,298.193z M637.114,320.271l-2.937,0.1c-2.207,0.066-3.85,0.465-4.929,1.195
					c-1.079,0.73-1.618,1.842-1.618,3.335c0,2.141,1.228,3.211,3.684,3.211c1.759,0,3.165-0.506,4.219-1.518
					c1.054-1.012,1.581-2.356,1.581-4.032V320.271z M634.824,298.193c0-1.161,0.336-2.012,1.008-2.551
					c0.672-0.539,1.506-0.809,2.501-0.809c1.079,0,1.938,0.299,2.576,0.896c0.639,0.597,0.958,1.419,0.958,2.464
					c0,1.012-0.324,1.817-0.971,2.414c-0.647,0.598-1.502,0.896-2.564,0.896c-0.995,0-1.829-0.27-2.501-0.809
					C635.16,300.155,634.824,299.321,634.824,298.193z"/>
			</g>
		</g>
		<g>
			<path fill="#FF6347" d="M533.046,123.216h-55.089c-11.617,0-21.035-9.417-21.035-21.035V47.415
				c0-11.617,9.417-21.035,21.035-21.035h55.089c11.617,0,21.035,9.417,21.035,21.035v54.766
				C554.081,113.798,544.663,123.216,533.046,123.216z"/>
			<g>
				<path fill="#FFFFFF" d="M540.437,114.705l-1.6-4.122h-0.217c-1.392,1.754-2.825,2.97-4.298,3.647
					c-1.474,0.678-3.394,1.017-5.763,1.017c-2.911,0-5.202-0.831-6.874-2.495c-1.672-1.663-2.508-4.031-2.508-7.105
					c0-3.218,1.126-5.59,3.376-7.118c2.251-1.528,5.645-2.373,10.183-2.535l5.261-0.163v-1.329c0-3.073-1.573-4.61-4.718-4.61
					c-2.423,0-5.27,0.732-8.542,2.197l-2.739-5.586c3.489-1.826,7.358-2.739,11.606-2.739c4.068,0,7.186,0.886,9.355,2.658
					c2.169,1.772,3.254,4.465,3.254,8.081v20.202H540.437z M524.574,76.605c0-1.175,0.339-2.078,1.017-2.712
					c0.678-0.633,1.595-0.949,2.752-0.949c1.193,0,2.129,0.335,2.807,1.003c0.678,0.669,1.017,1.555,1.017,2.657
					c0,1.085-0.344,1.957-1.031,2.617c-0.687,0.66-1.618,0.99-2.793,0.99c-1.157,0-2.075-0.316-2.752-0.949
					C524.913,78.63,524.574,77.744,524.574,76.605z M537.997,100.658l-3.2,0.108c-2.405,0.072-4.194,0.506-5.369,1.302
					s-1.762,2.006-1.762,3.633c0,2.332,1.337,3.498,4.013,3.498c1.916,0,3.448-0.552,4.596-1.654
					c1.148-1.102,1.722-2.567,1.722-4.393V100.658z M535.502,76.605c0-1.265,0.366-2.192,1.098-2.779
					c0.732-0.587,1.641-0.881,2.725-0.881c1.175,0,2.111,0.325,2.807,0.976c0.696,0.651,1.044,1.546,1.044,2.685
					c0,1.103-0.352,1.98-1.057,2.63c-0.705,0.651-1.636,0.976-2.793,0.976c-1.084,0-1.993-0.294-2.725-0.882
					C535.868,78.743,535.502,77.835,535.502,76.605z"/>
			</g>
		</g>
		<g>
			<path fill="#FF6347" d="M700.666,509.771h-23.888c-5.037,0-9.121-4.084-9.121-9.121v-23.748c0-5.037,4.084-9.121,9.121-9.121
				h23.888c5.037,0,9.121,4.084,9.121,9.121v23.748C709.787,505.687,705.703,509.771,700.666,509.771z"/>
			<g>
				<path fill="#FFFFFF" d="M703.871,506.08l-0.694-1.787h-0.094c-0.604,0.76-1.225,1.288-1.864,1.582
					c-0.639,0.294-1.472,0.441-2.499,0.441c-1.262,0-2.256-0.36-2.981-1.082c-0.725-0.721-1.088-1.748-1.088-3.081
					c0-1.395,0.488-2.424,1.464-3.087c0.976-0.662,2.448-1.029,4.415-1.099l2.281-0.071v-0.576c0-1.333-0.682-1.999-2.046-1.999
					c-1.051,0-2.285,0.317-3.704,0.952l-1.188-2.422c1.513-0.792,3.191-1.188,5.033-1.188c1.764,0,3.116,0.384,4.057,1.152
					c0.941,0.768,1.411,1.936,1.411,3.504v8.76H703.871z M696.992,489.559c0-0.509,0.147-0.901,0.441-1.176
					c0.294-0.274,0.692-0.411,1.193-0.411c0.517,0,0.923,0.145,1.217,0.435c0.294,0.29,0.441,0.674,0.441,1.152
					c0,0.47-0.149,0.849-0.447,1.135c-0.298,0.286-0.702,0.429-1.211,0.429c-0.502,0-0.9-0.137-1.193-0.412
					C697.139,490.437,696.992,490.053,696.992,489.559z M702.812,499.989l-1.387,0.047c-1.043,0.031-1.819,0.22-2.328,0.564
					c-0.51,0.345-0.764,0.87-0.764,1.576c0,1.011,0.58,1.517,1.74,1.517c0.831,0,1.495-0.239,1.993-0.717
					c0.498-0.478,0.747-1.113,0.747-1.905V499.989z M701.731,489.559c0-0.549,0.159-0.95,0.476-1.205
					c0.318-0.255,0.711-0.382,1.182-0.382c0.51,0,0.915,0.141,1.217,0.423c0.302,0.282,0.453,0.67,0.453,1.164
					c0,0.478-0.153,0.858-0.458,1.141c-0.306,0.282-0.71,0.423-1.211,0.423c-0.47,0-0.864-0.127-1.182-0.382
					C701.889,490.486,701.731,490.093,701.731,489.559z"/>
			</g>
		</g>
		<g>
			<path fill="#FF6347" d="M222.289,411.817h-22.265c-4.695,0-8.501-3.806-8.501-8.501v-22.134c0-4.695,3.806-8.501,8.501-8.501
				h22.265c4.695,0,8.501,3.806,8.501,8.501v22.134C230.791,408.011,226.985,411.817,222.289,411.817z"/>
			<g>
				<path fill="#FFFFFF" d="M225.277,408.377l-0.647-1.666h-0.088c-0.563,0.709-1.142,1.2-1.737,1.474
					c-0.596,0.274-1.372,0.411-2.329,0.411c-1.177,0-2.103-0.336-2.778-1.008c-0.676-0.672-1.014-1.629-1.014-2.871
					c0-1.3,0.455-2.259,1.364-2.877c0.91-0.617,2.281-0.959,4.115-1.025l2.126-0.066v-0.537c0-1.242-0.636-1.863-1.907-1.863
					c-0.979,0-2.13,0.296-3.452,0.888l-1.107-2.258c1.41-0.738,2.974-1.107,4.691-1.107c1.644,0,2.904,0.358,3.781,1.074
					c0.877,0.716,1.315,1.805,1.315,3.266v8.165H225.277z M218.865,392.978c0-0.475,0.137-0.84,0.411-1.096
					c0.274-0.256,0.645-0.384,1.112-0.384c0.482,0,0.86,0.135,1.134,0.405c0.274,0.27,0.411,0.629,0.411,1.074
					c0,0.438-0.139,0.791-0.417,1.058c-0.278,0.267-0.654,0.4-1.129,0.4c-0.468,0-0.838-0.128-1.112-0.384
					C219.002,393.797,218.865,393.439,218.865,392.978z M224.29,402.7l-1.293,0.044c-0.972,0.029-1.695,0.205-2.17,0.526
					s-0.712,0.811-0.712,1.469c0,0.943,0.541,1.414,1.622,1.414c0.774,0,1.394-0.223,1.858-0.669
					c0.464-0.446,0.696-1.037,0.696-1.775V402.7z M223.282,392.978c0-0.511,0.148-0.886,0.444-1.123
					c0.296-0.237,0.663-0.356,1.101-0.356c0.475,0,0.853,0.132,1.134,0.395c0.281,0.263,0.422,0.625,0.422,1.085
					c0,0.446-0.142,0.8-0.427,1.063c-0.285,0.263-0.661,0.395-1.129,0.395c-0.438,0-0.805-0.119-1.101-0.356
					C223.43,393.843,223.282,393.475,223.282,392.978z"/>
			</g>
		</g>
		<g>
			<path fill="#FF6347" d="M303.944,279.566h-45.4c-9.574,0-17.335-7.761-17.335-17.335v-45.134c0-9.574,7.761-17.335,17.335-17.335
				h45.4c9.574,0,17.335,7.761,17.335,17.335v45.134C321.279,271.805,313.518,279.566,303.944,279.566z"/>
			<g>
				<path fill="#FFFFFF" d="M310.035,272.552l-1.319-3.397h-0.179c-1.147,1.445-2.328,2.447-3.542,3.006
					c-1.215,0.559-2.797,0.838-4.749,0.838c-2.399,0-4.287-0.685-5.665-2.056c-1.378-1.37-2.067-3.322-2.067-5.855
					c0-2.652,0.928-4.607,2.782-5.866c1.855-1.259,4.652-1.955,8.392-2.09l4.335-0.134v-1.095c0-2.533-1.296-3.799-3.889-3.799
					c-1.997,0-4.343,0.603-7.04,1.81l-2.257-4.604c2.875-1.505,6.064-2.257,9.565-2.257c3.352,0,5.922,0.73,7.71,2.19
					c1.788,1.46,2.682,3.68,2.682,6.66v16.649H310.035z M296.961,241.153c0-0.968,0.28-1.713,0.838-2.235
					c0.559-0.521,1.315-0.782,2.268-0.782c0.983,0,1.754,0.276,2.313,0.827c0.559,0.552,0.838,1.282,0.838,2.19
					c0,0.894-0.283,1.613-0.849,2.157c-0.567,0.544-1.333,0.816-2.302,0.816c-0.954,0-1.71-0.261-2.268-0.782
					C297.241,242.821,296.961,242.091,296.961,241.153z M308.024,260.975l-2.637,0.089c-1.982,0.06-3.457,0.417-4.425,1.073
					c-0.968,0.656-1.452,1.654-1.452,2.994c0,1.922,1.102,2.883,3.308,2.883c1.579,0,2.842-0.455,3.788-1.363
					c0.946-0.909,1.419-2.115,1.419-3.62V260.975z M305.968,241.153c0-1.043,0.302-1.806,0.905-2.291
					c0.604-0.484,1.352-0.726,2.246-0.726c0.968,0,1.74,0.268,2.313,0.804c0.573,0.536,0.86,1.274,0.86,2.212
					c0,0.909-0.29,1.631-0.871,2.168c-0.581,0.537-1.349,0.805-2.302,0.805c-0.894,0-1.642-0.242-2.246-0.726
					C306.269,242.915,305.968,242.166,305.968,241.153z"/>
			</g>
		</g>
		<g>
			<path fill="#FF6347" d="M114.436,335.006H54.698c-12.598,0-22.81-10.212-22.81-22.81v-59.388c0-12.598,10.212-22.81,22.81-22.81
				h59.738c12.598,0,22.81,10.212,22.81,22.81v59.388C137.246,324.793,127.034,335.006,114.436,335.006z"/>
			<g>
				<path fill="#FFFFFF" d="M122.451,325.776l-1.735-4.47h-0.235c-1.51,1.902-3.063,3.22-4.66,3.955
					c-1.598,0.735-3.681,1.103-6.249,1.103c-3.157,0-5.642-0.901-7.454-2.705c-1.814-1.803-2.72-4.371-2.72-7.704
					c0-3.489,1.221-6.062,3.661-7.719c2.441-1.657,6.121-2.573,11.042-2.749l5.705-0.176v-1.441c0-3.332-1.705-4.999-5.117-4.999
					c-2.627,0-5.715,0.794-9.263,2.382l-2.97-6.057c3.783-1.98,7.979-2.97,12.586-2.97c4.411,0,7.793,0.961,10.145,2.882
					c2.352,1.921,3.529,4.842,3.529,8.763v21.907H122.451z M105.249,284.461c0-1.274,0.368-2.254,1.103-2.941
					c0.735-0.686,1.73-1.029,2.985-1.029c1.294,0,2.308,0.363,3.043,1.088c0.735,0.726,1.103,1.686,1.103,2.882
					c0,1.176-0.373,2.122-1.118,2.838c-0.745,0.716-1.754,1.074-3.029,1.074c-1.255,0-2.25-0.343-2.985-1.029
					C105.617,286.657,105.249,285.696,105.249,284.461z M119.805,310.544l-3.47,0.118c-2.608,0.079-4.548,0.549-5.823,1.412
					c-1.274,0.863-1.911,2.176-1.911,3.94c0,2.529,1.45,3.794,4.352,3.794c2.077,0,3.739-0.598,4.984-1.794
					c1.245-1.195,1.867-2.783,1.867-4.764V310.544z M117.1,284.461c0-1.372,0.397-2.377,1.191-3.014
					c0.794-0.637,1.779-0.956,2.955-0.956c1.274,0,2.289,0.353,3.044,1.058c0.754,0.706,1.132,1.676,1.132,2.911
					c0,1.196-0.382,2.147-1.147,2.852c-0.764,0.706-1.774,1.059-3.029,1.059c-1.176,0-2.161-0.318-2.955-0.956
					C117.497,286.779,117.1,285.794,117.1,284.461z"/>
			</g>
		</g>
		<g>
			<path fill="#FF6347" d="M505.383,666.767h-40.044c-8.445,0-15.29-6.846-15.29-15.29v-39.81c0-8.445,6.846-15.29,15.29-15.29
				h40.044c8.445,0,15.29,6.846,15.29,15.29v39.81C520.673,659.921,513.827,666.767,505.383,666.767z"/>
			<g>
				<path fill="#FFFFFF" d="M510.755,660.58l-1.163-2.996h-0.158c-1.012,1.275-2.053,2.159-3.124,2.651
					c-1.072,0.493-2.467,0.739-4.189,0.739c-2.116,0-3.782-0.604-4.997-1.813c-1.216-1.209-1.823-2.93-1.823-5.164
					c0-2.339,0.818-4.064,2.454-5.174c1.636-1.11,4.103-1.725,7.402-1.843l3.824-0.118v-0.966c0-2.234-1.143-3.351-3.43-3.351
					c-1.761,0-3.831,0.532-6.209,1.597l-1.991-4.06c2.536-1.327,5.349-1.991,8.437-1.991c2.957,0,5.224,0.644,6.801,1.932
					c1.577,1.288,2.366,3.246,2.366,5.874v14.685H510.755z M499.224,632.885c0-0.854,0.247-1.511,0.739-1.971
					c0.493-0.46,1.159-0.69,2.001-0.69c0.867,0,1.547,0.243,2.04,0.729c0.493,0.487,0.739,1.13,0.739,1.932
					c0,0.789-0.25,1.423-0.749,1.902c-0.5,0.48-1.176,0.72-2.03,0.72c-0.841,0-1.508-0.23-2.001-0.69
					C499.471,634.357,499.224,633.713,499.224,632.885z M508.981,650.37l-2.326,0.079c-1.748,0.053-3.049,0.368-3.903,0.946
					c-0.854,0.578-1.281,1.458-1.281,2.641c0,1.695,0.972,2.543,2.917,2.543c1.393,0,2.506-0.401,3.341-1.203
					c0.834-0.801,1.252-1.866,1.252-3.193V650.37z M507.168,632.885c0-0.92,0.266-1.593,0.798-2.02
					c0.532-0.427,1.193-0.641,1.981-0.641c0.854,0,1.534,0.236,2.04,0.709c0.506,0.473,0.759,1.124,0.759,1.951
					c0,0.802-0.256,1.439-0.769,1.912c-0.512,0.473-1.19,0.71-2.03,0.71c-0.788,0-1.449-0.213-1.981-0.641
					C507.434,634.44,507.168,633.779,507.168,632.885z"/>
			</g>
		</g>
		<g>
			<path fill="#FF6347" d="M231.961,685.563h-41.952c-8.847,0-16.019-7.172-16.019-16.019v-41.706
				c0-8.847,7.172-16.019,16.019-16.019h41.952c8.847,0,16.019,7.172,16.019,16.019v41.706
				C247.979,678.392,240.807,685.563,231.961,685.563z"/>
			<g>
				<path fill="#FFFFFF" d="M237.589,679.082l-1.218-3.139h-0.165c-1.06,1.336-2.151,2.261-3.273,2.778
					c-1.123,0.516-2.585,0.774-4.388,0.774c-2.217,0-3.962-0.633-5.235-1.9c-1.274-1.266-1.91-3.07-1.91-5.41
					c0-2.45,0.857-4.257,2.571-5.421c1.714-1.163,4.299-1.807,7.754-1.931l4.006-0.124v-1.012c0-2.34-1.198-3.511-3.593-3.511
					c-1.845,0-4.013,0.557-6.505,1.673l-2.086-4.254c2.657-1.39,5.603-2.086,8.838-2.086c3.098,0,5.473,0.675,7.124,2.024
					c1.652,1.349,2.478,3.401,2.478,6.154v15.385H237.589z M225.509,650.068c0-0.895,0.258-1.583,0.775-2.065
					c0.516-0.482,1.215-0.723,2.096-0.723c0.908,0,1.621,0.255,2.137,0.764c0.516,0.51,0.775,1.184,0.775,2.024
					c0,0.826-0.262,1.49-0.785,1.993c-0.523,0.503-1.232,0.754-2.127,0.754c-0.881,0-1.58-0.241-2.096-0.723
					C225.767,651.61,225.509,650.935,225.509,650.068z M235.731,668.385l-2.437,0.083c-1.831,0.055-3.194,0.385-4.089,0.991
					s-1.342,1.528-1.342,2.767c0,1.776,1.019,2.664,3.056,2.664c1.459,0,2.626-0.42,3.5-1.26c0.874-0.839,1.311-1.955,1.311-3.345
					V668.385z M233.831,650.068c0-0.963,0.279-1.669,0.836-2.117c0.558-0.447,1.249-0.671,2.075-0.671
					c0.895,0,1.607,0.248,2.138,0.743c0.53,0.496,0.795,1.177,0.795,2.044c0,0.84-0.268,1.508-0.805,2.003
					c-0.537,0.496-1.246,0.744-2.127,0.744c-0.826,0-1.518-0.224-2.075-0.671C234.11,651.696,233.831,651.004,233.831,650.068z"/>
			</g>
		</g>
	</g>
</g>
</svg>
        </div>
        <a class="download-button" ng-click="go()"><i class="ion-android-download"></i>Update Präpp</a>
        <!--<a class="download-button" href="http://mmlc.northwestern.edu/praepp/" target="_blank"><i class="ion-android-download"></i>Update Präpp</a>-->
    </ion-content>
</ion-view>
