<ion-view title="Learn Cases">
    <ion-nav-buttons side="left">
        <!--<a href="#/praps/flashcards" class="button button-icon icon ion-ios-arrow-back"></a>-->
        <button class="button button-icon button-clear"
                onclick="location.href='#/praps/flashcards'">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header" id="flashcards-cases" scroll="true">
        <!--<p class="learn-your-lessons" ng-show="isLearningErrors">These are präps you didn't get right:</p>-->
        <!--<p class="all-flashcards" ng-hide="1">Here's the list of rules for you to learn and get ready for our games.</p>-->
        <!--<ul class="controls" ng-show="!isLearningErrors">-->
            <!--<li class="sort control mixer" data-sort="random"><i class="ion-flash"></i></li>-->
            <!--<li class="filter control eng" data-filter=".eng-true"><i class="ion-earth"></i></li>-->
            <!--<li class="filter control akk" data-filter=".akk">AKK</li>-->
            <!--<li class="filter control dat" data-filter=".dat">DAT</li>-->
            <!--<li class="filter control all" data-filter="all">ALL</li>-->
            <!--<br />-->
            <!--<li class="filter control" data-filter=".an">an</li>-->
            <!--<li class="filter control" data-filter=".auf">auf</li>-->
            <!--<li class="filter control" data-filter=".aus">aus</li>-->
            <!--<li class="filter control" data-filter=".für">für</li>-->
            <!--<li class="filter control" data-filter=".in">in</li>-->
            <!--<li class="filter control" data-filter=".mit">mit</li>-->
            <!--<li class="filter control" data-filter=".nach">nach</li>-->
            <!--<li class="filter control" data-filter=".über">über</li>-->
            <!--<li class="filter control" data-filter=".um">um</li>-->
            <!--<li class="filter control" data-filter=".von">von</li>-->
            <!--<li class="filter control" data-filter=".vor">vor</li>-->
            <!--<li class="filter control" data-filter=".zu">zu</li>-->
        <!--</ul>-->
        <!--<ul class="flashcards-list loading-cards" id="cards-container">-->
            <!--<ion-spinner class="spinning"></ion-spinner>-->
            <!--<li ng-repeat="(key, card) in flashcards" class="mix {{ card.preposition }} eng-{{ card.isTheSameInEnglish }} {{ card.case }}">-->
                <!--<div class="side-de {{ card.case }}">-->
                    <!--<span class="num">{{ key + 1 }}</span>-->
                    <!--<p class="as-in-english-{{ card.isTheSameInEnglish }}" ng-sholw="card.isTheSameInEnglish"><i class="ion-earth"></i></p>-->
                    <!--<p class="formula">{{ card.formula }}</p>-->
                    <!--<p class="example">{{ card.exampleClean }}</p>-->
                <!--</div>-->
                <!--<div class="side-en">-->
                    <!--<span class="num">{{ key + 1 }}</span>-->
                    <!--<p class="translation"> {{ card.translation }}</p>-->
                    <!--<p class="example-translation">{{ card.exampleTranslation }}</p>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
        <!--<section class="bottom">-->
            <!--&lt;!&ndash;<div class="praps-ok-button" ng-click="goToDashboard()"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="praps-ok-button" href="#/praps/dashboard"></a>&ndash;&gt;-->
            <!--<a class="praps-ok-button" href="#/praps/flashcards"></a>-->
        <!--</section>-->
        Cases flashcards
        <p ng-show="qqq">Test.</p>
    </ion-content>
</ion-view>