<ion-view title="Learn Prepositions">
    <ion-nav-buttons side="left">
        <a href="#/praps/flashcards" class="button button-icon icon ion-ios-arrow-back"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-ios-settings" ng-click="openModal()" ng-hide="isLearningErrors"></a>
    </ion-nav-buttons>

    <ion-content id="flashcards-regular" scroll="true">
        <p class="learn-your-lessons">These are prepositions you didn't get right:</p>
        <!--<p class="all-flashcards" ng-hide="1">Here's the list of rules for you to learn and get ready for our games.</p>-->
        <ul class="controls">
            <p class="active-filters">Active filters</p>
            <!--<li class="sort control mixer" data-sort="random"><i class="ion-flash"></i></li>-->
            <li class="filter control eng" ng-show="isActive({type: 'isTheSameInEnglish', text: 'yes'})"><i class="ion-earth"></i></li>
            <li class="filter control ger" ng-show="isActive({type: 'isTheSameInEnglish', text: 'no'})"><i class="ion-ios-star"></i></li>
            <li class="filter control akk" ng-show="isActive({type: 'case', text: 'akk'})">AKK</li>
            <li class="filter control dat" ng-show="isActive({type: 'case', text: 'dat'})">DAT</li>
            <!--<li class="filter control all" ng-show="true">ALL</li>-->
            <!--<br />-->
            <li class="filter control" ng-show="isActive({type: 'preposition', text: 'an'})">an</li>
            <li class="filter control" ng-show="isActive({type: 'preposition', text: 'auf'})">auf</li>
            <li class="filter control" ng-show="isActive({type: 'preposition', text: 'aus'})">aus</li>
            <li class="filter control" ng-show="isActive({type: 'preposition', text: 'für'})">für</li>
            <li class="filter control" ng-show="isActive({type: 'preposition', text: 'in'})">in</li>
            <li class="filter control" ng-show="isActive({type: 'preposition', text: 'mit'})">mit</li>
            <li class="filter control" ng-show="isActive({type: 'preposition', text: 'nach'})">nach</li>
            <li class="filter control" ng-show="isActive({type: 'preposition', text: 'über'})">über</li>
            <li class="filter control" ng-show="isActive({type: 'preposition', text: 'um'})">um</li>
            <li class="filter control" ng-show="isActive({type: 'preposition', text: 'von'})">von</li>
            <li class="filter control" ng-show="isActive({type: 'preposition', text: 'vor'})">vor</li>
            <li class="filter control" ng-show="isActive({type: 'preposition', text: 'zu'})">zu</li>
        </ul>
        <!--<input type="search" placeholder="Search" ng-model="filter.preposition">-->
        <div class="flashcards-list loading-cards" id="cards-container">
            <!--<li ng-repeat="(key, card) in flashcards" class="mix {{ card.preposition }} eng-{{ card.isTheSameInEnglish }} {{ card.case }}">-->
                <!--<div class="side-de {{ card.case }}">-->
                    <!--<span class="num">{{ key + 1 }}</span>-->
                    <!--<p class="as-in-english-{{ card.isTheSameInEnglish }}" ng-show="card.isTheSameInEnglish"><i class="ion-earth"></i></p>-->
                    <!--<p class="formula">{{ card.formula }}</p>-->
                    <!--<p class="example">{{ card.exampleClean }}</p>-->
                <!--</div>-->
                <!--<div class="side-en">-->
                    <!--<span class="num">{{ key + 1 }}</span>-->
                    <!--<p class="translation"> {{ card.translation }}</p>-->
                    <!--<p class="example-translation">{{ card.exampleTranslation }}</p>-->
                <!--</div>-->
            <!--</li>-->

            <div collection-repeat="card in flashcards | filter:flashCardsFilter" item-height="200px" item-width="100%" class="mix {{ card.preposition }} eng-{{ card.isTheSameInEnglish }} {{ card.case }}">
                <div class="side-de {{ card.case }}">
                <span class="num">{{ $index + 1 }}</span>
                <p class="as-in-english-{{ card.isTheSameInEnglish }}" ng-show="card.isTheSameInEnglish"><i class="ion-earth"></i></p>
                <p class="formula">{{ card.formula }}</p>
                <p class="example">{{ card.exampleClean }}</p>
                </div>
                <div class="side-en">
                <span class="num">{{ $index + 1 }}</span>
                <p class="translation"> {{ card.translation }}</p>
                <p class="example-translation">{{ card.exampleTranslation }}</p>
                </div>
            </div>
        </div>
        <!--<section class="bottom">-->
            <!--&lt;!&ndash;<div class="praps-ok-button" ng-click="goToDashboard()"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="praps-ok-button" href="#/praps/dashboard"></a>&ndash;&gt;-->
            <!--<a class="praps-ok-button" href="#/praps/flashcards"></a>-->
        <!--</section>-->
    </ion-content>
</ion-view>