<div class="modal" ng-controller="RegularFlashcardsModalCtrl" id="regular-flashcards-modal">
    <ion-header-bar>
        <h1 class="title">Filter the deck</h1>
    </ion-header-bar>
    <ion-content scroll="false">
        <section class="content">
            <div class="options">
                <ion-checkbox ng-repeat="item in filters" ng-model="item.checked" ng-checked="item.checked" ng-change="applyFilter(filters)">
                    {{ item.t }}
                </ion-checkbox>
            </div>
            <div class="praps-ok-button ok" ng-click="closeModal()"></div>
        </section>
    </ion-content>
</div>