<div class="modal" ng-controller="SettingsModalCtrl" id="settings-modal">
    <ion-header-bar>
        <h1 class="title">You sure?</h1>
    </ion-header-bar>
    <ion-content scroll="false">
        <section class="content">
            <div class="praps-ok-button yes" ng-click="resetLocalData()"></div>
            <div class="praps-ok-button no" ng-click="closeModal()"></div>
        </section>
    </ion-content>
</div>