<body id="matrix" ui-view>
    <a id="pause-button" href="#/praps/dashboard">
        <i class="ion-close"></i>
    </a>
    <div id="bar">
        <span id="score-holder">0</span>
        <ul class="lives">
            <li class="live live-{{ $index + 1 }} ion-heart" ng-repeat="i in getNumber(deckLength) track by $index"></li>
        </ul>
    </div>
    <div id="card-wrap">
        <span id="time-holder"><span id="time-holder-content"></span></span>
        <span id="card">
            <span class="same-as" id="same-as-in-english-true">
                <i class="ion-earth"></i>
            </span>
            <span class="same-as" id="same-as-in-english-false">
                <svg class="svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="43 133 503 336" enable-background="new 43 133 503 336" xml:space="preserve">
                <path fill="#F9C80E" d="M48.8,352.7h490.7v59.6c0,25.2-20.4,45.6-45.6,45.6H94.4c-25.2,0-45.6-20.4-45.6-45.6V352.7L48.8,352.7z"/>
                <path fill="#231F20" d="M48.8,247.3h490.7v-59.6c0-25.2-20.4-45.6-45.6-45.6H94.4c-25.2,0-45.6,20.4-45.6,45.6V247.3L48.8,247.3z"/>
                <polygon fill="#EC1C24" points="48.8,247.3 48.8,352.7 539.5,352.7 539.5,247.3 "/>
                </svg>
            </span>
            <span id="word"></span>
            <span id="translation"></span>
            <span id="case"></span>
        </span>
    </div>
    <div id="game-zone"></div>
    <div id="game-over-fail" class="matrix">
        <div id="game-over-fail-box">
            <p class="header">Uh-oh</p>
            <!--<object type="image/svg+xml" data="img/scull.svg" class="scull"></object>-->
            <img src="img/scull.svg" class="scull" />
            <p class="message">
                Präps are tough, we know. Maybe next time you'll be more careful.
            </p>
            <a href="#/praps/flashcards" class="praps-learn-button">Learn my lessons</a>
        </div>
        <p class="praps-ok-button"></p>
    </div>
    <div id="game-over-result" class="matrix">
        <div id="game-over-result-box">
            <p class="header">Well done!</p>
            <p class="message">
                Achievement text depending on the score. Maybe link to theory section, maybe link to theory section.
            </p>
            <p class="score">
                <span class="the-score">920</span><br><span class="out-of">out of <span class="max-possible-score"></span></span>
                <object type="image/svg+xml" data="img/flag.svg" class="flag right"></object>
                <object type="image/svg+xml" data="img/flag.svg" class="flag left"></object>
            </p>
        </div>
        <p class="praps-ok-button"></p>
    </div>
    <div id="pain"></div>
    <script>
        PRAPS.G.MATRIX.initializeTheGameInstance();
    </script>
</body>
