<body ui-view>
    <div id="shooter-wrap">
        <div class="exit-button"><i class="ion-close"></i></div>
        <div id="shooter">
            <canvas id="gameplay"></canvas>
        </div>
        <div id="game-over-result">
            <div id="game-over-result-box">
                <p class="header">Well done!</p>
                <p class="message">
                    Achievement text depending on the score. Maybe link to theory section, maybe link to theory section.
                </p>
                <p class="score">
                    <span class="the-score">920</span><br><span class="out-of">out of <span class="max-possible-score"></span></span>
                    <object type="image/svg+xml" data="img/flag.svg" class="flag right"></object>
                    <object type="image/svg+xml" data="img/flag.svg" class="flag left"></object>
                </p>
                <a href="#/praps/flashcards" class="praps-learn-button">Learn my lessons</a>
            </div>
            <p class="praps-ok-button"></p>
        </div>
    </div>
<script>
    PRAPS.G.SHOOTER.init();
    //window.addEventListener('load', PRAPS.G.TETRIS.init, false);
    //window.addEventListener('resize', PRAPS.G.TETRIS.resize, false);
</script>
</body>