<body ui-view>
    <div id="tetris">
        <canvas></canvas>
    </div>
    <script>
        console.log('tetris!');
        PRAPS.G.TETRIS.init();
        PRAPS.G.TETRIS.resize();
    </script>
</body>