#credits{
  background: #333333;
  color: #ffffff;
  text-align: center;
  .praps-logo{
    margin: 0px 0 0px 0;
    height: 80px;
    @include breakpoint(three-inches) {
      height: 70px;
    }
    }
  .app-version {
    display: block;
    font-size: 9px;
    color: rgba(255, 255, 255, .5);
  }
  .content{
    //background: #145fd7;
    margin: 50px auto 15px auto;
    @include breakpoint(three-inches) {
      margin-top: 35px;
    }
    width: 90%;
    padding: 0;
    .text{
      .praps{
        font-family: $praps-head-font;
        font-weight: 700;
      }
      font-family: $praps-paragraph-font;
      font-weight: 100;
      font-size: 1.50em;
      @include breakpoint(three-inches) {
        font-size: 1.35em;
      }
      line-height: 130%;
      margin: 30px 0 35px 0;
      @include breakpoint(three-inches) {
        margin: 25px 0 35px 0;
      }
        .mmlc, .nu{
          //color: $praps-purple;
          //display: block;
          //background: tomato;
        }
        .mmlc{
          //color: $praps-yellow;
          //display: block;
          font-weight: 100;
          font-size: .45em;
          line-height: 80%;
          .mmlc-logo{
            max-height: 30px;
            margin-top: 45px;
          }
        }
        .nu{
          //font-style: italic;
          //margin-top: 30px;
          //color: $praps-purple;
          //font-weight: 100;
          //font-size: .75em;
          //display: block;
        }
      }
    //.mmlc{img{width: 60px;}}
    //.people{
    //  font-size: .85em;
    //  font-family: $praps-head-font;
    //  .person{
    //    width: 49%;
    //    display: inline-block;
    //    margin-bottom: 20px;
    //    @include breakpoint(three-inches) {
    //      margin-bottom: 10px;
    //    }
    //      span{
    //      //display: block;
    //      display: inline-block;
    //    }
    //    .dot{
    //      width: 7px;
    //      height: 7px;
    //      margin: 0 auto 3px auto;
    //      border-radius: 50%;
    //      &.one{background: $praps-yellow}
    //      &.two{background: $praps-orange}
    //      &.three{background: $praps-green}
    //      &.four{background: $praps-purple}
    //    }
    //    .name{
    //      margin-bottom: 0px;
    //      font-weight: 700;
    //    }
    //    .role{
    //      font-family: $praps-paragraph-font;
    //      font-weight: 100;
    //    }
    //  }
    //}

  }

  .praps-ok-button{
    @include praps-ok-button(60px, 2.0em);
    margin: 10px 0 0 0;
    @include breakpoint(three-inches) {
      margin-top: 0px;
    }
  }
}