#dashboard{
  display: none;
  //opacity: 0;
  //$borders: 1px solid #d5d5d5;
  $borders: 1px dashed #d5d5d5;
  -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
  //position: relative;
  height: 100%;
  .praps-dashboard{
    background: #fff;
    //background: rgba(210, 180, 140, 0.10);
    //background: url("../img/prapos-bg@2x.png") 50% 0%;
    //background-size: 320px 548px;
    font-family: $praps-paragraph-font;
    font-weight: 100;
    color: #111111;
    font-size: 1.3em;
    //padding: 20px 0px;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    display: inline-block;
    top: 0;
    bottom: 0;
    text-align: center;
    @include breakpoint(three-inches) {
      font-size: 1.1em;
    }
      #one, #two, #three, #four {
      //background: #ffffff;
        @include breakpoint(three-inches) {
          width: 49.3vw;
        }
    }
    #one, #two{
      width: 49.2vw; // todo: refactor to 50% and floats
      margin: 0;
      padding: 0;
      display: inline-block;
      span{
        display: block;
      }
      .upper, .lower{
        margin: 15px 0;
        @include breakpoint(three-inches) {
          margin: 10px 0;
        }
        }
      .circle{
        $size: 80px;
        width: $size;
        height: $size;
        border-radius: 50%;
        display: inline-block;
        line-height: $size;
        font-family: $praps-head-font;
        font-weight: 700;
        color: #ffffff;
        font-size: 2.5em; // Will be calculated and changed dynamically
        cursor: pointer;
        @include breakpoint(three-inches) {
          width: 70px;
          height: 70px;
          line-height: 70px;
          font-size: 2.3em;
        }
        }
      #two{
        float: right;
      }
    }
    #data-load-status-bar{
      //display: none;
      opacity: 0;
      //background: $praps-purple;
      //background: #3f3c3b;
      background: #444;
      color: #fff;
      //display: block;
      //height: 20px;
      //margin: -20px 0 0px 0;
      margin: 0;
      padding: 4px 0 2px 0;
      //font-family: $praps-head-font;
      font-family: $praps-paragraph-font;
      font-size: 10px;
      font-weight: 300;
      &.yes{
        //background: $praps-green;
        //background: #78BA52;
        //background: #666666;
        .icon{
          color: $praps-green;
        }
      }
      &.no{
        //background: $praps-yellow;
        //background: #666666;
        .icon{
          color: $praps-yellow
        }
      }
      .spinner{
        stroke: #fff;
        svg {
          width: 14px;
          height: 14px;
        }
      }
      .icon{
        font-size: 20px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        padding: 0 0px 0 0;
        display: inline-block;
        text-align: center;
      }
      .message{
        font-size: 13px;
        position: relative;
        top: -2px;
        padding: 0px 6px 0 6px;
      }
    }
    .top-row-wrap{
      border-bottom: $borders;
      //border-top: $borders;
      #one{
        .circle{
          background: $praps-yellow;
          box-shadow: 0px 4px 0 $praps-yellow-dark;
          &:active{
            position: relative;
            top: 2px;
            box-shadow: none;
          }
        }
        border-right: $borders;
      }
      #two{
        .circle{
          background: $praps-orange;
          box-shadow: 0px 4px 0 $praps-orange-dark;
          &:active{
            position: relative;
            top: 2px;
            box-shadow: none;
          }
        }
      }
    }

    #three, #four{
      width: 49.2vw; // todo: refactor to 50% and floats
      display: inline-block;
      padding-top: 16px;
      @include breakpoint(three-inches) {
        padding-top: 13px;
      }
      }

    #three{
      //margin: 16px 0 20px 0;
      //background: #eee;
      //width: 100%;
      //border-bottom: $borders;
      border-right: $borders;
      span{
        display: block;
      }
      .triangle{
        svg{
          height: 110px;
          @include breakpoint(three-inches) {
            height: 90px;
          }
            .grey{}
        }
        position: relative;
        .percent{
          position: absolute;
          color: #ffffff;
          bottom: 15px;
          left: 0;
          right: 0;
          font-family: $praps-head-font;
          font-weight: 700;
          font-size: 12px;
        }
      }
      .lower{
        margin: 5px 0 20px 0;
      }
    }

    #four{
      //margin: 16px 0 20px 0;
      //background: #eee;
      //width: 100%;
      //border-bottom: $borders;
      span{
        display: block;
      }
      .triangle{
        svg{
          height: 110px;
          @include breakpoint(three-inches) {
            height: 90px;
          }
            .grey{}
        }
        position: relative;
        .percent{
          position: absolute;
          color: #ffffff;
          bottom: 15px;
          left: 0;
          right: 0;
          font-family: $praps-head-font;
          font-weight: 700;
          font-size: 12px;
        }
      }
      .lower{
        margin: 5px 0 20px 0;
      }
    }
    .button-section{
      background: #333;
      //background: url("../img/prapos-bg@2x.png") 50% 0%;
      //background-size: 320px 548px;
      //background: url("../img/squairy_light_@2x.png") 50% 0%;
      //background-size: 200px 200px;
      //background: url("../img/fabric_of_squares_gray_@2X.png") 50% 0%;
      //background-size: 410px 410px;
      background-size: 205px 205px;
      padding: 10px 0 60px 0;
      @include breakpoint(three-inches) {

      }
        //box-shadow: inset 0 3px 6px rgba(0,0,0,.15);
      box-shadow: inset 0 3px 0px #cccccc;
      .dashboard-mega-button{
        $size: 45px;
        background: $praps-red;
        //position: absolute;
        bottom: 85px;
        left: 0;
        right: 0;
        width: 75%;
        display: block;
        margin: 30px auto 0 auto;
        @include breakpoint(three-inches) {
          margin: 10px auto;
        }
        font-family: $praps-head-font;
        font-weight: 700;
        font-size: 1.4em;
        color: #ffffff;
        height: $size;
        line-height: $size - 3px;
        border-radius: 2px;
        box-shadow: 0 3px 0 $praps-red-dark;
        cursor: pointer;
        &:active{
          position: relative;
          top: 3px;
          box-shadow: none;
        }
      }
    }
  }
}


/* Possible Helpers */
//iPhone < 5:
@media screen and (device-aspect-ratio: 2/3) {}

//iPhone 5:
@media screen and (device-aspect-ratio: 40/71) {}

//iPad:
@media screen and (device-aspect-ratio: 3/4) {}