#flashcards-cases{
  background: #333333;
  .learn-your-lessons, .all-flashcards{
    padding: 30px 20px 20px 20px;
    text-align: center;
    font-family: $praps-paragraph-font; //
    font-weight: 100;
    color: #ffffff;
    font-size: 26px;
    line-height: 120%;
  }
  .controls{
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    .control{
      $size: 20px;
      color: #333;
      display: inline-block;
      background: #fff;
      font-size: $size;
      font-family: $praps-head-font;
      font-weight: 700;
      line-height: $size;
      padding: 2px 4px;
      margin: 4px 1px;
      border-radius: 2px;
      box-shadow: 0 2px 0 #ccc;
      cursor: pointer;
      //-webkit-transition: background .3s;-moz-transition: background .3s;-ms-transition: background .3s;-o-transition: background .3s;transition: background .3s;
      &.active{
        background: #ddd;
        box-shadow: none;
        position: relative;
        top: 2px;
        //color: #ffffff;
      }
      &.mixer{
        background: $praps-green;
        box-shadow: 0 2px 0$praps-green-dark;
        color: #ffffff;
      }
      &.eng{
        background: $praps-purple;
        box-shadow: 0 2px 0 $praps-purple-dark;
        color: #ffffff;
        &.active{
          box-shadow: none;
          background: $praps-purple-dark;
        }
      }
      &.akk{
        background: $praps-yellow;
        box-shadow: 0 2px 0$praps-yellow-dark;
        color: #ffffff;
        font-weight: 300;
        font-family: $praps-paragraph-font;
        &.active{
          box-shadow: none;
          background: $praps-yellow-dark;
        }
      }
      &.dat{
        background: $praps-orange;
        box-shadow: 0 2px 0 $praps-orange-dark;
        color: #ffffff;
        font-weight: 300;
        font-family: $praps-paragraph-font;
        &.active{
          box-shadow: none;
          background: $praps-orange-dark;
        }
      }
      &.mixer.active{
        //background: #fff;
        //box-shadow: 0 2px 0 #ccc;
        //color: #333;
        top: 0;
          &:active{
          top: 2px;
          position: relative;
          box-shadow: none;
        }
      }
      &:active{
        position: relative;
        top: 2px;
        box-shadow: none;
      }
      &.all{
        //display: none;
        color: #ffffff;
        //background: #777;
        background: $praps-red;
        //box-shadow: 0 2px 0 #555;
        box-shadow: 0 2px 0 $praps-red-dark;
        font-family: $praps-paragraph-font;
        font-weight: 300;
        &.active{
          top: 2px;
          position: relative;
          box-shadow: none;
          background: $praps-red-dark;
        }
      }
    }
  }
  .flashcards-list{
    min-height: 170px;
    width: 85%;
    margin: 20px auto 0 auto;
    text-align: center;
    padding-bottom: 0px;
    //background: #552bdf;
    position: relative;
    .spinner {
      stroke: #fff;
    }
    .icon{
      position: absolute;
      top: 50px;
      right: 0;
      left: 0;
      color: #ffffff;
      font-size: 4em;
    }
    .mix{
      display: none;
      $size: 160px;
      width: 100%;
      height: $size;
      margin: 20px 0;
      position: relative;
      -webkit-perspective: 600px;
      -moz-perspective: 600px;
      perspective: 600px;
      .side-de, .side-en{
        padding: 50px 15px 20px 15px;
        height: $size;
        background: #ffffff;
        box-shadow: 0 5px 0 #aaa;
        border-radius: 1px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        .formula, .translation{
          font-family: $praps-head-font;
          font-weight: 700;
          font-size: 18px;
        }
        .example, .example-translation{
          font-family: $praps-paragraph-font;
          font-weight: 100;
          font-size: 15px;
          padding-top: 5px;
        }
      }
      .side-de{
        z-index: 900;

        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        transform: rotateX(0deg) rotateY(0deg);

        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;

        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;

        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;

        .as-in-english-true{
          font-size: 18px;
          position: absolute;
          left: 0;
          right: 0;
          top: 20px;
        }
        .num{
          position: absolute;
          top: 3px;
          right: 6px;
          font-family: $praps-head-font;
          font-weight: 700;
          color: #dddddd;
          font-size: 18px;
          //text-shadow: 0 1px 0px #bbb, 0 -1px 0 #fff;
        }
        .as-in-english-false{
          i{display: none;}
        }
        .formula{}
        .example{}
        &.akk{
          border-left: 6px solid $praps-yellow;
        }
        &.dat{
          border-left: 6px solid $praps-orange;
        }
      }
      &.flip .side-de{
        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }
      .side-en{
        z-index: 800;

        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-179deg); /* setting to 180 causes an unnatural-looking half-flip */
        transform: rotateY(-179deg);

        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;

        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;

        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;

        .num{
          position: absolute;
          top: 3px;
          right: 6px;
          font-family: $praps-head-font;
          font-weight: 700;
          color: #dddddd;
          font-size: 18px;
        }
        .translation{}
        .example-translation{}
      }
      &.flip .side-en{
        z-index: 1000;

        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        transform: rotateX(0deg) rotateY(0deg);

      }

      /*&.click .side-de{
        cursor: pointer;
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        transform: rotateX(0deg);
      }
      &.click.flip .side-de{
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        transform: rotateX(180deg);
      }
      &.click .side-en{
        cursor: pointer;
        -webkit-transform: rotateX(-180deg);
        -moz-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
      }
      &.click.flip .side-en{
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        transform: rotateX(0deg);
      }*/
    }
  }
}

.bottom{
  text-align: center;
  .praps-ok-button{
    margin: 30px auto 60px auto;
    @include praps-ok-button(60px, 30px);
    color: #ffffff;
  }
}
