#flashcards{
  background: $praps-orange-dark;

  .wrap {
    font-weight: 100;
    font-size: 20px;
    padding: 20px 15px;
    text-align: center;

    .intro {
      text-align: center;
      color: #fff;
      font-family: $praps-paragraph-font;
      font-size: 24px;
      margin: 0 15px 30px 15px;
      line-height: 120%;

      @include breakpoint(three-inches) {
        font-size: 20px;
      }
    }

    .decks {
      //background: #eee;

      .deck {
        margin-bottom: 30px;
        cursor: pointer;

        .enter {
          position: relative;
          background: #e5e5e5;
          padding: 15px 50px 15px 20px;
          color: #111;
          display: block;
          line-height: 120%;
          font-size: 16px;
          border-radius: 5px;
          box-shadow: 0 4px 0 #999;

          h3 {
            padding: 0;
            margin-top: 0;
            font-size: 16px;
            text-align: left;

            @include breakpoint(three-inches) {
              font-size: 14px;
            }
          }

          p {
            font-size: 16px;

            @include breakpoint(three-inches) {
              display: none;
            }
          }

          &.regular {}

          &.cases {
            h3 {
              color: #888;
            }

            &:active {
              top: 0;
              box-shadow: 0 4px 0 #999;
            }
          }

          &:active {
            top: 4px;
            box-shadow: none;
          }

          .arrow {
            position: absolute;
            right: 15px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            font-size: 30px;
            color: #aaa;
          }

          img {
            width: 220px;
            height: auto;

            @include breakpoint(three-inches) {
              width: 180px;
            }
          }
        }
      }
    }

    .praps-ok-button{
      margin: 5px auto 0 auto;
      @include praps-ok-button(60px, 30px);
      color: #ffffff;
      text-align: center;
    }
  }
}