#games{
  background: #333;
  //background: url("../img/fabric_of_squares_gray_@2X.png") 50% 0%;
  //background-size: 410px 410px;
  //background-size: 205px 205px;

  text-align: center;
  section{
    display: inline-block;
    width: 50%;
    float: left;
    height: 200px;
    margin-top: 5px;

    .badge{
      height: 130px;
      width: 130px;

      @include breakpoint(three-inches) {
        height: 120px;
        width: 120px;
      }

      display: inline-block;
      margin-top: 40px;

      @include breakpoint(three-inches) {
        margin-top: 25px;
      }

      background: #000000;
      border-radius: 5px;
      text-align: center;
      padding: 5px 0 0 0;
      cursor: pointer;

      .svg{
        //height: 100px;
      }

      &.matrix, &.bubbles, &.shooter, &.flappy {
        background: #ffffff;
        box-shadow: 0 6px 0 #aaa;

        &:active{
          box-shadow: none;
          position: relative;
          top: 6px;
        }

        .svg{
          height: 120px;

          @include breakpoint(three-inches) {
            height: 110px;
          }
        }
      }

      //&.bubbles{
      //  background: #ffffff;
      //  box-shadow: 0 6px 0 #aaa;
      //  &:active{box-shadow: none; position: relative; top: 6px;}
      //  .svg{
      //    height: 120px;
      //    @include breakpoint(three-inches) {
      //      height: 110px;
      //    }
      //  }
      //}
      //&.shooter{
      //  background: #ffffff;
      //  box-shadow: 0 6px 0 #aaa;
      //  &:active{box-shadow: none; position: relative; top: 6px;}
      //  .svg{
      //    height: 120px;
      //    @include breakpoint(three-inches) {
      //      height: 110px;
      //    }
      //  }
      //}
      //&.flappy{
      //  background: #ffffff;
      //  box-shadow: 0 6px 0 #aaa;
      //  &:active{box-shadow: none; position: relative; top: 6px;}
      //  .svg{
      //    height: 120px;
      //    @include breakpoint(three-inches) {
      //      height: 110px;
      //    }
      //  }
      //}
    }
    .label{
      color: #ffffff;
      display: block;
      font-family: $praps-head-font;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 20px;
      font-size: 20px;
      @include breakpoint(three-inches) {
        font-size: 18px;
        margin-top: 15px;
      }
    }
  }
  .message{
    font-family: $praps-paragraph-font;
    font-weight: 100;
    font-size: 16px;
    margin-top: 30px;
    background: #ffffff;
    padding: 20px 0 60px 0;
    //box-shadow: 0 2px 8px #bbb;
    //box-shadow: inset 0 4px 0px #bbb;
  }
}