html{
  height: 100%;
  -webkit-font-smoothing: antialiased;
  body{
    a{
      color: #ffffff;

      text-decoration: none;
      &:hover{color: inherit}
      &:active{color: inherit}
    }
    .hidden{
      display: none;
    }
  }
}

.pane, .view {
  background: #222;
}

h1.title{
  font-family: $praps-head-font;
  font-weight: 700;
}

.menu-content{
  box-shadow: -1px 0 6px rgba(0,0,0,.3);
}

.praepp-nav-bar{
  background: #222;
  color: #fff;
  //background: #ff7457;
  //margin-top: -20px;
  border: none;
  .button{
    color: #ffffff;
  }
  h1.title{
    color: #ffffff;
    left: 0 !important;
    right: 0 !important;
    font-size: 1.5em;
  }
}