#praps-intro{
  //display: none;
  background: #222;
  padding-top: 20px;
  @include breakpoint(three-inches) {
    padding-top: 10px;
    //padding-bottom: 5px;
  }
  .slider{
    margin: 0;
    .box{
      font-family: $praps-paragraph-font;
      font-weight: 100;
      height: 480px;
      @include breakpoint(three-inches) {height: 400px}
      overflow: hidden;
      margin-bottom: 10px;
      text-align: center;
      font-size: 26px;
      line-height: 120%;

      @include breakpoint(three-inches) {
        font-size: 22px;
        //line-height: 110%;
      }

      // Common for all slides
      .top, .middle {
        padding: 5px 30px;
      }
      .top{
        margin: 20px 0 20px 0;
        height: 150px;
        color: #ffffff;
        @include breakpoint(three-inches) {
          height: 130px;
        }
      }
      .middle{
        padding: 20px 0;
        background: #ffffff;
        @include breakpoint(three-inches) {
          padding: 15px 0;
        }
      }

      // Specific slides
      &.intro-1{
        //background: $praps-purple;
        .top{
        }
        .middle{
          .svg{
            max-height: 240px;
            @include breakpoint(three-inches) {
              max-height: 200px
            }
            //margin: 10px 0 10px 0;
          }
        }
      }
      &.intro-2{
        .top{}
        .middle{
          svg{
            max-height: 240px;
            @include breakpoint(three-inches) {
              max-height: 200px
            }
          }
        }
        //background: $praps-orange;
      }
      &.intro-3{
        .top{
          p{
            padding: 10px 0;
            font-size: 32px;
            @include breakpoint(three-inches) {
              font-size: 28px;
              line-height: 110%;
            }
          }
        }
        .middle{
          background: #222;
          color: #ffffff;
          padding: 0;
          p{

          }
          #got-it-intro-button{
            $size: 100px;
            font-family: $praps-head-font;
            font-weight: 700;
            display: block;
            color: #fff;
            background: $praps-purple;
            box-shadow: 0 4px 0 $praps-purple-dark;
            width: $size;
            height: $size;
            line-height: $size;
            border-radius: 50%;
            margin: 100px auto 0px auto;
            padding: 0;
            font-size: 32px;
            text-transform: uppercase;
            &:active{
              position: relative;
              top: 4px;
              box-shadow: none;
            }
          }
        }
        //background: $praps-green;
      }
    }
  }

  .pager-buttons{
    //background: #ffffff;
    height: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
    .pager-button{
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 50%;
      background: #eeeeee;
      box-shadow: 0 3px 0 #999;
      margin: 0 5px;
    &.active{
      position: relative;
      top: 3px;
      box-shadow: none;
      background: #cccccc;
    }
    }
  }
}