#learned{
  text-align: center;
  background: #333333;
  .container{
    text-align: center;
    background: #fff;
    width: 85%;
    margin: 20px auto 0 auto;
    border-bottom: 4px #999 solid;
    .intro{
      padding: 15px 15px 15px 15px;
      font-family: $praps-paragraph-font;
      font-weight: 100;
      font-size: 24px;
      @include breakpoint(three-inches) {
        font-size: 19px;
        line-height: 120%;
      }
      line-height: 120%;
      &.yes-results{
        background: $praps-orange;
        color: #ffffff;
        margin-bottom: 20px;
      }
      &.no-results{
        background: #ffffff;
        color: #222;
      }
      .nice-job{
        //font-weight: 300;
      }
    }
    .learned-list{
      padding: 10px;
      .learned-list-item{
        padding: 25px 0;
        position: relative;
        //border-top: 1px solid #aaaaaa;
        .formula{
          font-family: $praps-head-font;
          font-weight: 700;
          font-size: 16px;
          &.akk{
            &:before{
              $size: 6px;
              content: "";
              width: $size;
              height: $size;
              background: $praps-yellow;
              display: inline-block;
              border-radius: 50%;
              position: relative;
              top: -1px;
              margin: 0 5px 0 0;
            }
          }
          &.dat{
            &:before{
              $size: 6px;
              content: "";
              width: $size;
              height: $size;
              background: $praps-orange;
              display: inline-block;
              border-radius: 50%;
              position: relative;
              top: -1px;
              margin: 0 5px 0 0;
            }
            &:after{
              margin: 0 0 0 5px;
            }
          }
        }
        .translation{
          font-family: $praps-paragraph-font;
          font-weight: 100;
          font-size: 14px;
          line-height: 100%;
          font-style: italic;
          }
        .the-same-true{
          padding: 0;
          margin-bottom: 4px;
        }
      }
    }
  }
  .praps-ok-button{
    margin: 30px auto 60px auto;
    @include praps-ok-button(60px, 30px);
    color: #ffffff;
  }
  .icon{
    font-size: 70px;
    margin: 5px 0 15px 0;
  }
}