#learn{
  background: $praps-green-dark;
  .wrap{
    text-align: center;
    font-family: $praps-paragraph-font;
    font-weight: 100;
    font-size: 20px;
    padding: 25px 0px;
    .intro{
      margin: 5px 15px 30px 15px;
      font-size: 24px;
      line-height: 120%;
      color: #ffffff;
    }
    .rules{
      background: #ffffff;
      width: 85%;
      margin: 0 auto 30px auto;
      border-radius: 2px;
      box-shadow: 0 5px 0 #aaa;
      padding: 30px 0;
      .header{
        margin-bottom: 30px;
        font-family: $praps-head-font;
        font-weight: 700;
        font-size: 17px;
        //text-transform: uppercase;
      }
      .svg{
        //width: 100%;
        height: 1170px;
        //display: none;
      }
    }
    .bottom{
      .praps-ok-button{
        margin: 30px auto 60px auto;
        @include praps-ok-button(60px, 30px);
        color: #ffffff;
      }
    }
  }
}