.praps-menu{ //menu
  $bg-d: #565656;
  $bg-l: #666;
  background: url("../img/menu-bg.png"), $bg-d;
  //background: $bg-d;
  .praps-menu-header{
    padding: 20px 0;
    border: none;
    background: none;
    .title{
      font-family: $praps-head-font;
      font-weight: 700;
      font-size: 1.65em;
      color: #ffffff;
      margin-top: 8px;
    }
  }
  .praps-menu-content{
    top: 60px;
    font-family: $praps-paragraph-font;
    font-weight: 100;
    .scroll{
      border-top: 1px solid #333;
      border-bottom: 1px solid #aaa;
      margin: 5px 0 0px 0;
      position: relative;
      z-index: 5;
      .list{}
    }
    .item{
      border-top: none;
      background-color: $bg-l;
      color: #ffffff;
      &:last-child{
        border: none;
      }
    }
    .praps-menu-item:active{
      background: #888888;
    }
    .praps-menu-item a.item-content{
      font-family: $praps-paragraph-font;
      font-size: 1.6em;
      border: none;
      border-bottom: 1px solid rgba(165, 165, 165, 0.40);
      background-color: rgba(0, 0, 0, 0);
      margin-left: 45px;
      padding-left: 0;
      overflow: visible;
      &:before{
        position: absolute;
        top: 16px;
        left: -35px;
      }
      &:after{
        //content: ''; // todo: new thinner icon
      }
    }
    .praps-menu-item.yellow a.item-content:before{@include prapos-button-background(20px, $praps-yellow, $praps-yellow-dark, 2px);}
    .praps-menu-item.orange a.item-content:before{@include prapos-button-background(20px, $praps-orange, $praps-orange-dark, 2px);}
    .praps-menu-item.green a.item-content:before{@include prapos-button-background(20px, $praps-green, $praps-green-dark, 2px);}
    .praps-menu-item.purple a.item-content:before{@include prapos-button-background(20px, $praps-purple, $praps-purple-dark, 2px);}
    .praps-menu-item.grey a.item-content:before{@include prapos-button-background(20px, #eee, #aaa, 2px);}
    .praps-menu-item.grey a.item-content{border-bottom: none}

    &:after{ // Praps logo at the bottom of the menu panel
      content: 'ä';
      text-align: center;
      position: absolute;
      bottom: 100px;
      top: 400px;
      left: 0;
      right: 0;
      font-family: $praps-head-font;
      font-weight: 700;
      font-size: 12em;
      color: #454545;
      text-shadow: 0 1px 0 #777, 0 -1px 0 #333;
      @include breakpoint(three-inches) {
        font-size: 9em;
        top: 325px;
      }
    }
  }
}

