#played{
  text-align: center;
  background: #333333;
  .container{
    text-align: center;
    background: #fff;
    width: 85%;
    margin: 20px auto 0 auto;
    border-bottom: 4px #999 solid;
    padding-bottom: 15px;
    .intro{
      padding: 15px 15px 15px 15px;
      font-family: $praps-paragraph-font;
      font-weight: 100;
      font-size: 22px;
      @include breakpoint(three-inches) {
        font-size: 18px;
      }
      line-height: 120%;
      background: $praps-yellow;
      color: #ffffff;
      text-shadow: 0 0 1px rgba(0, 0, 0, .05);
      margin-bottom: 15px;
    }
    .stats{
      margin: 0;
      background: #ffffff;
      padding: 10px;
      width: 49%;
      display: inline-block;
      font-family: $praps-head-font;
      font-weight: 700;
      .stats-item{
        //background: #219161;
        padding: 7px 0;
        //border: 1px solid rgba(0, 0, 0, .25);
        border-radius: 2px;
        background: #ffffff;
        //box-shadow: 0 3px 0 #888;
        .game{
          text-transform: uppercase;
          padding-bottom: 2px;
          font-size: 14px;
          //background: #000000;
          //color: #ffffff;
        }
        .value{
          //font-family: $praps-head-font;
          font-family: $praps-paragraph-font;
          font-weight: 300;
          font-size: 18px;
          line-height: 45px;
          height: 45px;
          width: 45px;
          //background: #777777;
          //box-shadow: 0 3px 0 #444;
          margin: 0 auto;
          color: $praps-yellow;
          border-radius: 50%;
          border: 1px $praps-yellow solid;
        }
      }
    }
    .totals{
      .total-title{
        font-family: $praps-head-font;
        font-weight: 700;
        font-size: 30px;
        margin-top: 25px;
      }
      .total-value{
        font-family: $praps-head-font;
        font-weight: 700;
        font-size: 30px;
        //background: $praps-purple;
        width: 100px;
        display: block;
        margin: 20px auto;
        height: 60px;
        line-height: 130%;
        //border-radius: 4px;
        //padding: 4px;
        //color: #ffffff;
        //box-shadow: 0 3px 0 $praps-purple-dark;
      }
    }
    .more-stats{
      padding: 15px 15px 15px 15px;
      font-family: $praps-paragraph-font;
      font-weight: 100;
    }
  }
  .praps-ok-button{
    margin: 30px auto 50px auto;
    @include praps-ok-button(60px, 30px);
    color: #ffffff;
  }
  .icon{
    font-size: 70px;
    margin: 5px 0 15px 0;
  }
}