#settings{
  font-family: $praps-paragraph-font;
  font-weight: 100;
  //background: #333333;
  background: $praps-purple-dark;
  .wrapper{
    //width: 85%;
    //background: #ffffff;
    margin: 0 auto;
    //padding: 0px 0 15px 0;
    //box-shadow: 0 4px 0 #aaa;
    .intro{
      color: #fff;
      text-align: center;
      margin: 30px 0;
      @include breakpoint(three-inches) {
        margin: 20px 0;
      }
        padding: 0 20px;
      font-size: 18px;
      .icon{
        font-size: 70px;
        @include breakpoint(three-inches) {
          font-size: 60px;
        }
        }
    }

    .list {
      background: rgba(255, 255, 255, 1);
      margin: 0 15px;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
    }

    .settings-toggle{
      display: block;
      //margin: 0 auto;
      .list{
        .item{
          border-left: none;
          border-right: none;
        }
      }
    }
    .reset-button{
      text-align: center;
      margin: 30px auto;
      background: $praps-red;
      box-shadow: 0 4px 0 $praps-red-dark;
      border-radius: 3px;
      color: #ffffff;
      width: 85%;
      padding: 10px 10px 8px 10px;
      cursor: pointer;
      .header, .warning{
        display: block;
      }
      .header{
        margin-top: 5px;
        font-family: $praps-head-font;
        font-weight: 700;
        font-size: 22px;
        text-transform: uppercase;
      }
      .warning{
        margin-top: 6px;
        font-weight: 300;
        font-size: 13px;
      }
      &:active{
        position: relative;
        top: 4px;
        box-shadow: none;
      }
    }
  }
}

// Override default blue todo: figure out the native ionic way to change style via toggle-class or something
/*.toggle input:checked+.track{
  background-color: #444444;
  border-color: #444444;
}*/

.item-divider{
  font-family: $praps-head-font;
  font-weight: 700;
  color: #333;
}

#settings-modal{
  background: none;
  width: 70%;
  margin: 0 auto;
  display: inline-block;
  top: 130px;
  left: 0;
  right: 0;
  border: none;
  //height: 100px;
  //max-height: 100px;
  .bar{
    border-radius: 2px 2px 0 0;
    background: #333;

    .title {
      font-family: $praps-head-font;
      font-weight: 700;
      color: #fff;
    }
  }
  .content{
    background: #f3f3f3;
    padding: 0;
    margin: 0;
    text-align: center;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 4px 0 #aaaaaa;
    .praps-ok-button{}
    .praps-ok-button.yes{
      margin: 30px 8px 30px 0px;
      @include praps-ok-button(60px, 30px);
      color: #ffffff;
      background: $praps-red;
      box-shadow: 0 3px 0 $praps-red-dark;
      &:before{
        content: 'yes';
        font-size: 24px;
      }
    }
    .praps-ok-button.no{
      margin: 30px 0px 30px 8px;
      @include praps-ok-button(60px, 30px);
      color: #ffffff;
      background: $praps-purple;
      box-shadow: 0 3px 0 $praps-purple-dark;
      &:before{
        content: 'no';
        font-size: 24px;
      }
    }
  }
}