#update{
  background: #fff;
  color: #222;
  text-align: center;
  .update-tree{
    margin: 0px 0 0px 0;
    height: 270px;
  }
  .content{
    //background: #145fd7;
    margin: 45px 15px 15px 15px;
    padding: 0;
    .text{
      .praps{
        font-family: $praps-head-font;
        font-weight: 700;
      }
      font-family: $praps-paragraph-font;
      font-weight: 100;
      font-size: 1.9em;
      line-height: 120%;
      margin: 0px 0 50px 0;
    }
    .dots{
      display: none;
      list-style: none;
      .dot{}
    }
  }

  .download-button{
    display: block;
    margin: 35px auto 0 auto;
    width: 70%;
    height: 50px;
    line-height: 50px;
    font-family: $praps-head-font;
    font-weight: 700;
    font-size: 24px;
    border-radius: 2px;
    background: #aaa;
    box-shadow: 0 4px 0 #888;
    text-transform: uppercase;
    padding: 2px;
    i{
      font-size: 20px;
      position: relative;
      display: none;
    }
    &:hover{
      color: #ffffff;
    }
    &:active{
      position: relative;
      top: 4px;
      box-shadow: none;
      cursor: pointer;
    }
  }
}