/* Präps Fonts */
//todo: add all weights! see index.html for reference...
//<!--<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:400,100,300,700' rel='stylesheet' type='text/css'>-->

@font-face {
  font-family: 'NotoSans';
  font-weight: 700;
  src: url('fonts/notosans-bold.woff') format('woff'),
       url('fonts/notosans-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSans';
  font-weight: 400;
  src: url('fonts/notosans-regular.woff') format('woff'),
  url('fonts/notosans-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('fonts/roboto-thin.woff') format('woff'),
  url('fonts/roboto-thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('fonts/roboto-light.woff') format('woff'),
  url('fonts/roboto-light.ttf') format('truetype');
}

$praps-head-font: NotoSans, Arial, sans-serif;
$praps-paragraph-font: Roboto, Arial, sans-serif;

/* Präps colors */
$praps-red: #fc7360;
$praps-red-dark: #b55b4d;

$praps-yellow: #efbc4d;
$praps-yellow-dark: #aa853c;

$praps-orange: #ed844f;
$praps-orange-dark: #a8683d;

$praps-green: #61c94f;
$praps-green-dark: #478e39;

$praps-purple: #9352c1;
$praps-purple-dark: #64468c;

$praps-dark-brown: #3a2511;



/* Präps Mixins */

// Praps styled round button with bottom-shadow
@mixin prapos-button-background($diameter, $color, $color-shadow, $shadow-shift) {
    content: '';
    display: inline-block;
    width: $diameter;
    height: $diameter;
    border-radius: 50%;
    background: $color;
    box-shadow: 0 $shadow-shift 0 $color-shadow;
}

// Praps ok button
@mixin praps-ok-button($size, $font-size) {
  @include prapos-button-background($size, #aaa, #777, 3px);
  &:before{
    content: 'ok';
    line-height: $size;
    font-family: $praps-head-font;
    font-size: $font-size;
    font-weight: 700;
  }
  &:active{
    position: relative;
    top: 3px;
    box-shadow: none;
    background: #999999;
  }
}

// Media queries mixin
@mixin breakpoint($point) {
  @if $point == four-inches {
    @media (max-height: 568px) { @content; }
  }
  @else if $point == three-inches {
    @media (max-height: 480px) { @content; }
  }
}
