  #flappy{
    margin: 0;
    padding: 0;
    background: #888;
    #gameplay{
      display: block;
      margin: 0 auto;
    }
  }

  #game-over-result{
    #game-over-result-box{
      .header{
        background: #4f364a;
      }
    }
  }

#flappy-wrap{
  #game-over-result{
    display: none;
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    text-align: center;
    #game-over-result-box{
      background: #ffffff;
      width: 80%;
      margin: 0 auto;
      overflow: hidden;
      box-shadow: 0 5px 0 #aaa;
      border-radius: 2px;
      .header{
        font-family: $praps-head-font;
        font-weight: 700;
        font-size: 24px;
        background: #4f364a;
        color: #ffffff;
        padding: 10px 0;
      }
      .message{
        font-family: 'Roboto', $praps-paragraph-font, Arial, Helvetica, sans-serif;
        font-weight: 100;
        margin: 30px 0;
        padding: 0 25px;
        font-size: 24px;
        line-height: 120%;
        min-height: 80px;
      }
      .praps-learn-button{
        //display: inline-block;
        display: none;
        margin: 0px auto 250px auto;
        padding: 10px 15px;
        width: 200px;
        height: 40px;
        line-height: 100px;
        font-family: $praps-head-font;
        font-weight: 700;
        font-size: 21px;
        background: $praps-red;
        box-shadow: 0 4px 0 $praps-red-dark;
        color: #ffffff;
        border-radius: 4px;
        cursor: pointer;
        &:active{
          position: relative;
          top: 4px;
          box-shadow: none;
        }
      }
      .score{
        position: relative;
        .the-score{
          font-family: $praps-head-font;
          font-weight: 700;
          font-size: 60px;
          margin: 0px 0 40px 0;
        }
        .out-of{
          font-family: $praps-paragraph-font;
          font-weight: 100;
          font-style: italic;
          display: inline-block;
          margin-top: 5px;
          .max-possible-score{
            font-weight: 100;
          }
        }
        .flag{
          height: 45px;
          position: absolute;
          top: -10px;
          $shift: -50px;
          &.left{
            left: $shift;
          }
          &.right{
            right: $shift;
          }
        }
      }
    }
    .praps-ok-button{
      @include praps-ok-button(70px, 32px);
      color: #fff;
      margin-top: 30px;
    }
  }
}