$overlap: 70px;

#pause-button{
  position: absolute;
  top: 9px;
  z-index: 3;
  float: left;
  background: $praps-red;
  @include breakpoint(three-inches) {
    //background: #552bdf; <-- For debugging!
  }
  box-shadow: 0 3px 0 $praps-red-dark;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 30px;
  /*&:before, &:after{
    content: "";
    width: 9px;
    height: 20px;
    background: #ffffff;
    display: inline-block;
    position: relative;
    top: 10px;
    border-radius: 1px;
  }
  &:before{right: 3px}
  &:after{right: -3px}*/
  &:hover{
    color: #ffffff;
  }
  &:active{
    color: #ffffff;
    position: relative;
    top: 13px;
    box-shadow: none;
  }
}

#bar{
  background: #222222;
  //background: url("../img/prapos-bg@2x.png") 50% 100%;
  //background-size: 320px 548px;
  height: 60px;
  padding-top: 10px;
  position: relative;
  //border-bottom: 1px solid #555555;
  //box-shadow: 0 1px 0px #eee;
  //text-align: center;
  #score-holder{
    float: right;
    //color: #250a0e;
    color: #ffffff;
    //margin-right: 15px;
    margin-right: 10px;
    font-family: $praps-head-font;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
  }
  .logo{
    position: absolute;
    //top: 18px;
    //right: -59px;
    //height: 25px;
    //width: 100px;
    margin: 0 auto;
    width: 200px;
    top: 70px;
    left: 0;
    right: 0;
    //text-align: center;
  }
  .lives{
    //background: #00d4b4;
    width: 200px;
    margin: 0 auto;
    list-style: none;
    position: absolute;
    top: -0px;
    left: 0;
    right: 0;
    text-align: center;
    .live{
      display: inline-block;
      color: $praps-red;
      font-size: 10px;
      padding: 0 1px;
    }
  }
}

#card-wrap{
  //z-index: 2;
  font-family: $praps-head-font;
  font-weight: 700;
  font-size: 32px;
  display: block;
  //text-align: center;
  //position: absolute;
  position: relative;
  top: -35px;
  width: auto;
  height: $overlap;
  text-align: center;
  padding: 10px;
  //opacity: 0;
  #time-holder{
    $size: 75px;
    display: block;
    margin: 0 auto;
    position: relative;
    line-height: 130%;
    //top: -$size / 2;
    width: $size;
    height: $size;
    border-radius: 50%;
    //background: #ffffff;
    font-size: 30px;
    opacity: 1;
    z-index: 5;
    overflow: hidden;
    #time-holder-content{
      display: inline-block;
      opacity: 0;
      background: #ffffff;
      width: 100%;
    }
  }
  #card{
    background: #ffffff;
    padding: 5px 20px 6px 20px;
    border-radius: 3px;
    border-bottom: 5px solid #777;
    position: relative;
    display: block;
    overflow: hidden;
    box-shadow: 0 0 3px #ddd;
    //top: -25px;
    top: 150px;
    @include breakpoint(three-inches) {
      top: 100px;
    }
      font-size: 17px;
    opacity: 0;
     #word{
       display: block;
       padding: 12px 0 5px 0;
       //background: #000080;
       //text-transform: uppercase;
       font-size: 20px;
       .fill-in-element{
         display: inline-block;
         background: #e5e5e5;
         color: #e5e5e5;
         box-shadow: inset 0 1px 1px #bbb;
         min-width: 35px;
         padding: 1px 4px 1px 4px;
         border-radius: 2px;
         position: relative;
         top: 0px;
         left: 2px;
         text-align: center;
         font-size: 17px;
         &.guessed{
           background: rgba(44, 155, 58, 0.10);
           color: #222;
         }
       }
     }
     #translation{
       //background: #219161;
       font-family: $praps-paragraph-font;
       font-weight: 100;
       font-size: 14px;
       //padding: 15px 0;
       //position: absolute;
       //top: 0px;
       //right: 5px;
       font-style: italic;
       //color: #000;
     }
     #case{
       font-size: 10px;
       font-family: $praps-paragraph-font;
       font-weight: 300;
       font-style: italic;
       position: absolute;
       bottom: -4px;
       right: -9px;
       //background: #444444;
       width: 50px;
       //left: 0;
       text-transform: capitalize;
     }
    .same-as{
      position: absolute;
      top: 2px;
      right: 5px;
    }
    #same-as-in-english-true{
      display: none;
      //position: absolute;
      //left: -52px;
      //left: 0px;
      //top: 35%;
      font-size: 14px;
      //bottom: 0;
      .svg{
        width: 60px;
      }
    }
    #same-as-in-english-false{
      display: none;
      width: 20px;
      //position: absolute;
      right: 2px;
      top: -1px;
      //bottom: 0;
      .svg{
        //width: 20px;
        height: 11px;
      }
    }
  }
}

#game-zone{
  $line: 35px;
  width: 100%;
  background: url("../img/prapos-bg@2x.png") 50% 0%;
  background-size: 320px 548px;
  margin: -$overlap auto 0 auto;
  height: 800px;
  font-family: $praps-paragraph-font;
  font-weight: 100;
  overflow: hidden;
  .praps{
    list-style: none;
    margin: 85px 0 0 0;
    @include breakpoint(three-inches) {
      margin: 80px 0 0 0;
    }
    padding: 0;
    display: inline-block;
    opacity: 0;
    .line{
      display: inline-block;
      //width: 3000px;
      padding: 0px 4px;
      position: relative;
      margin: 15px 0;
      height: $line; //dynamic
      &:nth-child(2n-1){
        //background: rgba(204, 145, 87, 0.51);
        //text-align: right;
      }
      &:nth-child(2n){
        //background: rgba(33, 145, 97, 0.50);
        text-align: left;
      }
      .prap{
        cursor: pointer;
        position: relative;
        -webkit-backface-visibility: hidden;
        color: $praps-dark-brown;
        //border: 1px #eee solid;
        margin: 0 6px; // dynamic
        font-size: $line; // dynamic
        line-height: $line; // dynamic
        //height: 100%;
        //display: inline-block;
        padding: 0 5px;
        &.correct{
          //color: #3341c1;
          //border: 1px #ffffff solid;
          //-webkit-animation-duration: 3s;
          //-webkit-animation-delay: 2s;
          //-webkit-animation-iteration-count: infinite;
        }
        &.incorrect{
          //color: #ff7457;
        }
        &.guessed{
          //color: green;
          background: $praps-green;
          border-radius: 3px;
          box-shadow: 0 3px 0 $praps-green-dark;
          //border: #eeeeee 1px solid;
          color: #fff;
          font-weight: 300;
        }
        &.failed{
          //color: red;
        }
      }
    }
  }
}

#pain{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: $praps-red;
  z-index: -1;
  height: 800px;
  opacity: 0;
}
//#matrix{
  #game-over-result.matrix{
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    text-align: center;
    #game-over-result-box{
      background: #ffffff;
      width: 80%;
      margin: 0 auto;
      overflow: hidden;
      box-shadow: 0 5px 0 #aaa;
      border-radius: 2px;
      .header{
        font-family: $praps-head-font;
        font-weight: 700;
        font-size: 24px;
        background: $praps-red;
        color: #ffffff;
        padding: 10px 0;
      }
      .message{
        font-family: 'Roboto', $praps-paragraph-font, Arial, Helvetica, sans-serif;
        font-weight: 100;
        margin: 60px 0;
        @include breakpoint(three-inches) {
          margin: 40px 0;
        }
          padding: 0 25px;
        font-size: 24px;
        line-height: 120%;
        min-height: 140px;
      }
      .score{
        position: relative;
        .the-score{
          font-family: $praps-head-font;
          font-weight: 700;
          font-size: 60px;
          margin: 0px 0 40px 0;
        }
        .out-of{
          font-family: $praps-paragraph-font;
          font-weight: 100;
          font-style: italic;
          display: inline-block;
          margin-top: 5px;
          .max-possible-score{
            font-weight: 100;
          }
        }
        .flag{
          height: 45px;
          position: absolute;
          top: -10px;
          $shift: -50px;
          &.left{
            left: $shift;
          }
          &.right{
            right: $shift;
          }
        }
      }
    }
    .praps-ok-button{
      @include praps-ok-button(70px, 32px);
      color: #fff;
      margin-top: 30px;
    }
  }

  #game-over-fail.matrix{
    display: none;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    #game-over-fail-box{
      background: #ffffff;
      padding-bottom: 30px;
      width: 80%;
      margin: 0 auto;
      overflow: hidden;
      box-shadow: 0 5px 0 #aaa;
      border-radius: 2px;
      .header{
        font-family: $praps-head-font;
        font-weight: 700;
        font-size: 24px;
        background: $praps-red;
        color: #ffffff;
        padding: 10px 0;
      }
      .scull{
        height: 100px;
        margin-top: 30px;
        @include breakpoint(three-inches) {
          height: 70px;
          margin-top: 20px;
        }
      }
      .message{
        font-family: $praps-paragraph-font, Arial, Helvetica, sans-serif;
        font-weight: 100;
        margin: 35px 0 35px 0;
        @include breakpoint(three-inches) {
          margin: 20px 0;
        }
        padding: 0 25px;
        font-size: 24px;
        @include breakpoint(three-inches) {
          font-size: 21px;
        }
        line-height: 120%;
      }
      .praps-learn-button{
        margin: 15px auto 25px auto;
        padding: 10px 15px;
        width: 200px;
        height: 40px;
        line-height: 40px;
        font-family: $praps-head-font;
        font-weight: 700;
        font-size: 21px;
        background: $praps-red;
        box-shadow: 0 4px 0 $praps-red-dark;
        color: #ffffff;
        border-radius: 4px;
        cursor: pointer;
        &:active{
          position: relative;
          top: 4px;
          box-shadow: none;
        }
      }
    }
    .praps-ok-button{
      @include praps-ok-button(70px, 32px);
      color: #fff;
      margin-top: 30px;
      @include breakpoint(three-inches) {
        margin-top: 20px;
      }
      //color: rgba(129, 197, 245, 0.81);
    }
  }
//}